.diaAgenda{
	background-color: rgb(71, 149, 160);
	color: white;
	width: 27px;
	text-align:center;
	padding: 5px;
	float:left;
	font-size: 12px;
	font-weight: bold;
	border: 1px #fff solid;
}
.nomeEvento{
	padding: 5px;
	height: auto;
	cursor: pointer;
	border: 1px #fff solid;
	font-size: 12px;
	font-weight: bold;
	
}
.diaEventoFixo{
	font-weight: bold; 
	color:orange; 
	margin: 5px; 
	padding:5px
}
.diaEventoFixo{
	margin: 5px; 
	padding:5px
}
.direita{
	height: 695px !important;
	overflow:auto; 
	background: #D2EAF1 !important;
}

.esquerda{
	height: 590px !important;
}

.meio{
	top:65px;
}

.agendaFixa{
	position:relative;
	top:90px;
	width: 100%;
	padding: 5px 10px 10px 5px;
}