#foto {
	background-image: url("../img/foto.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border: thin solid rgb(180,205,200);
    border-radius: 10px;
    cursor: pointer;
    float: left;
    height: 165px;
    margin-right: 21px;
    width: 165px;
}

#Arquivo_Foto_Aluno
{
	display:none;
}

.linha {
	width: 80% !important;
	margin-bottom: 0.2%;
}

/* CSS para envolver as celulas*/
#linha1,#linha2,#linha3,#linha4,#linha5{
	margin-bottom: 0.25%;
}

#frmCadastroEvento{
	display:none;
}

#frmCadastroEvento #linha1
{
	float:none;
}

.celulaPequena {
	width: 39.3%;
	border: none;
}

.celulaPequenaBtn {
	width: 103px;
	margin: 5px -2px;
}

.celulaPequenaBtn1 {
	width: 117px;
	margin: 5px 15px 5px;
	float:right;
}

.dataEvn{
	font-weight:bold;
}

.dataHora{
	font-size:14px;
}

.infoPFerAula{
	width: 39%;
	height: 39px;
	padding: 12px;
	background-color: #C8C8C3;
	text-align: right;
	float: left;
	border-right: 2px solid #B6B6B0;
}

.infoValuePFoto{
	width: 47%;
	height: 37px;
	background-color: #F2F1ED;
	float: left;
}

.celulaMedia{
	width: 66.2%;
}

.celulaFoto{
	width: 140px;
	overflow: hidden;
	background-color: rgb(250,248,246);
	color: #666;
	float: left;
	margin-left: 4px;
}
.celulaOpcao{
	width: 323px;
	overflow: hidden;
	background-color: rgb(250,248,246);
	color: #666;
	float:right;
}

#btnCancelar{
	background-color: #70a098;
	font-size: 19px;
	color: #fff;
	text-align: center;
	padding-top: 13px;
	height: 38px;
	cursor:pointer;
}


#abrirCaixa{
	background-color: #70a098;
	font-size: 19px;
	color: #fff;
	text-align: center;
	padding-top: 13px;
	height: 38px;
	cursor:pointer;
}

/* CSS do input tipo radio */
input[type=radio] {
	width: 1.86%;
	height: 1.2%;
	opacity: 0.01;
	position: absolute;
	margin: 11px;
	cursor: pointer;
}


.celulaPPequena {
	width: 33.3%;
	border: none;
}

.celulaMeio {
	width: 48.5%;
	height: auto;
	overflow: auto;
	border: 2px solid #B6B6B0;
	float: left;
	background-color: #C8C8C3;
}

.infoM{
	width: 21.9%;
}

.infoValueMm{
	width: 19%;
	padding: 10.5px;
	background-color: #F2F1ED;
	float: left;
	text-align: right;
}

.infoValueFoto {
	width: 133.7% !important;
	background-color: #F2F1ED;
	text-align: right;
}

.infoG{
	width: 14.4%;
	height: auto;
	padding: 10px;
}

.inputImg{
	width: 37px;
	height: 37px;
	background: url(../img/radio-botao.png) no-repeat;
	float: left;
	cursor: pointer;
}

.infoValuePP {
	width: 103%;
	height: 39px;
	background-color: #F2F1ED;
	float: left;
}

.infoValueM {
	width: 77.7% !important;
}

#fotoEvento{
	width: 74%;
}
#inputArquivo{
	display:none;
}
#inserirArquivo{
	height:108px;
	position: absolute;
	width: 299px;
}
#btnFotoEvento{
	float:right;
}
.submitUpload{
	display:none;
}

.celulaMediaT {
	width: 66.2%;
}
.linhaT{
	margin-bottom: 0.2%;
	overflow:auto;
	width: 100% !important;
}
#fotoCheck{
	padding: 11px 81px 11px 21px;
}

/* CSS da célula de Observação */
#infoObs{
	width: 14.5%;
	height: 70px;
	padding: 8px;
	/* background-color: #C8C8C3; */
	background-color: rgb(214, 228, 225);
	text-align: right;
	float: left;
	/* border-right: 2px solid #B6B6B0; */
	border:none;
}

#infoValueObs{
	width: 85%;
	height: 70px;
	background-color: #F2F1ED;
	float: left;
	overflow-y: hidden;
}

#infoValueObs textarea{
	width: 100%;
	height: 100%;
	resize: none;
	border: none;
	/* background-color: #F2F1ED; */
	background-color: rgb(250,248,246);
}
/* Fim do CSS da célula de observação */


input{
	border: none;
	width: 100%;
	padding: 11.5px;
	background-color: transparent;
	/* background-color: rgb(112, 160, 152); */
	overflow: hidden;
	color: #666;
}
/* CSS do input tipo date*/
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
    color: #666;
}

input[type=date]{
	padding: 8.9px;
	color: #666;
}

input[type=submit], input[type=button]{
	background:url(../img/bt_salvar.png) no-repeat;
}
/* ---- FIM ---- */

select{
	width: 100%;
	border: none;
	background-color: transparent;
	float: left;
	padding: 8.5px;
	color:#666;
}

.inputBranco{
	width: 100%;
	background-color: rgb(250,248,246);
	/* background: #F2F1ED; */
	float: left;
}


/* Arrumando padding dos inputs das respectivas linhas */
#linha19 label span, #linha23 label span, #linha27 label span{
	padding: 2.5%;
}
/* ---- FIM ---- */


/* Margins entre as células */
.ambasMargin{
	margin: 0 1.5%;
}

.rightMargin{
	margin-right: 1.5%;
}

.styled-select select{
	width: 116%;
	border: 0;
	border-radius: 0;
	height: 40px;
	-webkit-appearance: none;
}

.styled-select {
   width: 100%;
   height: 39px;
   overflow: hidden;
   background: url(../img/select-arrow.png) no-repeat right rgb(250, 248, 246);
   background-color: rgb(250, 248, 246);
  }
  
.styled-select input[type=date]{
	background: url(../img/bt_calendario.png) no-repeat right rgb(250, 248, 246);
	width: 100%;
	border: 0;
	border-radius: 0;
	height: 40px;
	-webkit-appearance: none;
}

.inputImg{
	width: 37px;
	height: 37px;
	background: url(../img/radio-botao.png) no-repeat;
	float: left;
	cursor: pointer;
}
.styled-select input[type=date]::-webkit-calendar-picker-indicator{
	opacity: .01;
}

.box_margin_barra{
	margin-right:11px;
}

.infoP, .infoM, .infoG, .infoGG, .infoPFerAula
{
	background-color: rgb(214,228,225);
	border:none;
	color: #666;
	padding:10px;
}

.infoValueP, .infoValueM, .infoValueG, .infoValueGG, .infoGGValue, .infoValueMm
{
	background-color: rgb(250,248,246);
	color: #666;
	overflow: hidden;
}

.celulaMeio
{
	height:37px;
	color: #666;
}

.celulaMeio, .celulaMedia, .celulaGrande, .celulaPPequena
{
	border: none;
	overflow: hidden;
	background-color: rgb(250,248,246);
	color: #666;
}

.boxAgenda{
	height: 721px;
	padding:5px 0px;
}
#agenda_listados{
	overflow: auto;
	height: 48%;
	margin-right:15px;
}
.item{
	width: 100%;
	float: left;
	margin-bottom: 2px;
	cursor: pointer;
}

div.item:nth-child(odd){
	background-color: #ECEBE5;
}

div.item:nth-child(even){
	background-color: #F2F2EE;
}

.titulo_evento{
	color:#666;
	width: 88%;
	float: left;
	padding: 12px;
}

.editar{
	width: 5%;
	float: right;
	padding: 21px;
	background-color: #C9C9C4;
	background-image: url(../img/bt_editar.png);
	background-repeat: no-repeat;
	background-position: 2px;
	cursor: pointer;
}

.excluir{
	width: 5%;
	float: right;
	padding: 21px;
	background-color: #C9C9C4;
	background-image: url(../img/fechar.png);
	background-repeat: no-repeat;
	background-position: -3px;
	cursor: pointer;
	margin-right:5px;
}

#btnEditarEvento{
	display:none;
}

/*======================================*/

.blackPainel
{
    display:none;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 999;
}

#JanelaUploadPortifolio
{
	width:300px;
	height:280px;
	border-radius:10px;
	border:solid thin;
	background-color: white;
	margin:0 auto;
	top:20%;
	position:relative;
}

.Titulo_janela_upload
{
	width:100%;
	height:50px;
	padding-top:15px;
	text-align: center;
	color: #878787;
}

.areaUpload
{
	width:100%;
	height:140px;
}

	.UploadButton
	{
		width: 50%;
		height:100%;
		border:solid thin blue;
		border-radius:15px;
		margin: 0 auto;
	}

.campoConfirmaUpload
{
	width: 33%;
	height: 38px;
	margin: auto;
}

	.btn_submit
	{
		display:block;
		width:90px;
		height:35px;
		margin:0 auto;
		background-color:gray;
		border:none;
		background: url("../img/bt_salvar.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		background-size: cover;
	}

#foto {
	background-image: url("../img/foto.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border: thin solid rgb(180,205,200);
    border-radius: 5px;
    cursor: pointer;
    height: 125px;
    margin: auto 74px;
    width: 50%;
}

	#fotoEvento
	{
		display:none;
	}

#content_float_upload
{
	width:200px;
	height:150px;
	background-color:white;
}


.close_upload_producao
{
	cursor:pointer;
	background-image: url("../img/cancela_ativo.png");
	width:19px;
	height:19px;
	position:absolute;
	top:10px;
	right:10px;
}

.titulo_recurso a
{
	color:rgb(2, 129, 141);
}

#LegendaUpload
{
	padding:10px;
	text-align: center;
	color: #878787;
}

#box_foto{
	width:100%;
	height: 126px;
}

@media (width: 1024px) and (max-height: 509px){

	.boxAgenda{
		height: 100%;
	}

}


@media (width: 1024px) and (min-height: 510px) and (max-height: 693px) {
	.boxAgenda{
		min-height: 470px;
		padding:5px 0px;
	}
}
@media (min-width: 1280px){
	.boxAgenda{
		height: 558px;
		padding:5px 0px;
	}
}