#Conteudo_Area {
	background-image: url(../img/alfabetizacao/background_alfabetizacao.png);
}
#conteudo_principal {
	float: left;
	width: 73.5%;
	height: 100%;
	margin: 0;
	padding: 36px 14px 36px 36px;
}
#conteudo_lateral {
	float: left;
	width: 26.5%;
	height: 100%;
	margin: 0;
	padding: 63px 36px 36px 14px;
}
#oficinas_container {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

#boxObjeto{
    float: left;
    width: 80%;
    height: 627px;
}

#boxObjeto iframe {
    padding: 0;
    width: 100%;
    height: 690px;
    border: 0;
    position: relative;
    top: 0;
}

/* Abas oficinas */
#abas_oficina {
	width: 100%;
	height: 50px;
	padding: 14px 14px 0;
	text-align: center;
}
.aba_oficina {
	margin-right: 10px;
	float: left;
	width: 11.45%;
	height: 100%;
	background-color: #eee;
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	position: relative;
	cursor: pointer;
	text-align: center;
}
.aba_oficina > span {
	display: block;
	width: 100%;
	height: 50px;
	position: relative;
	bottom: 55px;
	height: 90px;
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: auto;
}
.aba_oficina:hover > span,
.aba_ativa > span {
	width: 120%;
	height: 120px;
	margin-left: -10%;
	bottom: 70px;
}
.aba_oficina:last-child {
	margin-right: 0;
}
.aba_roteiros {
	background-color: #C77CB4;
}
.aba_roteiros > span {
	background-image: url(../img/alfabetizacao/ic_roteiros.png);
}
.aba_roteiros:hover > span,
.aba_roteiros.aba_ativa > span {
	background-image: url(../img/alfabetizacao/ic_roteiros_h.png);
}
.aba_tutoria {
	background-color: #A8D15F;
}
.aba_tutoria > span {
	background-image: url(../img/alfabetizacao/ic_tutoria.png);
}
.aba_tutoria:hover > span,
.aba_tutoria.aba_ativa > span {
	background-image: url(../img/alfabetizacao/ic_tutoria_h.png);
}
.aba_leitura_escrita {
	background-color: #F28A4D;
}
.aba_leitura_escrita > span {
	background-image: url(../img/alfabetizacao/ic_leitura_escrita.png);
}
.aba_leitura_escrita:hover > span,
.aba_leitura_escrita.aba_ativa > span {
	background-image: url(../img/alfabetizacao/ic_leitura_escrita_h.png);
}
.aba_educacao_fisica {
	background-color: #FFDE40;
}
.aba_educacao_fisica > span {
	background-image: url(../img/alfabetizacao/ic_educacao_fisica.png);
}
.aba_educacao_fisica:hover > span,
.aba_educacao_fisica.aba_ativa > span {
	background-image: url(../img/alfabetizacao/ic_educacao_fisica_h.png);
}
.aba_artes {
	background-color: #CC0070;
}
.aba_artes > span {
	background-image: url(../img/alfabetizacao/ic_artes.png);
}
.aba_artes:hover > span,
.aba_artes.aba_ativa > span {
	background-image: url(../img/alfabetizacao/ic_artes_h.png);
}
.aba_matematica {
	background-color: #A13386;
}
.aba_matematica > span {
	background-image: url(../img/alfabetizacao/ic_matematica.png);
}
.aba_matematica:hover > span,
.aba_matematica.aba_ativa > span {
	background-image: url(../img/alfabetizacao/ic_matematica_h.png);
}
.aba_ingles {
	background-color: #0090D7;
}
.aba_ingles > span {
	background-image: url(../img/alfabetizacao/ic_ingles.png);
}
.aba_ingles:hover > span,
.aba_ingles.aba_ativa > span {
	background-image: url(../img/alfabetizacao/ic_ingles_h.png);
}
.aba_arte_ciencia {
	background-color: #F0565F;
}
.aba_arte_ciencia > span {
	background-image: url(../img/alfabetizacao/ic_arte_ciencia.png);
}
.aba_arte_ciencia:hover > span,
.aba_arte_ciencia.aba_ativa > span {
	background-image: url(../img/alfabetizacao/ic_arte_ciencia_h.png);
}
/* Fim abas oficinas */

#faixa_oficina {
	width: 100%;
	height: 64px;
	padding: 0;
	margin: -1px 0;
	background-repeat: no-repeat;
	background-size: 100%;
}

#conteudo_oficina {
	width: 100%;
	height: 454px;
	padding: 0 12px;
}
#conteudo_container {
	width: 100%;
	height: 100%;
	padding: 18px;
	margin-top: -14px;
	background-color: #EBEAE5;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}
#blog_oficina_container {
	width: 65.4%;
	height: 100%;
	background-color: #F2F2ED;
	float: left;
	margin-right: 36px;
	padding: 18px 0 18px 18px;
	overflow: hidden;
}
#blog_postagens_container {
	padding-right: 18px;
}
.cx_postagem {
	width: 100%;
	min-height: 83px;
	margin-bottom: 25px;
	word-break: break-word;
}
.cx_postagem:last-child {
	margin-bottom: 0;
}
.cx_titulo {
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.2em;
	color: #666666;
	margin: 0;
	margin-bottom: 5px;
}
.cx_info {
	font-size: 12px;
	font-weight: normal;
	color: #BABABA;
	margin: 0;
	margin-bottom: 15px;
	text-transform: uppercase;
	letter-spacing: .005em;
}
.img_postagem {
	width: 50%;
	margin-right: 10px;
	float: left;
}
.cx_texto {
	margin-top: 10px;
	color: #666;
	line-height: 1.3em;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: .005em;
}
.cx_texto:first-of-type {
	margin-top: 5px;
}
.fim_postagem {
	display: block;
	width: 100%;
	float: left;
	margin: 0;
	margin-top: 10px;
	border: 0;
	border-top: 1px solid #aaa;
}
.cx_postagem::after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}

#acordeon_oficina_content {
	width: 30.2%;
	float: left;
	height:90%;
	overflow: auto;
}

.acordeon_oficina {
	/*width: 30.2%;
	float: left;
	height:90%;*/
	padding-right: 6px;
	overflow: hidden;
}
.acordeon_oficina_title h2 {
	font-size: 14px;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 10px;
	line-height: 1.3em;
	text-transform: uppercase;
	letter-spacing: .005em;
}

.roteiro_info {
	position: relative;
	padding-left: 30px;
	color: #666;
	font-size: 14px;
	line-height: 1em;
	cursor: pointer;
}
.roteiro_num_listagem {
	position: absolute;
	width: 30px;
	height: 32px;
	top: 0;
	left: 0;
	padding: 8px 0;
	color: #fff;
	text-align: center;
	border: 1px solid #fff;
	border-bottom: none;
	border-right: none;
}
.roteiro_nome {
	padding: 8px;
	border: 1px solid #fff;
	border-bottom: none;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: .005em;
}
.objetivo_status {
	position: absolute;
	width: 15px;
	height: 15px;
	border: 1px solid #fff;
	top: 7px;
	right: 7px;
	background-color: #ccc;
}

.oficina_planejamento.roteiro_expandido .roteiro_num_listagem,
.oficina_planejamento:last-child .roteiro_num_listagem,
.oficina_planejamento:last-child .roteiro_nome {
	border-bottom: 1px solid #fff;
}

.oficina_planejamento.roteiro_expandido:last-child .roteiro_nome {
	border-bottom: none;
}

.objetivo_aberto {
	background-color: #f7931d;
}
.objetivo_entregue {
	background-color: #8ec449;
}
.roteiro_conteudo {
	width: 100%;
	position: relative;
	padding-left: 30px; 
	overflow: hidden;
	display: none;
}
.roteiro_item {
	position: relative;
	min-height: 30px;
	height: auto;
	width: 100%;
	background-color: #f2f2ee;
	border: 1px solid #fff;
	border-bottom: none;
	color: #666;
	font-size: 12px;
	padding: 8px;
	padding-right: 30px;
	text-transform: uppercase;
	letter-spacing: .005em;
	line-height: 1.3em;
}
.roteiro_descricao {
	background-color: #e5e5dc;
	padding-right: 8px;
}
.roteiro_recurso {
	background-position: left center;
	background-repeat: no-repeat;
	min-height: 24px;
	padding: 5px 25px;
}

.recurso_foto {
	background-image: url(../img/ic_foto.png);
}
.recurso_link {
	background-image: url(../img/ic_pgweb.png);
}
.recurso_video {
	background-image: url(../img/ic_video.png);
}
.recurso_jogo {
	background-image: url(../img/ic_jogo.png);
}
.recurso_audio {
	background-image: url(../img/ic_audio.png);
}
.recurso_livro {
	background-image: url(../img/ic_livro2.png);
}


/* Box lateral */
#abas_box_lateral {
	width: 100%;
	height: 70px;
}
.aba_box_lateral {
	float: left;
	height: 100%;
	margin-right: 10px;
	width: 31%;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center center;
}
.aba_box_lateral:last-child {
	margin-right: 0;
}
.aba_rotina {
	background-color: #b2d235;
	background-image: url(../img/alfabetizacao/ic_rotina.png);
}
.aba_mensagens {
	background-color: #007f92;
	background-image: url(../img/alfabetizacao/ic_mensagens.png);
}
.aba_mural {
	background-color: #F7C481;
	background-image: url(../img/alfabetizacao/ic_mural.png);;
}

#abas_box_lateral::after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}
#box_lateral {
	width: 100%;
	height: 456px;
}
#box_lateral > div {
	width: 100%;
	height: 100%;
	padding: 67px 18px 18px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	background-position: 18px 24px;
	background-repeat: no-repeat;
}
.box_rotina {
	background-color: #b2d235;
	background-image: url(../img/alfabetizacao/cabecalho_rotina.png);
}

.box_mensagens {
	background-color: #007f92;
	background-image: url(../img/alfabetizacao/cabecalho_mensagens.png);
	position: relative;
}

.box_mural {
	background-color: #F7C481;
	background-image: url(../img/alfabetizacao/cabecalho_mural.png);
}
.box_conteudo {
	width: 100%;
	height: 100%;
	background-color: #fff;
	overflow: hidden;
}
#box_lateral > div:first-child > div{
	padding: 2px;
}
#box_lateral > div:last-child {
	padding-right: 0;
}
#box_lateral > div:nth-child(2) {
	padding-bottom: 45px;
}
#box_lateral > div:last-child > .box_conteudo {
	background: none;
}

/* Box rotina */
table.tabela_rotina {
	display: block;
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}
table.tabela_rotina > thead,
table.tabela_rotina > thead > tr,
table.tabela_rotina > tbody,
table.tabela_rotina > tbody > tr {
	display: block;
	width: 100%;
}
.tabela_rotina > thead > tr > th{
	height: 44px;
	display: block;
	float: left;
	border: 2px solid #fff;
}
.tabela_rotina > thead > tr::after,
.tabela_rotina > tbody > tr::after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}
th.rotina_seta {
	width: 20%;
	background-color: #129FAE;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center;
}
th.rotina_seta:hover {
	background-color: #23BFCD;
}
th.rotina_dia {
	width: 60%;
	background-color: #23BFCD;
	color: #fff;
	font-weight: 500;
	letter-spacing: .05em;
	padding: 12px 0;
	text-transform: uppercase;
}
th.seta_anterior {
	background-image: url(../img/CA2.png);
}
th.seta_proximo {
	background-image: url(../img/CA1.png);
}
.tabela_rotina > tbody > tr > td{
	height: 54px;
	width: 60%;
	display: block;
	float: left;
	border: 2px solid #fff;
}
.tabela_rotina > tbody > tr > td:first-child,
.tabela_rotina > tbody > tr > td:last-child {
	width: 20%;
	vertical-align: middle;
	text-align: center;
	background-color: #EBEAE5;
	padding: 17px 0;
}
/*.tabela_rotina > tbody > tr:nth-child(4) > td:first-child {
	background-color: #FBB040;
}*/
/*.tabela_rotina > tbody > tr:nth-child(4) > td:last-child {
}*/

.tabela_rotina > tbody > tr > td.recreio {
	background-color: #FBC93F;
	width: 80%;
	padding: 0;
	background-image: url(../img/alfabetizacao/ic_recreio.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;

}

.tabela_rotina > tbody > tr > td:last-child {
	font-size: 12px;
	text-transform: uppercase;
}
.tabela_rotina > tbody > tr > td:nth-child(2) {
	padding: 8px 0;
}
.tabela_rotina > tbody > tr > td:nth-child(2) > div {
	padding: 1px 5px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .01em;
}
.tabela_rotina > tbody > tr > td:nth-child(2) > div:first-child {
	height: 20px;
	font-size: 12px;
}
.tabela_rotina > tbody > tr > td:nth-child(2) > div:last-child {
	height: 15px;
	font-size: 11px;
	overflow: hidden
}

/* Mensagens */
.abas_mensagens {
	width: 100%;
	height: 20px;
}
.abas_mensagens::after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}
.abas_mensagens > span {
	display: block;
	float: left;
	width: 50%;
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	background-color: #007f92;
	padding: 3px;
	cursor: pointer;
	border: 1px solid #007f92;
}
.abas_mensagens > .aba_mensagem_ativa {
	background-color: #fff;
	color: #007f92;
	border: none;
}
.conteudo_mensagens {
	position: relative;
	margin: 0;
	padding: 0;
	height: 322px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 257px;
}

#msg_content
{
	height: auto;
	width:100%;
	
}

.conteudo_mensagens > div {
	padding: 5px;
}

#mensagens_entrada{
	padding-right: 3px;
}

.mensagem_post {
	padding: 10px;
	background-color: #f2f2f2;
	margin-top: 5px;
	cursor: pointer;
}
.mensagem_post:first-child {
	margin-top: 0;
}
.mensagem_post > h1 {
	margin: 0;
	font-size: 14px;
	letter-spacing: .02em;
	line-height: 1.4em;
	font-weight: 500;
	color: #666;
	text-transform: uppercase;
}
.mensagem_post > h2 {
	margin: 0;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: .02em;
	text-align: right;
	color: #999;
}
.mensagem_post > :first-child {
	margin-bottom: 5px;
}

/* Mural */
.mural_container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.mural_post {
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #fff;
	padding: 10px 5px;
	margin-bottom: 5px;
}
.mural_post:last-child {
	margin-bottom: 0;
}
.mural_post > h1 {
	margin-top: 0;
	margin-bottom: 10px;
	text-transform: uppercase;
	text-align: right;
	font-weight: 500;
	font-size: 12px;
	letter-spacing: .02em;
	color: #999;
}
.mural_post > h1 > span:first-child::after {
	content: " | ";
}
.mural_post > p {
	margin: 0;
	height: auto;
	/*max-height: 45px;*/
	overflow: hidden;
	color: #666;
	letter-spacing: 0.02em;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 1.4em;
}
.post_ativo {
	background-color: #3399a8;
	margin-bottom: 0;
}
.post_ativo > h1,
.post_ativo > h2 {
	color: #fff;
}
.mensagem_nao_lida {
	background-color: #e6e6e6;
	background-image: url(../img/envelope_fechado.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
}
.mensagem_post_conteudo {
	border: 2px solid #3399a8;
	border-top: none;
	background-color: #e6e6e6;
	padding: 10px;
	height: auto;
	display: none;
}
.mensagem_post_conteudo > h3 {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: .02em;
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: 500;
	color: #999;
}
.mensagem_post_conteudo > p {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: .02em;
	line-height: 1.4em;
	margin: 0;
	color: #666;
}
.bottom_btns {
	position: absolute;
	width: 100%;
	bottom: 12px;
	padding: 0 18px;
	left: 0;
}
.btns_left {
	float: left;
	margin-right: 5px;
}
.btns_right {
	float: right;
	margin-left: 5px;
}
.bottom_btns::after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}
.mensagem_icone {
	display: block;
	margin-left: 5px;
	width: 25px;
	height: 25px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center center;
}
.mensagem_icone:last-child {
	margin-left: 0;
}
.nova_mensagem {
	background-image: url(../img/ic_escrever.png);
}
.enviar_mensagem {
	background-image: url(../img/ic_enviar_w.png);
}
.responder_mensagem {
	background-image: url(../img/ic_responder_w.png);
}
.deletar_mensagem {
	background-image: url(../img/ic_deletar_w.png);
}
.cancelar_acao {
	background-image: url(../img/ic_cancelar_w.png);
}
.formulario_mensagem {
	width: 100%;
	height: 100%;
	padding: 5px;
}
.formulario_mensagem > form {
	position: relative;
	height: 100%;
}
.formulario_mensagem > form > input,
.formulario_mensagem > form > textarea,
.formulario_mensagem > form > input:read-only {
	display: block;
	border: 1px solid #ccc;
	background-color: #f1f1ed;
	border-radius: 0;
	resize: none;
	width: 100%;
	margin-top: 5px;
	text-transform: uppercase;
	letter-spacing: .02em;
	line-height: 1.4em;
	padding: 5px;
}
.formulario_mensagem > form > input:read-only {
	cursor: pointer;
	background-image: url(../img/ic_drop_claro.png);
	background-repeat: no-repeat;
	background-position: right 5px center;
	margin-top: 0;
}
.formulario_mensagem > form > textarea {
	height: 260px;
    margin: 0 6px;
    width: 95%;
}
.destinatarios_container {
	width: 100%;
	max-height: 250px;
	position: absolute;
	background-color: #fff;
	padding: 8px;
	padding-right: 0;
	border: 1px solid #ccc;
	overflow: hidden;
	border-top: none;
	display: none;
}
.destinatarios_container .destinatario {
	padding: 5px;
	background-color: #EFEFEF;
	margin-bottom: 5px;
}
.destinatarios_container .destinatario:last-child {
	margin-bottom: 0;
}
.destinatarios_container .destinatario > input {
	float: left;
	width: auto;
	cursor: pointer;
}
.destinatarios_container .destinatario > label {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: .02em;
	line-height: 1.4em;
	color: #666;
	cursor: pointer;
}
.destinatarios_ativo {
	background-image: url(../img/ic_retract_claro.png);
	background-position: right center;
    background-repeat: no-repeat;
}
.destinatarios_ativo + .destinatarios_container {
	display: block;
}







#Conteudo_Area, #Cabecalho_Perfil_Area
{
	opacity:0;
}



/* PLUGIN BARRA DE ROLAGEM */
.mCSB_scrollTools_vertical {
	right: 0 !important;
}
#destinatarios_container .mCSB_scrollTools_vertical  {
	right: -2px !important;
}
#destinatarios_container .mCSB_container {
	padding-right: 8px;
}
#box_lateral > div:last-child > .box_conteudo > .mural_container .mCSB_scrollTools_vertical {
	right: 6px !important;
}
#box_lateral > div:last-child > .box_conteudo > .mural_container .mCSB_container {
	padding-right: 18px;
}
.mural_container .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: #fff !important;
}




#content_central{
    margin: -14px -1px !important;
    width: 67.6% !important;
    padding: 0 !important;
}