html, body
{
	padding:0;
	margin:0;
}

*{-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;}

.box_linha {
	display: block;
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
}
.box_linha:first-of-type {
	padding-top: 0;	
}
.box_linha:last-of-type {
	padding-bottom: 0;	
}
.box_linha::after {
	content: "";
	clear: both;
	display: block;
}

.box_container_geral 
{
	height: 558px;
}
.coluna_dividida
{
	height: 50%;
}
.coluna_total
{
	height: 100%;
}

div[class*="box_col"] {
	float: left;
    padding-left: 10px;
    padding-right: 10px;
}
div[class*="box_col"]:first-of-type {
	padding-left: 0;
}
div[class*="box_col"]:last-of-type {
	padding-right: 0;
}
.box_col_4 {
	width: 33.33%;
}
.box_col_6 {
	width: 50%;
}
.box_col_8 {
	width: 66.66%;
}
.box_col_12 {
	width: 100%;
}

.full_height{
    height: 550px;
}

.half_height{
    height: 265px;
}

/* Boxes */
.box {
	margin: 0;
	padding: 18px;
	position: relative;
}
.box > p {
	margin-top: 0;
	margin-bottom: 18px;
	color: #fff;
	font-weight: 700;
}
.box_educadores
{
	background-color: #15bece;
}
.box_mural_gestao
{
	background-color: #f2cb66;
}
.box_mural
{
	background-color: #f27b59;
}
.box_jeiff_pea
{
	background-color: #3bb1ae;
}

.conteudo_unico
{
	background-color: #fff;
	padding: 18px;
}
.conteudo_unico.scroll_receiver
{
	padding-right: 0;
}
.coluna_total > section > .box_conteudo_container
{
	overflow: hidden;
	height: 486px;
}

.coluna_dividida > div > section > .box_conteudo_container
{
	overflow: hidden;
	height: 197px;
}
.ic_add_novo
{
	position: absolute;
	display: block;
	background: url(../img/plano_estudo_novo_normal.png) no-repeat center center;
    background-size: 100% 100%;
    width: 40px;
    height: 33px;
    top: 10px;
    right: 6px;
    cursor: pointer;
}



/* Box Educadores */
.educador_info
{
	background-color: #f2f2ee;
	padding: 7px;
	margin-bottom: 5px;
	cursor: pointer;
}
.educador_info:last-child
{
	margin-bottom: 0;
}
.educador_info::after
{
	content: '';
	display: block;
	width: 100%;
	clear: both;
}
.educador_foto
{
	display: block;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    margin-right: 10px; 
    float: left;
    cursor: inherit;
}
.educador_nome
{
	display: block;
	width: 170px;
	float: left;
	color: #666;
	cursor: inherit;
}
.scroll_limiter
{
	overflow: hidden;
	height: 100%;
	padding-right: 15px;
}

/* Box Mural */

.scroll_receiver .mCSB_container .mural_post_item,
.scroll_receiver .mCSB_container .jeiff_post_item
{
	background-color: #fff;
	padding: 11px 12px 5px;
	margin-bottom: 5px;
	width: 98%;
}
.mCSB_container  .jeiff_post_item
{
	padding-bottom: 11px;
}
.mCS_no_scrollbar_y  .mural_post_item,
.mCS_no_scrollbar_y .jeiff_post_item
{
	width: 100%;
}
.mural_post_item:last-child,
.jeiff_post_item:last-child
{
	margin-bottom: 0;
}
.mural_post_cabecalho
{
	text-align: right;
	height: 18px;
}
.mural_post_cabecalho,
.mural_post_cabecalho > span
{
	color: #78776b;
	font-size: 12px;
}
.mural_post_item:hover > .mural_post_cabecalho
{
	display: none;
}
.mural_post_btns
{
	display: none;
	text-align: right;
}
.mural_post_btns > span
{
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-left: 10px;
	cursor: pointer;
}
.btn_editar
{
	background: url(../img/ic_editar_peq.png) no-repeat center center;
}
.btn_excluir
{
	background: url(../img/ic_del_peq.png) no-repeat center center;
}
.mural_post_item:hover > .mural_post_btns
{
	display: block;
	height: 18px;
}
.mural_post_mensagem
{
	margin-bottom: 8px;
}
.jeiff_post_cabecalho,
.jeiff_post_mensagem
{
	margin-bottom: 8px;
}
.post_jeiff_mensagem > p
{
	margin: 0 0 5px; 
}
.post_jeiff_mensagem > p:last-child
{
	margin-bottom: 0; 
}
.post_jeiff_data
{
	font-weight: 700;
	font-size: 18px;
	color: #666; 
}
.jeiff_post_link > a
{
	font-weight: 700;
	font-size: 14px;
	color: #666;
}
.post_mural_mensagem,
.post_jeiff_mensagem
{
	font-size: 14px;
	font-weight: normal;
	color: #666;
}

.box_select
{
	padding: 4px 8px;
    margin-bottom: 3px;
    background-image: url(../img/ic_drop_pequeno.png);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer; 
}
.box_select > option
{
	color: #666;
}
.box_textarea
{
	padding: 8px;
    margin-bottom: 10px;
}
.box_textarea,
.box_select,
.box_input_data
{
	background-color: #f2f2ee;
	resize: none;
	border: 1px solid #bfbfb8;
	width: 100%;
	color: #666;
	-o-appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}
.textarea_mural_gestao
{
    height: 101px;
}
.textarea_mural
{
    height: 69px;
}

.textarea_jeiff
{
	font-size: 14px;
	height: 388px;
}
input.input_data_jeiff
{
	font-size: 14px;
	margin-bottom: 3px;
	padding: 4px 8px;
	background-image: url(../img/ic_calendario_peq.png);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
.box_ic
{
	text-align: right;
}
.box_ic span
{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-left: 6px;
	cursor: pointer;
}
.ic_add_arquivo
{
	background: url(../img/ic_add_peq.png) no-repeat 50% 50%;
}
.ic_cancelar
{
	background: url(../img/ic_del_peq.png) no-repeat 50% 50%;
}
.ic_salvar
{
	background: url(../img/ic_salvar_b.png) no-repeat 50% 50%;
}
.ic_pdf_upload{
	background: url(../img/logo-pdf_bw.png) no-repeat center center;
    background-size: 100% 100%;
    width: 40px;
    height: 33px;
    right: 114px;
    cursor: pointer;
}
/* Barra de rolagem */
.mCSB_scrollTools_vertical
{
	right: 1.5px !important;
}

.conteudo_lista .mCSB_scrollTools_vertical
{
	right: -6.5px !important;
}
.conteudo_lista .mCSB_scrollTools_vertical .mCSB_dragger_bar
{
	background-color: #fff !important;
}

.blackPainel
{

    display:none;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 999;
}

#JanelaUploadPortifolio
{
	width:300px;
	height:280px;
	border-radius:10px;
	border:solid thin;
	background-color: white;
	margin:0 auto;
	top:20%;
	position:relative;
}

.Titulo_janela_upload
{
	width:100%;
	height:50px;
	padding-top:15px;
	text-align: center;
}

.areaUpload
{
	width:100%;
	height:140px;
}

#foto {
	background-image: url("../img/foto.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border: thin solid rgb(180,205,200);
	border-radius: 5px;
	cursor: pointer;
	height: 125px;
	margin: auto 74px;
	width: 50%;
}
#caixaFicha{
    width: 350px;
	height: 100px;
	border-radius: 10px;
	border: solid thin;
	background-color: white;
	margin: 0 auto;
	top: 30%;
	position: relative;
}

.caixaTxt{
	text-align: right;
  	color: #000 !important;
  	position: absolute;
  	left: 7%;
}
#txt1{
	top: 25%;
}
#txt2{
	  top: 60%;
}

#ataJeiff
{
	display:none;
}

.ocultar{
	display:none !important;
}
.semTop {
  padding-top: 0 !important;
}

.td_titulo_tabela a
{
	display: block;
    float: left;
    height: 100%;
    width: 90%;
}

#content_float_upload
{
	width:200px;
	height:150px;
	background-color:white;
}


.close_upload_producao
{
	cursor:pointer;
	background-image: url("../img/cancela_ativo.png");
	width:19px;
	height:19px;
	position:absolute;
	top:10px;
	right:10px;
}

.btn_submit {
    display: block;
    width: 90px;
    height: 35px;
    margin: 0 auto;
    background-color: gray;
    border: none;
    background: url("../img/bt_salvar.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-size: cover;
}

.titulo_recurso a
{
	color:rgb(2, 129, 141);
}

#LegendaUpload
{
	padding:10px;
	text-align: center;
}