html, body
{
	padding:0;
	margin:0;
}

*{-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;}

.boxLinha {
	display: block;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 256px;
}
.boxLinha:first-of-type {
	padding-top: 0;	
}
.boxLinha:last-of-type {
	padding-bottom: 0;	
}
.boxLinha::after {
	content: "";
	clear: both;
	display: block;
}
div[class*="box_col"] {
	float: left;
    padding-left: 10px;
    padding-right: 10px;
}
div[class*="box_col"]:first-of-type {
	padding-left: 0;
}
div[class*="box_col"]:last-of-type {
	padding-right: 0;
}
.box_col4 {
	height: 100%;
	width: 33%;
	box-sizing: border-box;
}
.box_col6 {
	height: 100%;
	width: 50%;
	box-sizing: border-box;
}
.box_col8 {
	height: 100%;
	width: 66%;
	padding-right: 15px;
	box-sizing: border-box;
}

.boxTitulo{
	width: 100%;
    font-size: 18px;
    color: white;
}

.botaoNovo{
	float: right;
	cursor: pointer;
	margin-top: -5px;
    margin-right: -8px;
}

.botaoNovo img{
	width: 74%;
   	float: right;
}

.conteudoBoxArea{
    width: 100%;
    height: 256px;
    padding: 15px;
}

.conteudoNovo{
	position: relative;
    width: 100% !important;
    padding-top: 10px;
    display: none;
}

.conteudoPequeno{height: 195px !important;}

.conteudoMedio{height: 205px !important;}

.containerAreaMensagem{
    padding-top: 30px;
}

.areaConteudo{
	background-color: white;
	width: 100%;
	height: 100%;
	padding: 10px;
}

.inputArea{
	border: none;
	border-bottom: 1px solid #CCCCCC;
	color: #CCCCCC;
	resize: none;
	font-size: 16px; 
}

.inputArea::-webkit-input-placeholder{
    color: #CCCCCC;
}

.inputArea:-moz-placeholder{
    color: #CCCCCC;
}

.inputArea::-moz-placeholder{
    color: #CCCCCC;
}

.inputArea::-ms-input-placeholder{
    color: #CCCCCC;
}

.inputLinha{
    height: 25px;
}

.inputUnicoLinha{
	width: 100%;
}

.inputMensagem{
    width: 100%;
    border: none;
    font-size: 10px;
}

.mensagemPequena{
    height: 95px;
}

.mensagemMedia{
    height: 115px;
}

.selectArea{
	float: left;
	height: 20px;
	border-bottom: 1px solid #CCCCCC;
	color: #CCCCCC;
}

.containerSelect{
	padding-right: 25px;
	float: left;
    font-size: 14px;
}

.containerIcone{
    float: right;
    padding-left: 10px;
}

.containerIcone:first-child{
    padding-right: 0px;
}

.selectTitle{
	height: 100%;
	float: left;
	text-align: right;
	color: #CCCCCC;
}

.selectOptions{
	height: 100%;
	overflow: hidden;
	color: #CCCCCC;
    background: url(../img/ic_drop_claro.png) no-repeat right;
}

.selectOptions select{
	width: 150%;
	color: #CCCCCC;
	font-size: 14px;
    margin-top: -1px;
    cursor: pointer;
}

.selectMedio{
	width: 170px;
}

.selectPequeno{
	width: 100px;
}

.linhaBotoes{
    height: 15px;
}

.linhaIconeInferior{
    padding-top: 5px;
}

.botaoIcone{
    float: right;
    width: 15px;
}

.botaoIcone img{
    width: 100%;
    cursor: pointer;
}

.areaPost{
    width: 100%;
    padding-top: 5px;
    padding-right: 10px;
}

.areaPost:first-child{
    padding-top: 0px;
}

.post{
    background-color: white;
    color: gray;
    font-size: 12px;
    padding: 10px;
}

.postContainer{
    height: 100%;
    padding-top: 10px;
}

.novoContainer{
    height: 100%;
    padding: 10px;
    background-color: white;
}

.postMedio{
    text-align: justify;
    min-height: 80px;
}

.postTitulo{
    font-size: 16px;
}
.postCorpo{
    padding-top: 5px;
    padding-bottom: 5px;
}
.postDestinatario{
    color: #CCCCCC;
    font-size: 10px;
}


/*Seções area Professor*/

.areaPostagens{
    background-color: #68c096;
}

.areaCoordenacao{
    background-color: #f1ca6d;
}

.areaPlano{
    background-color: #f9af4c;
}

.areaMural{
    background-color: #f27b59;
}

/*Scrollbar*/

.mCSB_scrollTools{
    opacity: 1;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background-color: white !important;
}