html, body
{
	padding:0;
	margin:0;
}

*{-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;}

.box_linha {
	display: block;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
}
.box_linha:first-of-type {
	padding-top: 0;	
}
.box_linha:last-of-type {
	padding-bottom: 0;	
}
.box_linha::after {
	content: "";
	clear: both;
	display: block;
}
div[class*="box_col"] {
	float: left;
    padding-left: 10px;
    padding-right: 10px;
}
div[class*="box_col"]:first-of-type {
	padding-left: 0;
}
div[class*="box_col"]:last-of-type {
	padding-right: 0;
}
.box_col4 {
	height: 100%;
	width: 33%;
	box-sizing: border-box;
}
.box_col6 {
	height: 100%;
	width: 50%;
	box-sizing: border-box;
}
.box_col8 {
	height: 100%;
	width: 66%;
	padding-right: 15px;
	box-sizing: border-box;
}
.box_col12 {
    height: 100%;
    width: 100%;
    padding-right: 15px;
    box-sizing: border-box;
}

.full_height{
    height: 550px;
}

.half_height{
    height: 265px;
}

.boxTitulo{
	width: 100%;
    font-size: 18px;
    color: white;
}
.halfsize {
    width: 50%;
    float: left;
}
.halfsize::after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.areaDropTitulo  {
    height: 20px;
    margin-bottom: 10px;
    position: relative;
}
.areaDropTitulo::after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.dropSimples {
    float: right;
    height: 20px;
    min-width: 100px;
    padding: 2px 30px 2px 20px;
    font-size: 18px;
    color: #fff;
    text-align: right;
    position: relative;
    cursor: pointer;
}
.dropIc {
    background-size: 40%;
    background-position: center 7px;
    background-repeat: no-repeat;
    padding: 10px 12.5px;
    cursor: pointer;
    margin-left: 5px;
    position: absolute;
    top: 0;
    right: 1px;
}
.dropIc.up {
    background-image: url(../img/arrow_fichas.png);
}
.dropIc.down {
    background-color: #73D8E2;
    background-image: url(../img/arrow_fichas_2.png);
    background-position: center 6px;
}
.itensDropSimples {
    position: absolute;
    width: 100px;
    background-color: #fff;
    border: 1px solid #7bccd7;
    right: 0;
    top: 20px;
    padding: 5px 7.5px;
    display: none;
}
.itensDropSimples.visible {
    display: block;
}
.itemDrop {
    padding: 3px 2.5px;
    color: #666;
    cursor: pointer;
}
.itemDrop:hover {
    background-color: #efefef;
}
.botaoNovo{
	float: right;
	cursor: pointer;
	margin-top: -5px;
    margin-right: -8px;
}

.botaoNovo img{
	width: 74%;
   	float: right;
}

.conteudoBoxArea{
    width: 100%;
    height: 100%;
    padding: 15px;
}

.conteudoNovo{
	position: relative;
    width: 100% !important;
    padding-top: 10px;
    display: none;
}

.conteudoPequeno{height: 215px;}

.conteudoMedio{height: 500px;}

.areaConteudo{
	background-color: white;
	width: 100%;
	height: 100%;
	padding: 10px;
}

input,
textarea,
select {
    display: block;
    width: 100%;
    font-size: 14px;
    color: #666;
    padding-left: 8px;
    line-height: 1.2em;
    padding-right: 8px;
    color: #666;
    -webkit-appearance: none;
       -moz-appearance: none;
         -o-appearance: none;
            appearance: none;
}
select {
    border-radius: 0;
    cursor: pointer;
}
textarea {
    padding-top: 8px;
    padding-bottom: 8px;
    resize: none;
}
.inputArea,
.boxTextInput {
    border: 1px solid #ccc;
    background-color: #efefef;
    margin-bottom: 5px;
    background-position: right center;
    background-repeat: no-repeat;
}

.inputArea::-webkit-input-placeholder,
.inputArea::-moz-placeholder,
.inputArea::-ms-input-placeholder{
    color: #999;
}

.boxTextInput {
    height: 51px;
}
.postagemOficinaSemImagem {
    height: 333px;
}
.postagemOficinaComImagem {
    height: 265px;
}
.postagemTutoriaComImagem {
    height: 296px;
}
.postagemTutoriaSemImagem {
    height: 364px;
}
.mensagemMural{
    height: 386px;
}

.mensagemPequena{
    height: 100px;
}

.selectArea{
	height: 26px;
	border: 1px solid #CCCCCC;
	color: #666;
    background-color: #EFEFEF;
}

.containerSelect{
    width: 100%;
    font-size: 14px;
}

.containerIcone{
    float: right;
    padding-left: 10px;
}

.containerIcone:first-child{
    padding-right: 0px;
}

.selectOptions{
	height: 100%;
	overflow: hidden;
    background-image: url(../img/ic_drop_pequeno.png);
    padding: 4px 8px;    
    background-repeat: no-repeat;
    background-position: center right;
}

.selectOptions select{
	width: 100%;
	color: #666;
	font-size: 14px;
    margin-top: -1px;
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
         -o-appearance: none;
            appearance: none;
}

select[value="0"]{
    color: #CCCCCC;
}

.selectMedio{
	width: 100%;
}

.selectPequeno{
	width: 100px;
}

.linhaBotoes{
    height: 15px;
}

.linhaConteudo{
    padding-bottom: 5px;
    width: 100%;
}

.linhaIconeInferior{
    padding-top: 5px;
}

.botaoIcone{
    float: right;
    width: 15px;
}

.iconeDeleteUpload{
    float: left;
    width: 15px;
    padding-right: 5px;
}

.botaoIcone img ,.iconeDeleteUpload img{
    width: 100%;
    cursor: pointer;
}

.areaPost{
    width: 100%;
    padding-top: 5px;
    padding-right: 10px;
}

.areaPost:first-child{
    padding-top: 0px;
}

.post{
    background-color: white;
    color: gray;
    font-size: 12px;
    padding: 10px;
}

.postContainer{
    height: 100%;
    padding-top: 10px;
}

.postContainer2{
    height: 100%;
    padding-top: 10px;
}

.novoContainer{
    height: 100%;
    padding: 10px;
    background-color: white;
}

.postMedio{
    text-align: left;
    min-height: 80px;
}

.postTitulo{
    font-size: 16px;
}
.postCorpo{
    padding-top: 5px;
    padding-bottom: 5px;
}
.postCorpo > p {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 400;
    line-height: 1.2em;
}
.postCorpo > p:last-child {
    margin-bottom: 0;
}
.postDestinatario{
    color: #CCCCCC;
    font-size: 10px;
}
.fileUpload{
    position: absolute;
    opacity: 0;
    width: 0;
}
.uploadContainer{
    float: left;
    display: none;
}
.uploadText{
    font-size: 14px;
    color: #999999;
    float: right;
    display: none;
}

#miniaturaDaFoto{
    width: 64px;
    height: 64px;
}

/*Seções area Professor*/

.areaPostagens{
    background-color: #68c096;
}

.areaCoordenacao{
    background-color: #f1ca6d;
}

.areaRelatorio{
   background-color: #f15a59;
}

.areaRotina{
    background-color: #7bccd8;
}

.areaPlano{
    background-color: #f9af4c;
}

.areaMural{
    background-color: #f27b59;
}

/*Scrollbar*/

.mCSB_scrollTools{
    opacity: 1;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background-color: white !important;
}

#oficinaMural, #tutoriaMural, #msgMural{
	display:none;
}

#Rotina_Semanal {
    width: 100%;
    height: 256px;
    background-color: #7bccd8;
    float: left;
}
#Rotina_Semanal_Nome {
    height: 43px;
    width: 100%;
    font-size: 18px;
    padding: 10px 0 0 12px;
}
#Rotina_Semanal_Nome a {
    color: #fff;
    text-decoration: none;
}
#Rotina_Semanal_Conteudo {
    padding: 15px;
    padding-top: 0;
}
table#Rotina_Semanal_Tabela {
    width: 100%;
    border: 1.5px solid #fff;
    background-color: #fff;
    text-align: center;
    font-size: 12px;
    border-spacing: 0;
    border-collapse: none;
}
table#Rotina_Semanal_Tabela tr.Rotina_Semanal_Linha {
    height: 30px;
    border: inherit;
}
.Rotina_Semanal_Linha_Recreio {
    background-color: rgb(223,222,212)
}
table#Rotina_Semanal_Tabela>thead>tr {
    background-color: #23BECD;
    color: #fff;
    height: 25px;
    font-size: 13px;    
}
.Rotina_Semanal_btn_Seta {
    background-color: #129fad;
    cursor: pointer;
}
.Rotina_Semanal_Horario {
    background-color: rgb(236,235,229);
    color: #78776b;
}
.Rotina_Semanal_Materia { color: #fff; }

table#Rotina_Semanal_Tabela td, table#Rotina_Semanal_Tabela th { 
    border: 1.5px solid #fff;
    padding-left: 3px;
    padding-right: 3px;
    width: 95px;
    line-height: 1em;
}

table#Rotina_Semanal_Tabela td:first-of-type, table#Rotina_Semanal_Tabela th:first-of-type,
table#Rotina_Semanal_Tabela td:last-of-type, table#Rotina_Semanal_Tabela th:last-of-type 
{ 
    width: 56px;
}

tr.Rotina_Semanal_Linha_Recreio { height: 20px !important; }

.Rotina_Pesquisa { background-color: #1c828e; }

.Rotina_Artes { background-color: #bf4b69; }

.Rotina_Matematica { background-color: #f25954; }

.Rotina_Leitura_Escrita { background-color: #755b91; }

.Rotina_Ingles { background-color: #3f5ba8; }

.Rotina_Roda_Conversa { background-color: #f68f46; }

.Rotina_Semanal_Professor { background-color: rgba(255, 255, 255, .5); }

.Rotina_Semanal_Local { background-color: rgba(255, 255, 255, .7); }

.tdTabela1 {
    display: block;
    width: 50px;
    height: 25px;
    line-height: 25px;
}
.tdTabela2 {
    display: block;
    width: 70px;
    height: 25px;
}
.tdTabela3 {
    display: block;
    width: 70px;
    height: 25px;
}
.tdTabela4 {
    display: block;
    width: 70px;
    height: 25px;
}
