html, body
{
	padding:0;
	margin:0;
}

*{-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;}

h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}

/* a{
	color:rgb(134,134,134);
} */

 /*--------------------- CONTEUDO AREA ----------------------*/

#Cabecalho_Menu_Area_Menu2{
	width: 388px;
}

/* COLUNA2 -----------------------------------------------------------------------------------------*/

#Coluna2 {
	position: relative;
    width: 60%;
    padding: 36px 24px 36px 36px;
    height: auto;
    float: left;
}
.boxLinha {
	display: block;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    /*border: 1px solid blue;*/
}
.boxLinha:first-of-type {
	padding-top: 0;	
}
.boxLinha:last-of-type {
	padding-bottom: 0;	
}
.boxLinha::after {
	content: "";
	clear: both;
	display: block;
}
div[class*="box_col"] {
	float: left;
    /*border: 1px solid red;*/
    padding-left: 10px;
    padding-right: 10px;
}
div[class*="box_col"]:first-of-type {
	padding-left: 0;
}
div[class*="box_col"]:last-of-type {
	padding-right: 0;
}
.box_col4 {
	height: auto;
	width: 33%;
	box-sizing: border-box;
}
.box_col8 {
	height: auto;
	width: 66%;
	padding-right: 15px;
	box-sizing: border-box;
}


/*-PORTIFOLIO-*/

#aluno_box_tiles {
	height: auto;
	background-color: #C6DB87;
	overflow: scroll;
	overflow-y: hidden;
	overflow-x: hidden;
	padding: 18px;
}


#aluno_box_tiles_texto {
	font-size:18px;
	text-align:center;
	width:750px;
	height:auto;
	margin-bottom:10px;
	font-weight:bold;
	color: rgb(102, 102, 102);
}
.barra {
	top: 10px;
	left: 20px;
	position: relative;
	height:37px;
	width:50%;
	z-index: 1;
	float:left;
}
.Objetivos_Semana_Cabecalho_Nome {
	height: 37px;
	font-size: 22px;
	z-index: 1;
}
.Objetivos_Semana_Cabecalho_Nome a{
	color: #52853f;
}
.portfolio_secao {
	width: 212px;
	height: 180px;
	float:left;
	padding: 16px 15px;
}
.portfolio_secao_vazio {
	width: 208px;
	height: 189px;
	float:left;
	padding: 16px 15px;
	background: url("../img/FotoPortifolioVazio.png");
	background-position: -2px -5px;
}
.verde {
	background-color: #90b957;
	margin-right: 24px;
}
.verdeNoMargin {
	background-color: #9EBA4C;
}
.roteiro {
	width:100%;
	height:85%;
	background-color: rgb(242, 242, 238);
	background-repeat: no-repeat;
	background-position: center;		
	clear: both;
	text-align:center;
	text-align: -webkit-center;
}

.nome_roteiro {
	width: 100%;
	height: 20%;
	margin-top: 5px;
	float: left;
	clear: both;
	color: white;
	font-size: 12px;
}



.Block_Conteudo_Portifolio_Image {
	width: 450px;
	height: 220px;
	float: left;
	background-size: auto 220px;
	background-repeat: no-repeat;
	background-image: url("../img/ilustra_portfolio.png");
}

.upLi{ margin: -6px 18px 0 0 !important; }










.Objetivos_Resultado_Desempenho{
	background-color:rgb(190,221,145) !important;
	width: 100%;
	height: 256px;
	padding: 18px;
}

#Portfolio_Conteudo {
	width: 100% !important;
	height: 184px !important;
}

.microfiche-screen{
	height: 100% !important;
	width: 100% !important;
}

.Portfolio_Conteudo_Container {
	width: 100% !important;
	height: 100% !important;
}

.SlidePort{
	width: 100% !important;
	padding: 0;
}


#content_central{
	padding: 36px 25px 36px 36px;
}

#content_central_1{
	overflow:hidden;
}

#content_central_1{
	overflow:hidden;
}

.microfiche-controls{
	display: none !important;
}
.microfiche-film {
	width: 500px !important;
}

.Portfolio_Conteudo_Container li {
	height: 180px;
	width: 212px;
	display: block;
	float: left;
	margin: 18px 18px 0 0;
	padding: 0;
} 








/* Rotina Semanal */
#Rotina_Semanal {
	width: 100%;
	height: 256px;
	background-color: rgb(184,226,231);
	float: left;
}
#Rotina_Semanal_Nome {
    height: 43px;
    width: 100%;
    font-size: 22px;
    padding: 11px 0 0px 18px;
}
#Rotina_Semanal_Nome a {
	color: #1c828c;
	text-decoration: none;
}
table#Rotina_Semanal_Tabela {
	width: 100%;
	border: 1.5px solid #fff;
	background-color: #fff;
	text-align: center;
	font-size: 12px;
	border-spacing: 0;
	border-collapse: none;
}
table#Rotina_Semanal_Tabela tr.Rotina_Semanal_Linha {
	height: 32px;
	border: inherit;
}
.Rotina_Semanal_Linha_Recreio {
	background-color: rgb(223,222,212)
}
table#Rotina_Semanal_Tabela>thead>tr {
	background-color: #23BECD;
	color: #fff;
	height: 32px;
	font-size: 15px;	
}
.Rotina_Semanal_btn_Seta {
	background-color: #129fad;
	cursor: pointer;
}
.Rotina_Semanal_Horario {
	background-color: rgb(236,235,229);
	color: #78776b;
}
.Rotina_Semanal_Materia { color: #fff; }

table#Rotina_Semanal_Tabela td, table#Rotina_Semanal_Tabela th { 
	border: 1.5px solid #fff;
	padding-left: 3px;
    padding-right: 3px;
    width: 95px;
    line-height: 1em;
}

table#Rotina_Semanal_Tabela td:first-of-type, table#Rotina_Semanal_Tabela th:first-of-type,
table#Rotina_Semanal_Tabela td:last-of-type, table#Rotina_Semanal_Tabela th:last-of-type 
{ 
	width: 56px;
}

tr.Rotina_Semanal_Linha_Recreio { height: 20px !important; }

.Rotina_Pesquisa { background-color: #1c828e; }

.Rotina_Artes { background-color: #bf4b69; }

.Rotina_Matematica { background-color: #f25954; }

.Rotina_Leitura_Escrita { background-color: #755b91; }

.Rotina_Ingles { background-color: #3f5ba8; }

.Rotina_Roda_Conversa { background-color: #f68f46; }

.Rotina_Semanal_Professor { background-color: rgba(255, 255, 255, .5); }

.Rotina_Semanal_Local { background-color: rgba(255, 255, 255, .7); }

/* MURAL */
	#Mural {
		width: 100%;
		height: 273px;
		background-color: rgb(244, 123, 84);
		float: left;
		padding: 18px;
	}
	.Mural_Cabecalho_Nome {
		height: 37px;
	    width: 100%;
	    font-size: 22px;
	}
	.Mural_Cabecalho_Nome a {
	    color: #943b19;
		text-decoration: none;
	}
	#Mural_Conteudo {
		height: 200px;
		overflow: auto; 
	}
	.Mural_Conteudo_Linha {
		box-sizing: border-box;
		width: 98%;
		height: 67px;
		margin: 5px 0;
		background-color: #fff;
		text-align: right;
		padding: 5px 10px 10px;
	}
	.Mural_Conteudo_Linha:first-of-type {
		margin-top: 0;
	}
	.Mural_Conteudo_Linha:last-of-type {
		margin-bottom: 0;
	}
	.Mural_Linha_Cabecalho {
		margin-bottom: 5px;
	}
	.Mural_Linha_Cabecalho > span {
		color: #78776b;
		font-size: 12px;
	}
	span.Mural_Nome::after {
		content: " |";
		display: inline;
	}
	.Mural_Linha_Texto {
		text-align: left;
	}
	p.Mural_Texto {
		font-size: 12px;
		-webkit-margin-before: 0;
    	-webkit-margin-after: 0;
    	-webkit-margin-start: 0;
    	-webkit-margin-end: 0;
	}
	#mCSB_2_scrollbar_vertical {
		right: -5px;
	}

/* PLANO DE ESTUDOS */
	#PlanoEstudo {
		width: 100%;
	    height: 273px;
	 
	    background-color: #ffa659;
        float: left;
		padding: 18px;
	}
	.PlanoEstudo_Cabecalho_Nome {
		height: 37px;
	    width: 100%;
	    font-size: 22px;
	    color: #e35426;
	}
	.PlanoEstudo_Cabecalho_Nome a {
	    color: #e35426;
		text-decoration: none;
	}
	.PlanoEstudo_Cabecalho_Nome span {
		font-size: 12px;
		margin-left: 6px;
	}
	#PlanoEstudo_Conteudo {
		height: 200px;
		overflow: auto;
	}
	.PlanoEstudo_Linha {
		width: 98%;
		height: 50px;
		margin: 5px 0;
		background-color: #fff;
		padding: 5px 10px 10px;
	}
	.PlanoEstudo_Linha:first-of-type {
		margin-top: 0;
	}
	.PlanoEstudo_Linha:last-of-type {
		margin-bottom: 0;
	}
	p.PlanoEstudo_Nome {
		color: #78776b;
		font-size: 12px;
		-webkit-margin-before: 0;
    	-webkit-margin-after: 0;
    	-webkit-margin-start: 0;
    	-webkit-margin-end: 0;
    	margin-bottom: 5px;
	}
	.PlanoEstudo_Num {
	    text-align: center;
	    display: inline-block;
	    width: 26px;
	    height: 20px;
	    margin-right: 3px;
	    background-color: #acacac;
	    color: #fff;
	    padding-top: 2px;
	    cursor: pointer;
	}
	.iniciado {
		background-color: rgb(255, 167, 89);
	}
	.revisado {
		background-color: rgb(141, 192, 63);
	}

/* OFICINAS */
	#Oficinas {
		width: 100%;
	    height: 273px;
	 
	    background-color: #d6d6c9;
        float: left;
		padding: 18px;
	}
	.Oficinas_Cabecalho_Nome {
		height: 37px;
	    width: 100%;
	    font-size: 22px;
	    color: rgb(102, 102, 102);
	}
	.Oficinas_Cabecalho_Nome a {
	    color: rgb(102, 102, 102);
		text-decoration: none;
	}
	.Oficinas_Conteudo {
		height: 200px;
		overflow: auto;
	}
	.Oficinas_Conteudo_Linha {
		width: 98%;
		height: 44px;
		margin: 5px 0;
	}
	.Oficinas_Conteudo_Linha:first-of-type {
		margin-top: 0;
	}
	.Oficinas_Conteudo_Linha:last-of-type {
		margin-bottom: 0;
	}
	.Oficina_Conteudo_100 {
		width: 100%;
	}
	.Oficina_Nome {
		letter-spacing: .5px;
		padding: 5px;
		height: 22px;
		font-size: 12px;
		color: #fff;
	}
		#Oficina_Nome_Matematica {
			background-color: #f25954;
		}
		#Oficina_Nome_Leitura_Escrita {
			background-color: #755b91;
		}
		#Oficina_Nome_Artes {
			background-color: #bf4b69;
		}
		#Oficina_Nome_Ingles {
			background-color: #3f5ba8;
		}
	.Oficina_Tema {
		height: 22px;
		padding: 5px;
	}
	.Oficina_Tema_Texto {
		font-size: 12px;
		color: #000;
		margin: 0;
	}
		#Oficina_Tema_Matematica { background-color: rgb(251, 205, 204); }

		#Oficina_Tema_Leitura_Escrita { background-color: rgb(214, 206, 221); }

		#Oficina_Tema_Artes { background-color: rgb(236, 201, 210); }

		#Oficina_Tema_Ingles { background-color: rgb(197, 206, 229); }

	#mCSB_4_scrollbar_vertical {
		right: -5px;
	}

/* -------------------------------------------------------------------- */

.appear{
	display: block !important;
}

#frmCadastroAluno{
	position: relative;
	width: 100%;
	padding: 36px 30px 36px 36px;
}
.opcaoFoto {	
	padding: 36px;
}

#mCSB_3_scrollbar_vertical{
	right: -5px;
}

#boxMensagem {
	overflow: auto;
	height: 200px;
	font-size: 12px;
	margin-top: 42px;
	display: block;
	background: none;
	left: 0;
	width: 100%;
	z-index: 999;
	margin-top: 0;
}
.box_margin_alter {
    display:none;
    position: absolute;
    width: 53%;
    background-color: #FFF;
    right: 16.7%;
    z-index: 10003;
    height: 627px;
    overflow: auto;      
}

@media (width: 1024px) and (max-height: 509px) {
	#box_agenda {
		position: relative;
		height: 485px;
		width: 106%;
		overflow-y: auto;
	}
	#Conteudo_Coluna3_Agenda_Evento_Content {
		position: relative;
		height: 306px;
		width: 95%;
		overflow: auto;
	}
	.Objetivos_Semana_Cabecalho_Nome {
		height: 37px;
		font-size: 22px;
		color: rgb(102, 102, 102);
		z-index: 999;
	}
    .box_margin_alter {
        display: none;
        position: absolute;
        width: 100%;
        background-color: #FFF;
        z-index: 10003;
        height: 413px;
        overflow: auto;
        right:0;
	}
}

@media (width: 1024px) and (min-height: 510px) and (max-height: 639px){

	.box_margin_alter{
		margin-right: 0;
		width: 100%;
	}

	.box_margin_alter {
        display: none;
        position: absolute;
        width: 100%;
        background-color: #FFF;
        z-index: 10003;
        height: 627px;
        overflow: auto;
        right:0;
	}

}
/*Media para note com height 707*/
@media (min-width: 1280px)and (max-height: 707px) {
    .box_margin_alter {
        display: none;
        position: absolute;
        width: 75%;
        background-color: #FFF;
        right: 3.1%;
        z-index: 10003;
        height: 627px;
        overflow: auto;
        top: 36px;
    }
}
/*MEDIA TABLET*/
@media (min-width: 1024px) and	(max-height: 460px){
    .box_margin_alter {
        display: none;
        position: absolute;
        width: 100%;
        background-color: #FFF;
        z-index: 10003;
        height: 627px;
        overflow: auto;
        right:0;
    }
}

@media (max-width: 1023px), (width: 1024px) and	(max-height: 460px){
	#Cabecalho_Menu_Area_Menu2{
		width: 795px;
	}

	.mCSB_container{
		height: 100%;
	}

	.Objetivos_Resultado_Desempenho{
		width: 100%;
		height: 25%;
	}

	#Objetivos_Semana{
		height: 100%;
		margin-top: 20px;
	}


	#Mensagens{
		margin-left: 48px;
		height: 100%;
		margin-top: 20px;
	}

	.Mensagens_Conteudo{
		height: 100%;
	}

	#boxMensagem{
		height: 100%;
	}

	#Conteudo_Coluna3_Agenda_Content_Nome{
		height: 67px;
		font-size: 40px;
	}

	.Conteudo_Coluna3_Agenda_Evento{
		height: 26%;
		width: 85%;
		margin-left: 26px;
		margin-top: 15px;
	}

	#Conteudo_Coluna3_Agenda_Evento_Content{
		height: 100%;
	}

	.Conteudo_Coluna3_Agenda_Evento_Conteudo{
		font-size: 40px;
	}

	.Conteudo_Coluna3_Agenda_Evento_Titulo{
		font-size: 35px;
	}

	.Conteudo_Coluna3_Agenda_Evento_Hora{
		font-size: 25px;
	}

	.Objetivos_Semana_Cabecalho_Nome{
		font-size: 40px;
	}

	.portfolio_secao{
		padding-bottom: 35px;
	}

	.SlidePort{
		margin: 0 36px;
	}

	#bullets{
		width: 100% !important;
  		height: 100% !important;
	}

	.microfiche-screen{
		width: 100% !important;
  		height: 100% !important;
	}

	.microfiche-film{
		width: 100% !important;
  		height: 100% !important;
	}

	.example{
		width: 100% !important;
  		height: 100% !important;
	}

	.example div{
		width: 100% !important;
  		height: 88% !important;
	}

	.example ul{
		width: 100% !important;
  		height: 100% !important;
	}

	.example ul a{
		width: 100% !important;
  		height: 100% !important;
	}

	.example li{
		margin: 54px 18px 0 0;
		height: 90%;
		width: 23%;
	}

	.nome_roteiro{
		font-size: 22px;
	}

	.example li img{
		height: 100%;
		width: 100%;
	}

	.Mensagens_Cabecalho_Nome{
		font-size: 40px;
	}

	.dataMsg{
		width: 426px;
		line-height: 
	}
}

.microfiche-controls {
    position: absolute;
    bottom: 441px;
    left: 540px;
}