#Conteudo_Inteiro_Aluno_Esquerda{
width:405px;
height: auto;
float:left;
margin-left: 0px;
margin-bottom:0px;
}

#Conteudo_Inteiro_Aluno_Esquerda_Perfil{
overflow: auto;
width:405px;
height: auto;
background-color: #f2f2ee;
}

.Conteudo_Inteiro_Aluno_Esquerda_Cinza{
	width: 405px;
	height: auto;
	background-color: #f2f2ee;
	margin-top: 5px;
	padding: 10px 5px;
}

.Conteudo_Inteiro_Aluno_Esquerda_texto{
	width: 360px;
	height: auto;
	font-size: 18px;
	text-align: left;
	margin-left: 10px;
}

#Conteudo_Inteiro_Aluno_Esquerda_visitar{
	width: 67px;
	height: 22px;	
	background-color: rgb(237,162,62);
	text-align: center;
	color: #fff;
	float:left;
	font-size:12px;
	padding-top:4px;
}

.Conteudo_Inteiro_Aluno_Esquerda_Visitar_Ficha{
	width: 200px;
	height: 40px;
	padding: 10px;
	
}

.Conteudo_Inteiro_Aluno_Esquerda_visitar_txt{
	float:right;
	width:auto;
	height:30px;
}

.Conteudo_Inteiro_Aluno_Esquerda_entregue{
	width: 67px;
	height: 22px;	
	background-color: rgb(141,198,63);
	color: #fff;
	text-align: center;
	float:left;
	font-size:12px;
	padding-top:4px;
	margin-bottom:5px;
}


.Conteudo_Inteiro_Aluno_Esquerda_pendente{
	width: 67px;
	height: 22px;	
	background-color: rgb(247,148,30);
	text-align: center;
	color: #fff;
	font-size:12px;
	padding-top:4px;
	float:left;
}

.Conteudo_Inteiro_Aluno_Esquerda_Fichas{
	width: 200px;
	height: 60px;
	padding: 10px;
	
}

.Conteudo_Inteiro_Aluno_Esquerda_data{
	font-size: 12px;
	width: 100%;
	height: 20px;
	text-align: right;
	margin-top: 3px;
}

#Conteudo_Inteiro_Rodape{
	background-color:#dfded4;
	width:1280px;
	height:36px;
	margin: 0 auto;
	color: rgb(120, 119, 107);
	bottom: 0;
	left: 0;
	float: left;
	padding:7px;
	font-size: 18px;
}

#Conteudo_Inteiro_Rodape_left{
	float:left;
}

#Conteudo_Inteiro_Rodape_right{
	float:right;
}

#Conteudo_Inteiro_Aluno_Direito{
	width:526px;
	height:644px;
	float:right;
	margin-right: 15px;
}

.Conteudo_Inteiro_Aluno_Direito_Tudo{
	width:526px;
	height: 45px;
	float: left;
	margin-bottom: 3px;
}

.Conteudo_Inteiro_Aluno_Direito_Texto{
	font-size:15px;
	color: rgb(120, 119, 107);
	width:100%;
	float:left;
	margin-bottom: 2px;
}

.Conteudo_Inteiro_Aluno_Direito_Tabela{
	width:100%;
	float:left;
	/*margin-bottom: 5px;*/
	box-shadow:
        0 1px 0 rgb(225, 225, 225),
        0 2px 0 rgb(120, 119, 107);

}

.Conteudo_Inteiro_Aluno_Direito td{
	font-size: 12px;
	width: 20px;
	height: 17px;
}

.Conteudo_Inteiro_Aluno_Direito_Verde{
	background-color: rgb(141,198,63);
	width: 20px;
	height: 17px;
	color: #fff;
	text-align: center;
}

.Conteudo_Inteiro_Aluno_Direito_Branco{
	background-color: #fff;
	width: 20px;
	height: 17px;
	text-align: center;
}

.Conteudo_Inteiro_Aluno_Direito_Laranja{
	background-color: rgb(247,148,30);
	width: 20px;
	height: 17px;
	color: #fff;
	text-align: center;
}

.Conteudo_Inteiro_Aluno_Direito_Cinza{
	background-color: #dfded4;
	width: 20px;
	height: 17px;
	color: #fff;
	text-align: center;
}

.Conteudo_Inteiro_Aluno_Direito_Verde_Roteiro{
	background-color: rgb(141,198,63);
	width: 36px;
	height: 17px;
	color: #fff;
	text-align: center;
}

.Conteudo_Inteiro_Aluno_Direito_Cinza_Roteiro{
	background-color: #dfded4;
	width: 36px;
	height: 17px;
	color: #fff;
	text-align: center;
}

#Conteudo_Inteiro_Aluno_Direito_Inferior{
	width:526px;
	height:644px;
	float: left;
	padding-top: 10px;
}

.Conteudo_Inteiro_Aluno_Direito_Roteiro{
	width: 526px;
	height: 70px;
	font-size: 15px;
	color: rgb(120, 119, 107);
	box-shadow:
        0 1px 0 rgb(225, 225, 225),
        0 2px 0 rgb(152, 152, 152);
}

#Conteudo_Inteiro_Aluno_Direito_Objetivos{
	width: 526px;
	height: 105px;
	font-size: 15px;
	color: rgb(120, 119, 107);
	box-shadow:
        0 1px 0 rgb(225, 225, 225),
        0 2px 0 rgb(152, 152, 152);
}

#Conteudo_Inteiro_Aluno_Direito_PlanoEstudo{
	width: 526px;
	height: 290px;
	font-size: 15px;
	color: rgb(120, 119, 107);
	box-shadow:
        0 1px 0 rgb(225, 225, 225),
        0 2px 0 rgb(152, 152, 152);
}

#Conteudo_Inteiro_Aluno_Direito_Calendario{
	width: 526px;
	height: 186px;
}

.Conteudo_Inteiro_Aluno_Direito_Roteiro_Legenda{
	float:left;
	width:175px;
	height:25px;
	font-size: 7px;
	margin-top:5px;
}

.Conteudo_Inteiro_Aluno_Direito_Roteiro_Proposto{
	width:50px;
	float:right;
}

/*.conteudo_inteiro_aluno_direito_roteiro_texto{
	float:right;
	margin-top:-5px;
}*/

.Conteudo_Inteiro_Aluno_direito_data{
	font-size: 12px;
	width: 100%;
	height: 20px;
	text-align: right;
	margin-top: 3px;
	margin-right:10px;
}

.Conteudo_Inteiro_Aluno_Direito_Roteiro_Proposto_Laranja{
	width:10px;
	height: 7px;
	background-color: rgb(247,148,30);
}

.Conteudo_Inteiro_Aluno_Direito_Roteiro_Proposto_Verde{
	width:10px;
	height: 7px;
	background-color: rgb(141,198,63);
}

.Conteudo_Inteiro_Aluno_Direito_Roteiro_Concluido{
	width:50px;
	float:left;
}

/*--------------------------------------------------------------------*/

/*Calendário Laranja Conteudo Aluno*/

#Conteudo_Inteiro_Aluno_Direito_Calendario_Frequencia
			{
				width: 200px;
				height:auto;
				text-align: center;
				float: left;
				padding-top: 10px;

			}

				#Conteudo_Inteiro_Aluno_Direito_Calendario_Frequencia *
				{
					border: none;
				    border-collapse: collapse;
				    padding: 0 0 0 0;
				    margin: 0;
				    font-size: 15px;
				    color: rgb(120, 119, 107);
				}

				#Conteudo_Inteiro_Aluno_Direito_Calendario_Frequencia table
				{

					margin-top: 5px;
					
				}

				#Conteudo_Inteiro_Aluno_Direito_Calendario_Frequencia tr td
				{
					width:25px;
					height:25px;
					background-color: rgb(236, 235, 229);
					border:solid thin white;
					font-weight: bold;
					font-size: 9px;
					background-repeat: no-repeat;
					color:rgb(102,102,102);
					text-align: center;
				}

				.Conteudo_Inteiro_Aluno_Direito_Calendario_Letivos{
					background-color: #fedfb3 !important;
				}

				.leftArrow_frequencia
				{
					background-image: url("../img/leftArrowG.png");
					background-position: center;
				}

				.rightArrow_frequencia
				{
					background-image: url("../img/rightArrowG.png");	
					background-position: center;
				}

				#Conteudo_Inteiro_Aluno_Direito_Calendario_Frequencia tr:nth-child(1) > td
				{
					width:25px;
					height:25px;
					background-color: #ff7800;
					border:none;
				}

				.Conteudo_Inteiro_Aluno_Direito_CalendarioTitle
				{
					/*background-color: rgb(2, 129, 141);*/
					background-color: #ff9333 !important;
					color: white !important;
					text-align: center;
				}

				.FontCorFimDesemana_Conteudo_Inteiro_Aluno_Direito_Calendario
				{
					color:white !important;
					background-color: #fcc066 !important;
				}

				.FontCorDiaDesemana_Conteudo_Inteiro_Aluno_Direito_Calendario
				{
					color: white !important;
					background-color: #fcc066 !important;
				}

				.rodapeConteudo_Inteiro_Aluno_Direito_Calendario
				{
					background-color: rgb(22,190,207) !important;
					border:none !important;
					color:white !important;
				}

				.tdpresenca{
					background-color: #d1e8b2 !important;
				}

				.tdfalta{
					background-color: #f47b54 !important;
				}

.box_calendario_inteiro_aluno_direito_presenca{
				width: 25px;
				height: 25px;
				padding: 10px;
				background-color: #d1e8b2;
				margin-bottom: 20px;
			}

.box_calendario_inteiro_aluno_direito_falta{
				width: 25px;
				height: 25px;
				padding: 10px;
				background-color: #f47b54;
				margin-bottom: 20px;
			}

.box_calendario_inteiro_aluno_direito_n_apontada{
				width: 25px;
				height: 25px;
				padding: 10px;
				background-color: rgb(247, 148, 30);
				margin-bottom: 20px;
			}

#box_check_calendario_inteiro{
		width: 270px;
		float:right;
		margin-right: 25px;
		padding-top: 30px;
}

.nomes_calendario_falta_inteiro {
	float: left;
margin-left: 35px;
font-size: 12px;
padding-top: 5px;
	}

.box_e_conteudo_calendario_inteiro{
float: right;
width: 270px;
/*margin-top: 30px;*/
height: 40px;
}

.resultadototal_calendario_inteiro{
	font-size: 12px;
	float: right;
	margin-top: 40px;
}