.secao_forum{
	width:98%;
	height:auto;
	clear:both;
	border:1px solid #FFFFFF;
}
a.barra_titulo{
	margin: 0px;
	width:100%;
	padding: 10px;
	background-color: #D7D5EA;
	text-transform: uppercase;
	font-size: 14px;
	float: left;
	cursor: pointer;
	margin-bottom: 2px;
	text-decoration:none;
	text-transform:uppercase;
	color:#666;
	font-size:15px;
	font-weight: bold;
}
.btn_topico{
	float: right;
	text-transform: lowercase;
	width: 160px;
	margin-top: -30px;
	margin-right: 11px;
	color: #666;
	cursor: pointer;
	display:none;
	height:25px;
	background: #d7d5ea;
	padding-left: 20px;
	position:relative;
	text-decoration: none;
}
.aparecer{
	display:block;
}
.criar_topico{
	background:url(../img/mais_icone.png) no-repeat;
	float: right;
	height: 25px;
	width: 17px;
	margin-top: -3px;
	text-align: center;	
}
#quadro_img{
	background:url(../img/quadro_forum.png) no-repeat;
	height:100%;
	margin-top:36px;
}
.direita1{
	/* margin-left: 266px; */
	margin-right:5px;
	float:right;
}
.direita2{
	float: right;
	font-weight: bold;
	/* margin-right: 43px; */
}
.esquerda {
    float: left;
    width: 640px;
}
.btn_forum{
	text-decoration:none;
	color:#666;
}
.info_secao_forum{
	font-size: 12px;
	text-transform: lowercase;
	margin: 38px -13px 0px 57px;
	width: 95%;
	display:none;
}

.info_secao_forum_div{
	margin: 0px;
	min-height: 36px;
	padding: 11px;
	color:#666;
	font-size:16px;
}


.info_secao_forum_div:nth-child(odd){
	font-size: 16px;
	text-transform: lowercase;
	width: 100%;
	background-color: #f4f3f9;
	height: 40px;
}

.info_secao_forum_div:nth-child(even){
	font-size: 16px;
	text-transform: lowercase;
	width: 100%;
	background-color: #e5e4f1;
	height: 40px;
}

.FontSize14
{
	font-size:14px;
}

.star_forum_prof
{
	background-image: url("../img/estrela_icone.png");
    background-repeat: no-repeat;
    float: right;
    height: 30px;
    margin-left: 7px;
    width: 16px;
}

.infoPes{
	width: 45%;
	height: 39px;
	background-color: #e6e6e6;
	text-align: right;
	float: left;
	color: #666;
	padding: 10px;
}

.celulaPequenaPes{
	width: 32.3%;
	height: 39px;
	margin-bottom: 0.9%;
	float: left;
	background-color: #F2F1ED;
	color: #666;
}

.styled-selectPes{
	width: 100%;
	height:100%;	
	background:url(../img/select-arrow.png) no-repeat right;
	border: 0;
	border-radius: 0;	
	cursor: pointer;
	color: #666;
	overflow: hidden;
	-webkit-appearance: none;
	-moz-appearance: none;	
}

select{
	width: 100%;
	border: none;
	background-color: transparent;
	float: left;
	padding: 8.5px;
	color:#666;
}

.styled-selectPes select{
	overflow: hidden !important;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.infoG{
	background-color: #e6e6e6;
	border:none;
	color: #666;
	padding:10px;
	width: 15%;
	height: auto;
}

.celulaGrande{
	width: 64%;
  	overflow: hidden;
  	height: 39px;
    float: left;
  	background-color: rgb(250,248,246);
  	border: none;
}

#linha8 {
	margin-right:17px;
}

input{
	padding: 3.1%;
}

#content_central_1{
	width: 80%;
}

/*media NetBook*/
@media (width: 1024px) and (max-height: 500px) {
	#quadro_img{
		background: url(../img/menino_forum.png) no-repeat;
		background-size: 99%;
		margin-top: 0;
		height: 102%;
	}
	#content_central_1 {
		width: 100%;
		padding:24px 10px 24px 36px;
	}
	#content_central_2_forum{
		float: right !important;
		height: 72%;
		margin: 24px 36px 0 0;
		width: 226px;
	}
}
/*media NetBook*/
@media (width: 1024px) and (max-height: 509px) {
	#quadro_img{
		background: url(../img/menino_forum.png) no-repeat;
		background-size: 99%;
		margin-top: 0;
		height: 102%;
	}
	#content_central_1 {
		width: 100%;
		padding:24px 10px 24px 36px;
	}
	#content_central_2_forum{
		margin_top: 36px;
		float: right !important;
		height: 72%;
		margin: 24px 35px;
	}
	.Conteudo_Coluna {
		width: 22.5%;
	}
	input{
		padding: 2.2%;
	}
}

@media (width: 1024px) and (min-height: 509px) and (max-height: 693px) {
	#quadro_img{
		background: url(../img/menino_forum_448.png) no-repeat;
		background-size: 99%;
		margin-top: 0;
		height: 102%;
	}
	#content_central_2_forum{
		margin_top: 36px;
		float: right !important;
		height: 75%;
		margin: 24px 20px;
	}
	.Conteudo_Coluna {
		width: 22.5%;
	}
	input{
		padding: 2.2%;
	}
}

/*Media NoteBook sem barra favoritos*/
@media (min-height: 666px)and (max-height: 667px) {
	#content_central_2{
		width:20%;
		margin-top: -105px;
	}
}
/*Media NoteBook com barra favoritos*/
@media (min-height: 640px)and (max-height: 665px) {
	#content_central_2{
		width:20%;
		margin-top: -105px;
	}
	#quadro_img{
		background:url(../img/quadro_forum.png) no-repeat;
		height:110%;
		margin-top:39px;
	}
}

@media (min-width: 1280px)and (max-height: 707px){
	.celulaGrande {
		width: 64%;
		overflow: hidden;
		height: 39px;
		float: left;
		background-color: rgb(250,248,246);
		border: none;
		bottom: 0px;
	}
	.direita1{
		margin-left:0 !important;;
		margin-right:5px;
		float:right;
	}
}

.label_titulo {
	background: url(../img/label_nova_forum.png) no-repeat;
	display: inline-block;
	height: 17px;
	width: 30px;
	margin-left: 8px;
	font-size: 10px;
    line-height: 1.5em;
    padding: 2px 0px 0px 2.5px;
    text-align: center;
}
.label_escondido {
	display: none;
}

/*Media NoteBook com barra favoritos*/
/*@media (min-height: 640px)and (max-height: 665px) {

	#box_forum
	{
		width:800px;
	}

}

@media (min-height: 666px)and (max-height: 667px) {

	#box_forum
	{
		width:800px;
	}

}*/