* { box-sizing: border-box !important; }

#PesquisarInserir{
	width:100%;
	height: 556px;
	float: left;
	overflow:hidden;
}

#Grupo{
	background-image: url(../img/icone_criargrupo.png);
	background-repeat: no-repeat;
	background-position: 20px;
}
#Oficina{
	background-image: url(../img/ic_oficinas-ativo.png);
	background-repeat: no-repeat;
	background-position: 29px;
	background-size: 20px;
}
#Tutoria{
	background-image: url(../img/bt_tutores_ativo.png);
	background-repeat: no-repeat;
	background-position: 20px;
	background-size: 23px;
}
#Pesquisa{
	background-image: url(../img/ic_pesquisar.png);
	background-repeat: no-repeat;
	background-position: 39px;
}

.background_icone{
	background-repeat: no-repeat;
	background-position: 8px;
	background-size: 24px;
}

.btn_nova_oficina{
	background-image: url(../img/ic_addG_branco.png);
}

.btn_editar_oficina{
	background-image: url(../img/ic_editarG_branco.png);
}

.btn_atribuir_rotina{
	background-image: url(../img/ic_menu_rotina_ativo.png);
}

.btn_concluir_oficina{
	background-image: url(../img/3_corrigido.png);
}

.bg_claro{
	background-color: #f2f2ee;
}

.bg_escuro{
	background-color: #e5e5dc;
}

.inline{
	display: inline-block;
}

.area_nome_oficina{
		padding-top: 15px;
    	padding-bottom: 15px;
    	font-size: 24px;
    	color: #666666;
}

.container_central{
	width: 99.6%;
	height: 94%;
	padding: 18px 18px;
	min-height: 490px;
	background-color: #e5e5dc;
	float: left;
	overflow:hidden;
	position: relative;
	display: none;
}

.container_btn_feedback_oficina{
	position: absolute;
	bottom: 18px;
	right: 18px;
}

.btn_feedback_oficina{
    color: #ffffff;
    background-color: #E83F4A;
    height: 40px;
    padding: 10px;
    padding-left: 38px;
    font-size: 20px;
    text-align: right;
    cursor: pointer;
    margin-right: 7px;
    display: inline-block;
}

.btn_feedback_oficina:last-child{
	margin-right: 0;
}

.bt_Off{
	width: 236px;
	padding: 17px 16px 11px 16px;
	text-align: center;
	margin-right:3px; 
	color: white;
	float: left;
	cursor: pointer;
	background-color: #ee7776;
}

.bt_Off:hover {
	background-color: #E83F4A;
}

.bt_Pesquisar_Ativo{
	width: 31%;
	padding: 17px 16px 11px 16px;
	text-align: center;	
	color: white;
	float: left;
	cursor: pointer;
	background-color: #E83F4A;
}

.bt_Ativo{
	cursor: pointer;
	background-color: #E83F4A;
}

.padding_padrao{
	padding: 15px 20px;
}

.padding_pequeno{
	padding: 5px 0;
}

.vertical_padding{
	padding: 15px 0;
}

.bottom_padding{
	padding: 0;
	padding-bottom: 10px;
}

.texto_padrao{
	color: #666666;
}

.caracteristica{
	color: #999999;
}

.area_rotinas_oficina{
	padding: 15px 5px;
	cursor: pointer;
}

.rotina_oficina,
.agrupamento_oficina{
	font-weight: 500;
    color: #999;
    position: relative;
    margin: 0;
}

.container_rotinas{
	display: none;
}

.container_rotinas > span,
.container_rotinas > article{
	padding: 2px 0;
}

.rotina_oficina > p{
	margin: 0;
	color: #666;
}

.dados_rotina{
	margin-top: 10px;
}

.nova_rotina{
	font-size: 14px;
    color: #999;
}

/* Tela Criar Grupo */

	#Area_Nome_Tutoria{
		font-size: 24px;
		color: rgb(102,102,102);
		display: none;
	}
	.Area_Select_Grupo {
		width: 100%;
		height: 65px;
		padding: 12px 0;
	}

	.Area_Select_Tutoria {
		width: 100%;
		height: 58px;
		padding: 5px 0;
	}
	.Box_Area_Select {
		display: inline-block;
		width: 296px;
		height: 40px;
		margin-right: 9px;
		background-color: rgb(201,201,196);
		border: 1px solid rgb(174,174,166);
		float: left;
	}

	.Unico_Linha{
		width: 902px;
	}

	.Unico_Linha .Select_Grupo_Input{
		width: 781px;
	}

	.btAdd_Professor{
		float: right;
		cursor: pointer;
		margin-right: 7px;
	}

	.Box_Area_Select > * { border: 1px solid rgb(174,174,166); }

	.Select_Grupo{
		text-align: right;
		display: inline-block;
		float: left;
		width: 119px;
		height: 100%;
    	padding: 8px 5px;
	    line-height: 1.2em;
	    color: #656565;
	    font-size: 18px;
		-webkit-margin-before: 0em;
    	-webkit-margin-after: 0em;
    	-webkit-margin-start: 0px;
    	-webkit-margin-end: 0px;
	}
	.Select_Grupo_Input {
		display: inline-block;
		background-color: #F2F1ED;
		height: 100%;
		width: 175px;
	}
	.Select_Grupo_Input input{
		color: rgb(102,102,102);
    	padding: 8px 8px;
    	font-size: 18px;
	}
	.Box_Area_Select select {
		display: inline-block;
		height: 100%;
		width: 100%;
		float: right !important;
		border-radius: 0;
		background-color: rgb(242,242,238);
		padding: 5px 47px 5px 8px;
		-webkit-appearance: none;
		color: rgb(102,102,102);
		cursor: pointer;
	    font-size: 18px;
    	background: url(../img/select-arrow.png) no-repeat right;
	}

	.Box_Area_Select select > option::before { margin: 30px 0; }

	.Area_Alunos_Container {
		max-height: 330px;
    	overflow: hidden;
	}

	.Alunos_Container_Modal{
		overflow: hidden;
    	height: 300px;
	}

	#Area_Alunos,
	#Area_Alunos_Modal {
		width: 98%;
	}
	.Grupo_Aluno_Linha {
		width: 100%;
		height: 47px;
		padding: 14px 10px;
	}

	.Grupo_Aluno_Linha:nth-of-type(even) { background-color: rgb(242,242,238); }

	.Grupo_Aluno_Linha:nth-of-type(odd) { background-color: rgb(236,235,229); }

	.Grupo_Aluno_Linha span {
		font-size: 18px;
		color: #656565;
		display: inline-block;
		height: 100%;
	}

	.Linha_Scroll { width: 99.5%; }

	.Nome_Aluno {
		float: left;
		width: 740px;
	}
	.Ano_Aluno {
		float: right;
		width: 60px;
	}
	.Aluno_Ano_Check {
		display: none;
		float: right;
	}

	.Aluno_Ano_Check + label span {
		float: right;
		display: inline-block;
	    width: 22px;
	    height: 22px;
	    background: url(../img/checkbox_criarGrupo.png) left top no-repeat;
	    margin-right: 20px;
	    vertical-align: middle;
	    cursor: pointer;
	    overflow: visible;
	}

	.Aluno_Ano_Check:checked + label span { background: url(../img/checkbox_criarGrupo.png) -24px top no-repeat; }
	
	.Area_Botoes_Grupo {
		width: 100%;
	    height: 75px;
	    padding: 25px 0 11px;
	}

	.btns_grupo {
		background-color: #E83F4A;
		border-radius: 0;
		color: #fff;
		height: 40px;
		padding: 10px;
		font-size: 20px;
		text-align: right;
		border: 0;
		cursor: pointer;
		float: right;
		margin-right: 7px;
		width: 100px;
		background-image: url(../img/ic_salvar.png);
		background-repeat: no-repeat;
		background-position:  10px 6px; 
		margin-top: 2px;
	}
	.Area_Botoes::after
	{
		content: '';
		display: block;
		clear: both;
	}

	.btn_Nova_Oficina, .btn_Finalizar, .btn_Nova_Tutoria{
    	border-radius: 0;
    	color: #fff;
    	height: 40px;
    	width: 165px;
    	padding: 10px;
    	font-size: 20px;
    	text-align: right;
    	border: 0;
    	cursor: pointer;
    	float: right;
    	background-image: url(../img/ic_addG_branco.png);
    	background-repeat: no-repeat;
    	background-position:  13px 11px;
    	background-color: #E83F4A;
    	background-size: 18px;
    }
	/*.btn_Salvar_Grupo, .btn_Salvar_Oficina {
		width: 100px;
		background: url(../img/ic_salvar.png) no-repeat 10px 6px; 
	}*/

	#listarAluno {
		height: 320px;
    	margin: 5px 0 0 0;
	}
	#boxListaAluno{
		height: 320px;
		overflow: auto;
	}

	#listarSelect {
		height: 330px;
		margin: 5px 0 0 0;
	}

	#boxListaSelect {
		height: 320px;
		overflow: auto;
	}

/* Criar Oficina */
	.Select_Grupo_Oficina {
		text-align: right;
		display: inline-block;
		float: left;
		width: 119px;
		height: 100%;
    	padding: 8px 5px;
	    line-height: 1.2em;
	    color: #656565;
	    font-size: 18px;
		-webkit-margin-before: 0em;
    	-webkit-margin-after: 0em;
    	-webkit-margin-start: 0px;
    	-webkit-margin-end: 0px;
	}

.selecionado{
	display: block !important;
}

#boxResultado{
	float: left;
	width: 101%;
	height:240px;	
	overflow: auto;
	margin: 0 5px 0 0;
}

.boxGlobal img{
	top: -238px;
	position: relative;
	left: 209px;
}

#resultado{
	margin: 0 9px 0 0;
}

.linha{
	width: 100%;
	height: auto;
	margin-bottom: 0.25%;
	overflow: auto;
}
#barra_aluno{
	overflow:auto;
	height:390px;	
}

#marginAlunos{
	margin-right: 18px;
}

/* CSS das celulas grandes(ocupam toda a linha)*/
.celulaGrande{
	width: 100%;
	height: auto;
	overflow: auto;
	border: 2px solid #B6B6B0;
	float: left;
	background-color: #c8c8c3;
	bottom: 0;
}

.infoG{
	background-color: #C8C8C3;
	font-size: 18px;
	border-right: 1px solid rgb(174,174,166);

}

.infoValueG{
	/* width: 85%; */
	width: 85.4%;
	background-color: #F2F1ED;
	float: left;
}
/* Fim do CSS da célula grande*/


/* CSS das celulas pequenas (cada uma ocupa 1/3 da linha)*/
.celulaPequena{
	width: 28.33%;
	height: auto;
	/* overflow: auto; */
	overflow: hidden;
	border: 2px solid #B6B6B0;
	float: left;
	background-color: #c8c8c3;
}
.celulaMedia{
	width: 40.3%;
	height: 43px;
}
.infoMG {
	width: 29.75%;
	height: 39px;
	padding: 12px;
	background-color: #C8C8C3;
	text-align: right;
	float: left;
	border-right: 2px solid #B6B6B0;
	font-size: 18px;
	color: #666;
	border-right: 1px solid rgb(174,174,166);

}
.infoValueM{
	width: 70.25%;
}
.infoP{
	width: 44.8%;
	background-color: #C8C8C3;
	padding: 11.3px;
	text-align: right;
	float: left;
	border-right: 2px solid #B6B6B0;
}

.infoValueP{
	width: 55.2%;
	background-color: #F2F1ED;
	float: left;
}
/* Fim do CSS da célula pequena*/

select{
	width: 100%;
	border: none;
	background-color: transparent;
	float: left;
	padding: 8.5px;
}


/* Margins entre as células */

.ambasMargin{
	margin: 0 1.5%;
}

.styled-select select{
	width: 100%;
	border-left: 1px solid rgb(174,174,166);
	border-radius: 0;
	height: 41px;
	-webkit-appearance: none;
	overflow: hidden;
	width: 100%;
	cursor: pointer;
	color: #666;
	font-size:18px;
}

.styled-select {
   width: 100%;
   height: 39px;
   overflow: hidden;
   background: url(../img/select-arrow.png) no-repeat right;
   background-color: #F2F1ED;
   background-size: 42px;
}

.grupoCaixa{
	width: 95.82%;
	padding: 0.8%;
	background-color: #F2F1ED;
	border: 2px solid #D1D1CB;
	float: left;
}

.grupoTitulo{
	width: 100%;
	font-size: 20px;
	color: #e83f49;
	margin-bottom:7px;
	font-weight:bold;
}
.titulo{
	color: #912f35;
}
.tutor{
	padding: 4px 2px 4px 0;
	float: left;
	color: #912F35;
	width: 5%;
	text-align: right;
}
.grupo{
	width: 100%;
	font-size: 14px;
	color: #666;
}
/* Removendo a arrow do <select> no IE*/
select::-ms-expand {
    display: none;
}
.box_margin_barra{
	margin-right:11px;
}
.tutor_nome{
	margin: 4px 48px;
	overflow:hidden;
}
.btEditar{
	float: right;
	background: red;
	height: 39px;
	width: 4.18%;
	background: url(../img/bt_editar.png) no-repeat;
	background-size: contain;
	cursor: pointer;
}

.btExcluir{
	background: url("../img/fechar.png") no-repeat scroll -6px center #c9c9c4;
    cursor: pointer;
    float: right;
    height: 30px;
    margin-right: 0;
    padding: 18px;
    width: 4.18%;
}
#btAdd{
	width: 45px;
	height: 44px;
	float: right;
	background: url(../img/btAdd.png) no-repeat;
	background-size: contain;
	cursor: pointer;
}
#box_grupo_info_barra{
	width: 102%;
	margin-top: 5px;
	margin-right:10px;
	height: 390px;
	overflow: auto;
}
#box_grupo_info{
	margin-right:11px;
}
#Add_Grupo_Btn
{
	
    float: right;
    height: 40px;
    padding: 10px;
    width: 101px;
    background: url(../img/bt_salvar_laranja.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.bt_Salvar {
	background: url(../img/bt_salvar_vermelho.png) no-repeat;
	float: right;
	width: 12.2%;
	margin-top: 9px;
	margin-right: 7px;
	cursor:pointer; 
	opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}
.bt_Salvar:hover {
	background: url(../img/bt_salvar_vermelho.png) no-repeat;
	float: right;
	width: 12.2%;
	margin-top: 9px;
	cursor:pointer; 
	opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
#container_Pesquisa .celulaMedia{
	width: 46.3%;
	margin-right: 10px;
	margin-bottom: 5px;

}

.input_Pesq_Aluno {
	margin-top: -10px;
    background-color: white;
    border: 1px solid lightgrey;
    font-size: 18px;
    height: 37px;
    padding: 8px;
    border-radius: 0px !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
}

#txtPesq {
	margin-top: 10px;
    background-color: white;
    border: 1px solid lightgrey;
    font-size: 18px;
    height: 37px;
    padding: 8px;
    border-radius: 0px !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
}

.Aluno_Grupo{
	margin-bottom:5px;
}

.tutor_nome{
	padding-top:3px;
}
.oficina_info
{
	width: 100%;
	height: auto;
	background-color: #F5F5F3;
	padding: 13px;
	margin-bottom: 5px;
}
.oficina_info:last-child
{
	margin-bottom: 0;
}
.tipo_oficina
{
	padding: 0 5px;
    margin-bottom: 5px;
}
.tipo_oficina h1
{
	margin: 0;
    color: #666;
    font-weight: 500;
}
.ciclo_periodo_oficina,
.oficineiros_oficina
{
	font-weight: 500;
	color: #999;
	position: relative;
	margin: 0;
	padding: 2px 5px;
}
.ciclo_periodo_oficina > p > span,
.rotina_oficina > span,
.oficineiros_oficina > p > span,
.agrupamento_oficina > p > span
{
	font-weight: 300;
	color: #666;
}
.ciclo_periodo_oficina:hover,
.rotina_oficina:hover,
.oficineiros_oficina:hover,
.agrupamento_oficina:hover
{
	background-color: #E7E7E5;
}
.ciclo_periodo_oficina p,
.oficineiros_oficina p,
.agrupamento_oficina p
{
	margin: 0;
}
.editar
{
	display: none;
	position: absolute;
	background: url(../img/ic_editar_peq.png) no-repeat center center;
	top: 2px;
	right: 2px;
	width: 24px;
	height: 18px;
	cursor: pointer;
}
.ciclo_periodo_oficina:hover > .editar,
.rotina_oficina:hover > .editar,
.oficineiros_oficina:hover > .editar,
.agrupamento_oficina:hover > .editar
{
	display: block;
}
.editar:hover
{
	background-color: #EDEDEB;
}
.checkLimpar{
	width:50px;
}
@media (max-height: 707px) {
	.bt_Off { width: 24.67%; }

	.Box_Area_Select { width: 293px; }

	.Select_Grupo_Input { width: 172px;}
}

/* Modais de edição */
.modal_edicao_geral
{
	position: absolute;
	background-color: #f1746f;
	width: 750px;
	padding: 60px 18px 18px;
	margin-left: -375px;
	top: 50%;
	left: 50%;
}
.modal_edicao_geral > header
{
	position: absolute;
	font-size: 18px;
    color: #fff;
    top: 22px;
    left: 18px;
}
.container_modal_edicao
{
	position: relative;
	background-color: #e5e5dc;
	padding: 15px;
	width: 100%;
}
.formulario_container > form::after
{
	content: '';
	display: block;
	width: 100%;
	clear: both;
}
.formulario_container > form
{
	margin-bottom: 5px;
	text-align: justify;
}
.btn_fechar_modal
{
	display: inline-block;
	position: absolute;
	width: 16px;
	height: 16px;
	background: url(../img/ic_del_b_peq.png) no-repeat center center;
	top: 22px;
	right: 18px;
	cursor: pointer;
}
.modal .Unico_Linha
{
	width: 100%;
}
.modal .Box_Area_Select
{
	float: none;
	margin: 0 0 5px;
}
.modal.modal_edicao_agrupamento .select_agrupamento
{
	width: 337px;
}
.modal.modal_edicao_agrupamento .select_agrupamento .Select_Grupo_Input
{
	width: 216px;
}
.modal .Select_Grupo
{
	display: block;
}
.modal .Unico_Linha .Select_Grupo_Input
{
	display: block;
	width: auto;
	overflow: hidden;
}
.modal .Area_Botoes_Grupo,
.modal .Area_Select_Grupo
{
	height: auto;
	padding: 0;
}
.modal .Area_Botoes_Grupo
{
	text-align: right;
}
.modal .btns_grupo
{
	display: inline-block;
	margin: 0;
	float: none;
}
.modal.modal_edicao_agrupamento .Grupo_Aluno_Linha span.Nome_Aluno
{
	max-width: 500px;
}




/* Barra de rolagem */
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		background-color: #fff !important;
		border-radius: 0 !important;
	}
	.mCSB_scrollTools {
		width: 17px !important;
	}
	.mCSB_scrollTools_vertical {
		right: 0px !important;
	}
	.Linha_Scroll {
		width: 99% !important;
	}