.mCSB_inside > .mCSB_container{
	margin-right: 0 !important;
}

.box_container_geral 
{
	height: auto;
}

.educador_nome{
	width: 170px;
}

.textarea_mural {
	height: 130px;
}

input.input_data_jeiff {
	min-height: 28px;
}