.mCSB_container
{
	height: auto;
}

.plano
{
	background-image: none;
}

.box_grafico
{
	margin-top: 0;
}

#legenda
{
    width: 100%;
    margin-right: 0;
}

#legenda p
{
	width: auto;
	margin-right: 15px;
	float: right;
	margin-bottom: 0;
}