.mCSB_container{
	height: auto;
}

.grupoGraficoFreqTitulo{
	width: 80px;
}

.grupoGraficoFreqTitulo h1{
	width: 65px;
}
.grupoGraficoFreqTitulo h2{
	width: 14px;
}

table.grupoTabela
{
	z-index: 8;
}