


	.OrderSorting
{
	width:86%;
	height:120px;
	border:solid thin #D9D9D9;
	margin:0 auto;
}

.leftOrder
{
	width:100%;
	height:120px;
	/*border:solid thin #D9D9D9;*/
	float:left;
}

.rightOrder
{
	width:100%;
	height:120px;
	/*border:solid thin #D9D9D9;*/
	float:left;
}

.Conteudo_Coluna2_Evento
{
	height:auto;
	margin:0 auto;
	background-color: white;
	border:solid thin whitesmoke;
	margin-bottom: 20px;
}

a:visited{color:orange;}

.TituloEvento
{
	height:65px;
	width:100%;
	color:rgb(219, 94, 49);
	font-size: 20px;
	padding:10px;
	/*color:white;*/
	background-color:orange;
}

	.EventoLeftSide
	{
		height:100%;
		width:100%;
		/*color:rgb(219, 94, 49);*/
		/*padding:10px;*/
		/*color:white;*/
		float:left;
	}

	.EventoRightSide
	{
		height:100%;
		width:50%;
		/*color:rgb(219, 94, 49);
		padding:10px;*/
		/*color:white;*/
		/*text-align: right;*/
		float:left;
	}

.ContextoEvento
{
	height:auto;
	width:100%;
	color:rgb(102, 102, 102);
	font-size: 18px;
	padding:10px;

}
#tbConteudo{	
	border-spacing: 0px;
	width: 100%;
	border:1px solid black;
	color:rgb(102, 102, 102);
}

#tbConteudo tr{
	padding: 10px;
	display: block;
	height: 40px;
	width: 100%;
	border-bottom: solid thin black;
}


#tbConteudo tr:nth-child(even){
	background-color:#EEE;
}

#tbConteudo td{
	width: 13.5%;
	float: left;
	min-width: 13.5%;
	max-width: 13.5%;
	
}
#tbConteudo tr:nth-last-child(1){
	border-bottom: none;
	background-color: transparent;
}

.firstOne td
{
	cursor:pointer;
}

#TabelaPopUp
{
	width:880px;
	height:auto;
	background-color: rgb(243,241,238);
	border:solid whitesmoke;
	/*position:absolute;
	left:72px;*/
	display:none;
}


.TabelaPopUpHeader
{
	text-align:right;
	width:100%;
	height:50px;
	padding:15px;
}

.TabelaPopUpBody
{
	height:auto;
	width:100%;
	padding:15px;
}

.TabelaPopUpBottom
{
	height:50px;
	width:100%;
	padding:10px;
}

.BotaoNovo
{
	border:none;
	border-radius:0px;
	background-color: rgba(22, 190, 207, 0.79);
	padding:7px 18px;
	color:white;
	font-weight: bold;
	float:left;
	margin-top: 20px;
	margin-bottom: 20px;
}


/*------------------------------------*/

/* CSS da tela manutencao */

#Manutencao_Titulo{
	width: 33%;
	margin: 0 auto;
	font-size: 30px;
	font-weight: bold;
}


#Manutencao_content ul{
	font-size: 20px;
	list-style: none;
}

#Manutencao_content ul li{
	display: inline-block;
	float: left;
	clear: both;
	cursor: pointer;
	margin: 3px 0;
}

/*-------------------------------------------*/

/* CSS da tela Evento */

#EventoNovo_content textarea {
	width: 310px;
	resize: none;
}


.btsSalvarExcluir {
	background-color: #CCC;
	color: white;
	float: left;
	border: 1px solid black;
	padding: 5px 20px;
	margin: 20px 25px 0;
	border-radius: 8px;
	cursor: pointer;
}

/*----------------------------------------*/
/*CSS da tela Pesquisa Resultado*/

#PesquisaResultado_content input{
	float: right;
}

.itemResultado {
	width: 50%;
	border-bottom: solid thin;
}




/*------------------------------------*/

.content {
	width: 100%;
	min-height:475px;
	height: auto;
	margin: 0 auto;
	font-size: 18px;
	/*font-weight: bold;*/
	background-color: rgb(243,241,238);
	padding: 20px;
	overflow: auto;
	display:none;
}

input[type="date"]{
	font-family: "proxima-nova";
}

#LoadingAjax
{
	width:46px;
	height:46px;
	position:absolute;
	z-index:100;
	left:50%;
	top:50%;
	background-image: url("../img/ajax-loader.gif");
	opacity:0.4;
	border-radius: 50%;
	display:none;
}

.TabelaPopUpBody textarea
{
	width:330px;
	height:75px;
	max-width: 330px;
	min-width: 330px;
	max-height: 75px;
	min-height: 75px;
}

/*------------------------------------*/

/* CSS da tela manutencao */

#ManutencaoMenu li{
	list-style: none;
	color: #1E8290;
	float: left;
	cursor: pointer;
}

#ManutencaoMenu ul{
	overflow: auto;
}

#ManutencaoContent {
	overflow: auto;
	display:none;
}

#ManutencaoContent iframe{
	width: 100%;
	height: 485px;
	float: left;
	border: none;
}


.campoTitulo{
	margin-bottom: 4px;
}


.campoMeio75{
	width: 75%;
	background-color: #F2F2EE;
	border: 2px solid #CACAC2;
	padding: 8px;
	margin-left: -2px;
	float: left;
}

/*----------------------------------------*/

/*CSS da tela Pesquisa Resultado*/

#PesquisaResultado_content input{
	width: 19px;
	height: 19px;
	float: right;
	position: absolute;
	margin: 12px 10px;
}

#PesquisaResultado_content span:not(.radioBt){
	border: 2px solid #CACAC2;
	background-color: #E5E5DC;
	padding: 8px 8px 8px 75px;
	float: left;
}

input[type="radio"] {
	opacity: .01;
}

input[type="radio"] + label span {
    display:inline-block;
    margin-left: -2px;
    vertical-align:middle;
	border: 2px solid #CACAC2;
	padding: 19px;
	background-color: #E5E5DC;
}

input[type="radio"]:checked + label span {
    background:url(../img/bt2.png) 9px 9px no-repeat;
	background-color: #E5E5DC;
}

.radioBt {
	width: 19px;
	height: 19px;
	border: none;
	background:url(../img/bt1.png) 9px 9px no-repeat;
}

#botaoSelecionarFixo{
	cursor: pointer;
	margin-right: 7px;
}

#botaoSelecionarFixo2{
	cursor: pointer;
	margin-right: 0px;
}

#botaoIncluirFixo{
	cursor: pointer;
}

#botaoPesquisarFixo{
	cursor: pointer;
}

.btPadrao {
	border: 2px solid #259EB0;
	padding: 5px 8px;
	margin-top: 50px;
	display: inline-block;
	background-color: #28B8CE;
	color: white;
	margin-left: 10px;
	float:left;
	cursor: pointer;
	font-size: 20px;
}

.selectWidth {
	width: 100%;
	background: transparent;
	border: none;
}

#anoLetivo, #tipoEvento{
	padding: 4px;
	font-family: "proxima-nova";
	font-size:18px;
	height:41px;
}
#EventoNovo_content #anoLetivo, #EventoNovo_content #tipoEvento, #Evento_content #anoLetivo, #Evento_content #tipoEvento, #EventoEdit_content #anoLetivo, #EventoEdit_content #tipoEvento
{
	height:36px;
}

input[type="date"]{
	padding: 6px;
}
.eventoDescricao {
	height: 60px;
	width: 100%;
	resize: none;
	font-family: "proxima-nova";
	font-size:18px;
	padding-left:5px;
}


/*------------------------------------*/

/* CSS da tela manutencao */

#Manutencao_Titulo{
	width: 33%;
	margin: 0 auto;
	font-size: 30px;
	font-weight: bold;
}

#ManutencaoContent {
	overflow: auto;
	width:92%;
	margin:0 auto;
}

#Manutencao_content ul{
	font-size: 20px;
	list-style: none;
}

#Manutencao_content ul li{
	display: inline-block;
	float: left;
	clear: both;
	cursor: pointer;
	margin: 3px 0;
}

.campoTitulo{
	margin-bottom: 4px;
}

.campoMeio75{
	width: 95%;
	background-color: #F2F2EE;
	border: 2px solid #CACAC2;
	padding: 8px;
	margin-left: -2px;
	float: left;
	height:42px;
}

.campoMeio{
	background-color: #F2F2EE;
	border: 2px solid #CACAC2;
	margin-left: -2px;
	float: left;
	width: 180px;
}
.campoDescricao{
	background-color: #F2F2EE;
	border: 2px solid #CACAC2;
	margin-left: -2px;
	float: left;
	width: auto;
}

/*-------------------------------------------*/

/* CSS da tela Evento */

#EventoNovo_content textarea, #EventoEdit_content textarea {
	width: 284px;
	resize: none;
	background: transparent;
	border: none;
	font-size: 18px;
	font-family: "proxima-nova";
	padding-left: 10px; 
	padding-top: 5px;
}

input{
	font-size: 18px;
	padding-left: 10px;
}

.campoInfo{
	width: 160px;
	border: 2px solid #CACAC2;
	background-color: #E5E5DC;
	padding: 8px;
	float: left;
}

#evento {
	width: 100%;
	background: transparent;
	border: none;
	padding: 5px;
	padding-left: 10px;
}

.FloatRightB
{
	float:right;
}

.btNovo{
	border: 2px solid #259EB0;
	padding: 5px 8px;
	display: inline-block;
	background-color: #28B8CE;
	color: white;
	cursor: pointer;
}

#Evento_content #dataInicio
{
	height:36px;
}

#Evento_content #dataFim
{
	height:36px;
}

.Hold{
	height:42px;
	padding-left: 10px !important;
	padding-top: 8px !important;
}

#ManutencaoMenu{
	width:93%;
	margin:0 auto;
}
#TipoEventoNovo_content #tipoEvento, #EventoNovo_content #dataFim, #EventoNovo_content #dataInicio, #EventoEdit_content #dataFim, #EventoEdit_content #dataInicio{
	height: 36px;
	padding-left:10px;
}

.D{
	padding-left:10px;
}

.autoH
{
	height:auto;
	min-height: 36px;
	padding-bottom:8px;
	width:auto;
	min-width: 180px;
	max-width: 630px;
}

.BoxUp
{
	height:auto;
	min-height:350px;
	width:100%;
}

.BoxDown
{
	height:auto;
	min-height:50px;
	width:100%;
}

*{
	outline:0;
	font-family: "proxima-nova";
}

	#Conteudo_Area{
		height:627px;
 	}

 	#Content_lateral{
		background-color: rgba(22, 190, 207, 0.36);
	}

	/* .Content_lateral_Menu_Opcao{
		width:100%;
		height:74px;
		margin-bottom:1px;
		background-color: rgba(2, 129, 141, 1);
	}
	
	.Content_lateral_Menu_Opcao_Imagem{
		width:25%;
		height:100%;
		float:left;
	}
	.Content_lateral_Menu_Opcao_Imagem img{
		margin-top:25px;
		margin-right:11px;
		float:right;
	}
	.Content_lateral_Menu_Opcao_Nome{
		width:75%;
		height:100%;
		float:left;
		color:white;
		font-size: 21px;
		padding-top: 25px;
	} */


	#Conteudo_Coluna1_Calendario tr td
	{
		width: 182px;
		height: 208px;
		margin:auto;
	}

	/*Coluna a direita*/	
			#content_central_2{
				position: relative;
				width: 20%;
				padding: 36px;
				min-height: 627px;
				float:left;
				background-color: rgba(22, 190, 207, 0.14);
			}
				/*Agenda - Ela sempre vai fazer parte da "#content_central_2"*/
				#Conteudo_Coluna3_Agenda_Content{
					margin: 10% 8%;
					width:85%;
					height:90%;					
				}
	 
/*MEDIA QUERIES -> aqui nesta parte define o layout para as demais resolucoes*/			
@media (max-width: 1024px) {
	#Cabecalho_Perfil_Area{
		height: 104px;
	}
	#Container{
		width:100%;
		height:100%;
		margin:0 auto;		
	}
	.Content_lateral_Menu_Opcao_Nome {
		width: 75%;
		height: 100%;
		float: left;
		color: white;
		font-size: 18px;
		padding-top: 25px;
	}
	#content_central_1{
		position: relative;
		width: 60%;
		padding: 36px;
		height: 100%;
		float:left;
		overflow:auto;
	}
	#content_central_2{
		position: relative;
		width: 20%;
		padding: 36px;
		height: 100%;
		float:left;
		background-color: rgba(22, 190, 207, 0.14);
	}
}					


#VisualizarEvento_content .autoH{

	height:41px;

}
