body {
  font-family: "proxima-nova";
  font-size: 16px;
  /*line-height: 1.5;*/
  color: #3C4348;
  font-weight: normal;
  padding: 30px 60px;
}

h1 {
	font-family: "proxima-nova";
	font-size: 52px;
	text-align: center;
	font-weight: normal;
	color: #171A1E;
	margin-bottom: 10px;
}

h2 {
	font-size: 36px;
	text-align: left;
	font-weight: normal;
	color: #171A1E;
}

h3 {
	font-size: 16px;
	font-weight: normal;
	color: #171A1E;
}

#heading h3 {
	text-align: center;
}

a {
	color: #76C0E7;
	text-decoration: none;
}

  .example { 
    width:auto;
    display: block;
    position: relative;
    padding: 5px;
    margin: 0;
    background: rgb(200,220,141);
  }
  .example ul {
    margin: 0 15px;
    height: 220px;
    overflow: hidden;
  }
  .example li {
    height: 220px;
    width:200px;
    display: block;
    float: left;
    margin: 10px;
    padding: 0;
  }
    .example li img {
      display: block;
      margin: 0;
    }

.demo {
  display: block;
  position: relative;
  margin: 0 0 50px 0;
}

pre, code {
  overflow: hidden;
}

pre.prettyprint {
  padding: 0;
  border: none;
  max-width: 100%;
  overflow: hidden;
}

.tag {
	color: #3C4348;
}

.atv, .str, .kwd, .lit {
	color: #A0D0AB;
}

.pun, .opn, .clo, .atn {
	color: #3C4348;
}

.com {
	color: #C4CDD2;
}

hr {
  border: none;
  outline: none;
  height: 1px;
  background: #F7F7F7;
  margin: 50px 0;
}

.body-subcontainer {
  width: 690px;
  margin: 0 auto;
}

.body-subcontainer.responsive-width-demo {
  width: auto;
  min-width: 315px;
}
.microfiche-next-button{
	background-color: transparent !important; 
	border: none !important;
	margin-left: 33px !important;
	float: right !important;
	height: 25px !important;
	background-image: url("../img/rightArrowPort.png") !important;
	color: transparent !important;
	outline: transparent !important;
	top: -105px;
	background-repeat: no-repeat;

}
.microfiche-prev-button{
  float: left !important;
	background-color: transparent !important; 
	border: none !important;
	height: 25px !important;
	background-image: url("../img/leftArrowPort.png") !important;
	color: transparent !important;
	outline: transparent !important;
	top: -105px;
	background-repeat: no-repeat;
}
#bullets{
	width: 708px !important;
	height: 256px !important;
}

.microfiche-screen{
	width: 708px !important;
	height: 240px !important;
}
.microfiche-controls{
	position: absolute;
	bottom: 471px;
	left: 670px;
}
.microfiche-button{
	position: absolute;
}