html, body
{
	padding:0;
	margin:0;
}
* { box-sizing: border-box; }

table.tabela_oficinas{
	width:100%;
	border-collapse: collapse;
	table-layout:fixed;
}
tr.linha_abas{	
	background:#bfbda9;
}
td.aba_oficina{
	font-size:13px;
	padding:0;
	height: 53px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	cursor: pointer;
	border-right: 2px solid #fff;
	width: 79px;
    display: block;
    float: left;
}
td.aba_oficina:last-child {
	border-right: none;
}
p{
	padding:0;
	margin:0;
}
.fundo_aba {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.oficina_titulo {
	position: relative;
	width: 100%;
	font-size: 18px;
	color: #fff;
	text-align: center;
}
.feedback_oficinas_false
{
	padding: 15px;
	background-color: #EBEBE3;
	color: #666;
}
table .aba_oficina:hover .fundo_aba, .aba_ativa .fundo_aba {
	opacity: 1;
}
.oficinas_container {
	width: 100%;
	height: auto;
	margin: 0;
}
.oficina_content_box {
	height: 468px;
	float: left;
}
.oficina_boxes_container {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 18px;
    background-color: #e5e5dc;
}
.oficina_boxes_container::after{
	content: "";
	display: block;
	width: 100%;
	clear: both;
}
.box_blog {
	background: #f1f1ec;
	overflow: hidden;
    padding: 15px;
    padding-right: 0;
	width: 66.5%;
}
.box_roteiros {
	width: 33.5%;
}
.blog_postagens {
	width: 100%;
	padding-right: 15px;
	overflow: hidden;
}
.cx_postagem {
	width: 100%;
	min-height: 83px;
	margin-bottom: 25px;
	word-break: break-word;
}
.cx_postagem:last-child {
	margin-bottom: 0;
}
.cx_titulo {
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
    line-height: 1.2em;
	color: #666666;
	margin: 0;
	margin-bottom: 5px;
}
.cx_info {
	font-size: 12px;
	font-weight: normal;
	color: #BABABA;
	margin: 0;
	margin-bottom: 15px;
}
.img_postagem {
	width: 50%;
	margin-right: 10px;
	float: left;
}
.cx_texto {
	margin-top: 10px;
	color: #666;
	line-height: 1.3em;
}
.cx_texto:first-of-type {
	margin-top: 5px;
}
.fim_postagem {
	display: block;
	width: 100%;
	float: left;
	margin: 0;
	margin-top: 10px;
	border: 0;
	border-top: 1px solid #aaa;
}
.cx_postagem::after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}
.Mensagem_Blog_Vazio, .Mensagem_Roteiro_Vazio {
	padding: 20px;
	color: #666;
	background-color: #EBEBE3;
	min-height: 80px;
}
.cx_tema_1{
	width:100%;
	height:100%;
	margin-bottom: 19px;
	padding: 0 0 0 18px;
}

.Acordeon_Oficina {
	width: 100%;
}
.Acordeon_Oficina h2 {
	font-size: 18px;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 10px;
	line-height: 0.8em;
}

.roteiro_info {
	position: relative;
	padding-left: 30px;
	color: #666;
	font-size: 14px;
	line-height: 1em;
	cursor: pointer;
}
.roteiro_num_listagem {
	position: absolute;
	width: 30px;
	height: 32px;
	top: 0;
	left: 0;
	padding: 8px 0;
	color: #fff;
	text-align: center;
	border: 1px solid #fff;
	border-bottom: none;
	border-right: none;
}
.roteiro_nome {
	padding: 8px;
	border: 1px solid #fff;
	border-bottom: none;
}
.objetivo_status {
	position: absolute;
	width: 15px;
	height: 15px;
	border: 1px solid #fff;
	top: 7px;
	right: 7px;
	background-color: #ccc;
}

.oficina_planejamento.roteiro_expandido .roteiro_num_listagem,
.oficina_planejamento:last-child .roteiro_num_listagem,
.oficina_planejamento:last-child .roteiro_nome {
	border-bottom: 1px solid #fff;
}

.oficina_planejamento.roteiro_expandido:last-child .roteiro_nome {
	border-bottom: none;
}

.objetivo_aberto {
	background-color: #f7931d;
}
.objetivo_entregue {
	background-color: #8ec449;
}
.roteiro_conteudo {
	width: 100%;
	position: relative;
	padding-left: 30px; 
	overflow: hidden;
	display: none;
}
.roteiro_item {
	position: relative;
	min-height: 30px;
	height: auto;
	width: 100%;
	background-color: #f2f2ee;
	border: 1px solid #fff;
	border-bottom: none;
	color: #666;
	font-size: 12px;
	padding: 8px;
	padding-right: 30px;
}
.roteiro_descricao {
	background-color: #e5e5dc;
	padding-right: 8px;
}
.roteiro_recurso {
	background-position: left center;
	background-repeat: no-repeat;
	min-height: 24px;
	padding: 5px 25px;
}

.recurso_foto {
	background-image: url(../img/ic_foto.png);
}
.recurso_link {
	background-image: url(../img/ic_pgweb.png);
}
.recurso_video {
	background-image: url(../img/ic_video.png);
}
.recurso_jogo {
	background-image: url(../img/ic_jogo.png);
}
.recurso_audio {
	background-image: url(../img/ic_audio.png);
}
.recurso_livro {
	background-image: url(../img/ic_livro2.png);
}


.scroll_limiter {
	height: 100%;
	overflow: hidden;
}
.mCSB_scrollTools_vertical {
	right: 0 !important;
}