html, body
{
	padding:0;
	margin:0;
}
* { box-sizing: border-box; }

#lista_oficinas{
	height: 55px;
}

table{
	width:100%;
}
table tr{	
	background:#EBEBE3;
}
table td{
	width:122px; 
	font-size:13px;
	color:#78786B;
	padding:0;
	height: 53px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
p{
	padding:0;
	margin:0;
}
.aba_oficina {
	position: relative;
	height:30px;
	overflow: hidden;
	cursor: pointer;
}
.fundo_aba {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 100%;
	transition: top 0.3s ease-in-out;
}
.oficina_titulo {
	width: 100%;
	height: 24px;
	padding: 5px;
	transition: color 0.3s ease-in-out;
}
.feedback_oficinas_false
{
	padding: 15px;
	background-color: #EBEBE3;
	color: #666;
}
table td:hover .fundo_aba, .aba_ativa .fundo_aba {
	top: 0;
}
table td:hover .oficina_titulo, .aba_ativa .oficina_titulo {
	color: #fff;
}
.of_Qdr{
	width:49%;
	height: 490px;
	margin-top: 13px;
}
.oficinas_container {
	width: 100%;
	height: auto;
	margin: 0;
}
.oficina_content_box {
	width: 50%;
	height: 500px;
	float: left;
	background-color: antiquewhite;
}
.oficina_boxes_container {
	width: 100%;
	height: 100%;
	margin: 0;
}
.oficina_boxes_container::after{
	content: "";
	display: block;
	width: 100%;
	clear: both;
}
.box_blog {
	background: #f1f1ec;
	overflow: hidden;
}
.blog_postagens {
	width: 98%;
	overflow: hidden;
}
.cx_postagem{
	width: 100%;
	min-height: 83px;
	padding: 0 17px;
	margin-bottom: 25px;
	word-break: break-word;
}
.cx_postagem:first-of-type {
	padding-top: 20px;
}
.cx_postagem:last-of-type {
	padding-bottom: 20px;
	margin-bottom: 0;
}
.cx_titulo {
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	color: #666666;
	margin: 0;
	margin-bottom: 5px;
}
.cx_info {
	font-size: 12px;
	font-weight: normal;
	color: #BABABA;
	margin: 0;
	margin-bottom: 15px;
}
.img_postagem {
	width: 50%;
	margin-right: 10px;
	float: left;
}
.cx_texto {
	margin-top: 10px;
	display: inline-block;
	color: #666;
	line-height: 1.3em;
}
.cx_texto:first-of-type {
	margin-top: 5px;
	display: inline;
}
.fim_postagem {
	margin: 0;
	margin-top: 10px;
	border: 0;
	border-top: 1px solid #aaa
}
.Mensagem_Blog_Vazio, .Mensagem_Roteiro_Vazio {
	padding: 20px;
	color: #666;
	background-color: #EBEBE3;
	min-height: 80px;
}
.cx_tema_1{
	width:100%;
	height:100%;
	margin-bottom: 19px;
	padding: 0 0 0 18px;
}

.Acordeon_Oficina {
	width: 98%;
}

.roteiro_info {
	position: relative;
	height: 30px;
	padding: 8px 40px;
	color: #666;
	font-size: 14px;
	line-height: 1em;
	border: 1px solid #fff;
	border-bottom: none;
	cursor: pointer;
}
.roteiro_num_listagem {
	position: absolute;
	width: 30px;
	height: 100%;
	top: 0;
	left: 0;
	padding: 8px 0;
	color: #fff;
	text-align: center;
	border-right: 1px solid #fff;
}
.objetivo_status {
	position: absolute;
	width: 15px;
	height: 15px;
	border: 1px solid #fff;
	top: 7px;
	right: 7px;
	background-color: #ccc;
}
.objetivo_aberto {
	background-color: #f7931d;
}
.objetivo_entregue {
	background-color: #8ec449;
}
.roteiro_conteudo {
	width: 93%;
	position: relative;
	left: 30px;
	overflow: hidden;
	display: none;
}
.roteiro_item {
	position: relative;
	min-height: 30px;
	height: auto;
	width: 100%;
	background-color: #f2f2ee;
	border: 1px solid #fff;
	border-bottom: none;
	color: #666;
	font-size: 12px;
	padding: 7px 7px 7px 20px;
}
.roteiro_descricao {
	background-color: #e5e5dc;
}
.roteiro_recuso {
	background-position: left center;
	background-repeat: no-repeat;
	min-height: 24px;
	padding: 5px 25px;
}

.recurso_foto {
	background-image: url(../img/ic_foto.png);
}
.recurso_link {
	background-image: url(../img/ic_pgweb.png);
}
.recurso_video {
	background-image: url(../img/ic_video.png);
}
.recurso_jogo {
	background-image: url(../img/ic_jogo.png);
}
.recurso_audio {
	background-image: url(../img/ic_audio.png);
}
.recurso_livro {
	background-image: url(../img/ic_livro2.png);
}


.scroll_limiter {
	height: 100%;
	overflow: hidden;
}