@charset "utf-8";
/* CSS Document */


/*Calendário Geral*/
#Content_lateral_Calendario #datepicker .ui-widget
{
	width:100%;
	height:100%;
	text-align: center;
	padding: 0;
	border: 0;
	margin-top:88px;
}	
#Content_lateral_Calendario .ui-datepicker{
	height:auto !important;
	width: 182px !important
}			
#Content_lateral_Calendario .ui-widget-header{
	border:0 !important;
	background:rgba(2, 129, 141, 1) !important;
}
#Content_lateral_Calendario .ui-corner-all{
	border-radius: 0 !important;
}
#Content_lateral_Calendario .ui-datepicker .ui-datepicker-header{
	padding: 0px !important;	
	height: 26px !important;
}

#Content_lateral_Calendario .ui-datepicker-title
{
	background-color: rgb(71, 149, 160) !important;
	color: white !important;
	height: 26px;
	padding: 2px;
	font-weight: bold;
	font-size: 11px;
	font-family: "proxima-nova" !important;
}
#Content_lateral_Calendario .ui-icon{
	background:none !important;
}
#Content_lateral_Calendario .ui-datepicker-next{
	background:none;
	background-image:url(../img/rightArrowG.png) !important;
	right: 0px !important;
	margin-top:1px;
}
#Content_lateral_Calendario .ui-datepicker-prev{
	background:none;
	background-image:url(../img/leftArrowG.png) !important;
	margin-top:1px;
}
#Content_lateral_Calendario .ui-datepicker{
	background-color: rgb(236, 235, 229) !important;
	height: 100%
}
#Content_lateral_Calendario .ui-datepicker-week-end{
	color:#FFF !important;
}
#Content_lateral_Calendario .ui-datepicker-calendar{
	background-color: rgb(236, 235, 229) !important;
	border: solid thin white !important;
	height: 100px;
}
#Content_lateral_Calendario .ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
	height: 150px;
}
#Content_lateral_Calendario .ui-state-default{
	border:0 !important;
	background:none !important;
}
#Content_lateral_Calendario .ui-datepicker table tr td{
	border: solid thin white !important;
	width:21px;
	height:21px;
}
#Content_lateral_Calendario .ui-state-default, #Content_lateral_Calendario .ui-widget-content #Content_lateral_Calendario .ui-state-default, #Content_lateral_Calendario .ui-widget-header #Content_lateral_Calendario .ui-state-default{
	text-align:center !important;
}
#rodape_calendario{
	border: 1px solid #000;
	width: 182px;
	height: 26px;
	margin:-25px auto;
	background-color: rgb(22,190,207) !important;
	border:none !important;
	color:white !important;
	font-weight: bold;
	font-size: 11px;
	display:none;			
}
#rodape_calendario p {
	height: 26px;
	text-align: center;
	padding-top: 5px;
	margin-top: -2px;
	cursor:pointer;
	display:none;
}
#Content_lateral_Calendario .ui-datepicker td a {
	text-align: right;
	text-decoration: none;				
	font-weight: bold !important;
	font-size: 11px !important;
	background-repeat: no-repeat !important;
	color: rgb(102,102,102) !important;
	text-align: center !important;								
}
#Content_lateral_Calendario .ui-datepicker-week-end, #Content_lateral_Calendario .ui-datepicker-other-month, #Content_lateral_Calendario .ui-datepicker-unselectable, .ui-state-disabled{
	background:#DDD8D8 !important;
}	
#Content_lateral_Calendario .ui-datepicker-today{
	background-color:rgb(22,190,207) !important;
}
#Content_lateral_Calendario #diaCorrido{
	color:#FFF !important;	
}
#Content_lateral_Calendario .ui-widget-content {
	border: 0 !important;
}
#Content_lateral_Calendario .ui-datepicker th{
	
}
#Content_lateral_Calendario .ui-datepicker th{
	padding: 4px !important;
	color:#1E8290 !important;
	height: 10px !important;
	font-weight:normal !important;
	font-size:.9em !important;
	background-color:#DDD8D8 !important;
	border: 1px solid #FFF !important;
}
#Content_lateral_Calendario .eventoAtivo{
	background-color:rgba(22, 190, 207, 0.36) !important;
}
#Content_lateral_Calendario .feriado{
	background-color: #DDD8D8 !important;
}
#Content_lateral_Calendario .inicioEventos{
	background-image:url(../img/inicio_evento.png) !important;
	background-repeat:no-repeat !important;
}
#Content_lateral_Calendario #eventos{
	width: 480px;
	height: 250px;
	background: none repeat scroll 0% 0% #16BECF;
	z-index: 1;
	position: absolute;
	top: 519px;
	margin-left: 256px;
	font-size:22px;
	display:none;
}
#Content_lateral_Calendario .eventoAtivo .ui-state-default{
	color:rgba(2, 129, 141, 1) !important;
}
#Content_lateral_Calendario .ui-datepicker .ui-datepicker-next {
	width: 22px !important;
}
#Content_lateral_Calendario .ui-datepicker .ui-datepicker-next-hover{
	background-color: rgb(71, 149, 160) !important;
	background-repeat:no-repeat !important;
	background-position: 4px !important;
	width:26px !important;
	height:26px !important;
	border: 0 !important;
	margin-top:-1px !important;
	padding: 2px !important;
}
#Content_lateral_Calendario .ui-datepicker .ui-datepicker-prev-hover{
	background-color: rgb(71, 149, 160) !important;
	background-repeat:no-repeat !important;
	background-position: 2px !important;
	width:26px !important;
	height:26px !important;
	border: 0 !important;
	margin-top:-1px !important;
	padding:2px !important;
}
/*Fim calendário geral*/


/*Calendário página relatório do aluno*/
#calendario_relatorio{
	min-height:176px;
}
#calendario_relatorio .ui-widget
{
	width:100%;
	height:100%;
	text-align: center;
	padding: 0;
	border: 0;
	margin-top:88px;
}	
#calendario_relatorio .ui-datepicker .ui-datepicker-next {
	background-repeat:no-repeat !important;
	background-position: 6px !important;
	width:26px !important;
	height:24px !important;
	border: 0 !important;
	margin-top:-1px !important;
	padding: 2px !important;
}

#calendario_relatorio .ui-datepicker .ui-datepicker-next-hover{
	background-color: #FF9333 !important;
	background-repeat:no-repeat !important;
	background-position: 5px !important;
	width:26px !important;
	height:26px !important;
	border: 0 !important;
	margin-top:-1px !important;
	padding:2px !important;
}

#calendario_relatorio .ui-datepicker .ui-datepicker-prev-hover{
	background-color: #FF9333 !important;
	background-repeat:no-repeat !important;
	background-position: 2px !important;
	width:26px !important;
	height:26px !important;
	border: 0 !important;
	margin-top:-1px !important;
	padding: 2px !important;
	left: 0px;
}

#calendario_relatorio .ui-widget-header{
	border:0 !important;
	background:#FF7800 !important;
}
#calendario_relatorio .ui-datepicker th{
	background-color:#fcc066 !important;
	border:1px solid #FFFFFF;
	padding: 4px !important;
	color:#FFF !important;
	font-weight:normal !important;
	font-size:.9em !important;
}
#calendario_relatorio .ui-corner-all{
	border-radius: 0 !important;
}
#calendario_relatorio .ui-datepicker 
#calendario_relatorio .ui-datepicker-header{
	padding: 0px !important;	
	height: 26px !important;
}
#calendario_relatorio .ui-datepicker .ui-datepicker-header{
	padding: 0px !important;	
	height: 26px !important;
}
#calendario_relatorio .ui-datepicker-title
{
	background-color: #FF9333 !important;
	color: white !important;
	height: 26px !important;
	padding: 2px !important;
	font-weight: bold !important;
	font-size: 11px !important;
	font-family: "proxima-nova" !important;
	line-height: 21px !important;
}

#calendario_relatorio .ui-icon{
	background:none !important;
}
#calendario_relatorio .ui-datepicker-next{
	background-image:url(../img/rightArrowG.png) !important;
	margin-top:1px;
	background-repeat: no-repeat;
}
#calendario_relatorio .ui-state-disabled {
	opacity: 1 !important;
}
#calendario_relatorio .ui-datepicker-prev{
	background-image:url(../img/leftArrowG.png) !important;
	margin-top:1px;
	background-repeat: no-repeat;
}
#calendario_relatorio .ui-datepicker{
	background-color: rgb(236, 235, 229) !important;
	height: 100%
}
#calendario_relatorio .ui-datepicker-week-end{
	color:white !important;
}
#calendario_relatorio .ui-datepicker-calendar{
	background-color: #FFFFFF !important;
	border: solid thin white !important;
	height: 100px;
}
#calendario_relatorio .ui-datepicker table {
	width: 100% !important;
	font-size: 12px;
	border-collapse: collapse;
	margin: 0 0 .4em;
	height: 150px;
}
#calendario_relatorio .ui-state-default{
	border:0 !important;
	background:none !important;
}
#calendario_relatorio .ui-datepicker table tr td{
	border: solid thin white !important;
	width:21px;
	height:21px;
}
#calendario_relatorio .ui-state-default{
	font-size: .9em !important;
	text-align: center !important;
	font-weight:normal !important;
	color: #C8C7C3 !important;
}

#calendario_relatorio .ui-datepicker td a {
	font-size: .9em !important;
	background-repeat: no-repeat !important;
	color: rgb(102,102,102) !important;
	text-align: center !important;								
}
#calendario_relatorio .ui-datepicker-week-end,
#calendario_relatorio .ui-datepicker-other-month,
#calendario_relatorio .ui-datepicker-unselectable, 
#calendario_relatorio .ui-state-disabled{
	background:#E6E6E6 !important;
}	
/*#calendario_relatorio .ui-state-highlight{
	background-color:#FF7800 !important;
}*/
#calendario_relatorio #diaCorridoRelatorio{
	color:#FFF !important;	
}

#calendario_relatorio .presenca{
	background-color: #ffea8d !important;
}

#calendario_relatorio .falta{
	background-color: #F7941E !important;
}
/*Fim calendário relatório*/

/*Barra de rolagem*/
.mCSB_scrollTools .mCSB_draggerRail {
	background-color: rgb(236, 235, 229) !important;
	width: 4px !important;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: #ccc !important;
}	
.mCSB_inside > .mCSB_container {
	margin-right: 5px !important;
}

.mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight {
	background-image: url(../img/mCSB_buttons.png) !important;
	background-repeat: no-repeat;
	opacity: 0.4; 
	filter: "alpha(opacity=40)"; 
	-ms-filter: "alpha(opacity=40)"; 
}
.mCSB_scrollTools .mCSB_buttonUp{
	background-position: -3px 0px !important;
}
.mCSB_scrollTools .mCSB_buttonDown{
	background-position: -3px -19px !important;
}

@media (max-device-width :1024px){
	.mCSB_inside > .mCSB_container {
		margin-right: 19px !important;
	}
}

.example li {
	height: 180px;
	width: 212px;
	display: block;
	float: left;
	margin: 18px 18px 0 0;
	padding: 0;
} 

/*Fim Barra de rolagem*/


/*Pagina Construcao*/
.construcao{
	height: 554px;
}
.construcao p{
	text-align: center;
	font-size: 24px;
	margin: 0;
	padding: 26px;
	color:#FFF;
	background:#26b7cd;
}

.ui-multiselect{
	padding: 2px 0 2px 4px;
	text-align: left;
	color: rgba(2, 129, 141, 1) !important;
	margin-top: 6px !important;
}
.ui-multiselect-header {
	margin-bottom: 3px;
	padding: 3px 0 3px 4px;
	background: rgba(2, 129, 141, 1) !important;	
	border: 0 !important;
}
.ui-state-active{
	border:1px solid #dddddd !important;
	background:rgb(242, 242, 238) !important;
}
.ui-widget-header a {
	color: #FFFFFF !important;
}
.ui-widget-content{
	background:rgb(242, 242, 238) !important;
}
.ui-widget-header a span {
	color: #FFFFFF !important;
}

#destinatarios button{
	width:200px;
}
.ui-corner-all input{
	width:6% !important;
}
.ui-state-hover{
	border:1px solid #dddddd !important;
	background:rgb(242, 242, 238) !important;
}
.ui-widget-content .ui-state-hover{
	background:#88CEDD !important;
	color:#FFFFFF !important;
	font-weight:normal !important;
	border:0px !important;
}
.ui-state-active .ui-icon,.ui-state-default .ui-icon{
	background: url(../img/select2.png) no-repeat !important;
	height: 10px !important;
	width: 20px !important;
	margin: 6px 0px !important;
}

@media (width: 1024px) and (max-height: 509px){
	#rodape_calendario{
		margin: -35px auto;
	}

}

@media (width: 1024px){

	.mCSB_inside > .mCSB_container {
		margin-right: 8px !important;
	}
	
}