	#producao_aluno_cabecalho
	{
		width: 100%;
		position: relative;
		overflow: hidden;
	}
			/*-------- bt portifolio ------*/
			.Prod_Aluno_Nav {
				display: block;
    			width: 100%;
    			height: auto;
    			list-style-type: none;
    			-webkit-margin-before: 0;
    			-webkit-margin-after: 0;
    			-webkit-margin-start: 0;
    			-webkit-margin-end: 0;
    			-webkit-padding-start: 0;
			}
			.Prod_Aluno_Nav_Item {
				background-color: rgb(173, 204, 83);
				width: 24.9%;
				height: 55px;
				position: relative;
				font-size: 20px;
				padding:15px;
				color: rgb(255, 255, 255);
				display: inline-block;
                text-transform: uppercase;
				cursor: pointer;
				text-align: center;
				margin-right: 1.2px;
				float: left;
			}
			#cabecalho_fichas{
				padding-top: 5px;
			}
			.Prod_Aluno_Nav_Item:first-of-type {
				margin-left: 0;
			}
			.Prod_Aluno_Nav_Item:last-of-type {
				margin-right: 0;
			}
			.Nav_Item_Ativo {
				background-color: #8FAE38;
			}



		#Prod_Aluno_Content{
			width: 99.9%;
			height: 500px;
			padding: 20px;
			background-color: #E5E5DC;
		}

		#menu_lateral_portfolio,
		#menu_lateral_atividade,
		#menu_lateral_fichas{
			height: 100%;
			width: 20%;
			float: left;
		}

		#menu_lateral_portfolio ul,
		#menu_lateral_atividade ul,
		#menu_lateral_fichas ul{
			list-style: none;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 3px;
			background-color: white;
			overflow: auto;
		}

		#menu_lateral_portfolio li,
		#menu_lateral_atividade li,
		#menu_lateral_fichas li{
			background-color: #ECEBE5;
			min-height: 12.5%;
			border-bottom: 3px solid white;
			padding: 10px;
			cursor: pointer;
		}

		/*
			Cor de fundo quando o item do menu
			estiver ativo: background-color: #D6E5A9
		*/
		#menu_lateral_oficinas {
			width: 100%;
			display: inline-block;
			float: left;
		}
		#Prod_Oficina_Acordeon {
			width: 150px;
			height: 460px;
			overflow: hidden;
		}
		.Prod_Oficina_Nome {
		    min-height: 30px;
		    padding: 7px;
		    text-transform: uppercase;
		    font-size: 12px;
		    border-left: 2px solid #fff;
		    border-right: none;
		    border-top: 1px solid #fff;
		    border-bottom: 1px solid #fff;
		    color: #fff;
		    cursor: pointer;
		}
        .Prod_Atv_Extra {
            background-color: #fbb040;
        }
		.Prod_Aluno_Content_Item {
			height: 100%;
		}
		#Oficinas {
			position: relative;
			display: block !important;
		}

		.itemExpandido > .Prod_Oficina_Nome {
			border-bottom: 2px solid #fff;
		}

		.itemExpandido + .Prod_Oficina_Item > .Prod_Oficina_Nome {
			border-top: 2px solid #fff;
		}
		.container_tela_padrao
		{
			display: none;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
		.tela_padrao_titulo
		{
			display: block;
			margin: 0;
			margin-bottom: 15px;
			font-size: 14px;
			text-transform: uppercase;
			color: #8FAE38;
			letter-spacing: 0.5px;
			font-weight: normal;
		}
		.retono_vazio_recentes
		{
			margin: 0;
			padding: 15px;
			background-color: #ecebe5;
			color: #666;
			font-size: 14px;
			font-weight: normal;
		}
		.atividade_recente_item
		{
			position: relative;
			display: inline-block;
			overflow: hidden;
			width: 160px;
			height: 194px;
			margin: 0 28px 10px 0;
			padding: 15px 0 0;
			float: left;
			background-color: #ecebe5;
		}
		.atividade_recente_item > a
		{
			text-decoration: none;
		}
		.atividade_recente_img
		{
			display: block;
			width: 120px;
			margin: 0 auto 8px;
			height: 120px;
			cursor: pointer;
			background-size: cover;
			background-position: center center;
		}
		.atividade_recente_nome
		{
			display: block;
			width: 120px;
			height: 20px;
			margin: 0 auto;
			color: #666;
			overflow: hidden;
			font-size: 14px;
		}
		.atividade_recente_nome > span
		{
			white-space: nowrap;
		}
		.atividade_recente_tipo
		{
			position: absolute;
			display: block;
			width: 100%;
			text-align: center;
			color: #fff;
			padding: 5px 0;
			font-size: 12px;
			text-transform: uppercase;
			bottom: 0;
		}
		.atividade_recente_item:nth-of-type(4n+0)
		{
			margin-right: 0;
		}
		.Oficina_Content_Item {
    		width: 130px;
    		height: 30px;
    		float: right;
    		padding: 7px;
    		background-color: #ecebe5;
    		border-top: 1px solid #fff;
    		border-left: 2px solid #fff;
    		border-bottom: 1px solid #fff;
    		border-right: 2px solid #fff;
    		color: #666;
    		font-size: 14px;
    		cursor: pointer;
		}
		.Add_Item {
		    background-color: #d9d7cc;
		    padding: 7px 7px 7px 25px;
		    background-image: url(../img/ic_add_peq.png);
		    background-repeat: no-repeat;
		    background-position: 7px center;
    		background-size: 13px;
		}
		.Item_Prod_Titulo {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
		.Item_Prod_Titulo > span{
			position: absolute;
			white-space: nowrap;
		}
		.Item_Selected {
			background-color: #fff;
		}
		.Oficina_Content_Item:first-child {
			border-top: none;
		}
		.Oficina_Content_Item:last-child {
			border-bottom: none;
		}
		.Prod_Oficina_Item:first-of-type .Prod_Oficina_Nome {
			border-top: 2px solid #fff;
		}
		.Prod_Oficina_Item:last-of-type .Prod_Oficina_Nome {
			border-bottom: 2px solid #fff;
		}
		.Prod_Oficina_Item:last-of-type > .Prod_Oficina_Content > .Oficina_Content_Item:last-of-type {
			border-bottom: 2px solid #fff;
		}
		.Prod_Oficina_Content {
			display: none;
		}
		.Prod_Oficina_Content::after {
			content: '';
			display: block;
			width: 100%;
			clear: both;
		}
		#conteudo_principal_portfolio,
		#conteudo_principal_fichas{
			width: 80%;
			height: 100%;
			background-color: white;
			float: left;
			padding: 5px;
			overflow: auto;
		}
		#conteudo_principal_oficinas {
			height: 100%;
            min-height: 460px;
			width: 755px;
			background-color: #fff;
			padding: 15px;
			position: absolute;
			left: 150px;
		}

		.Prod_Oficina_Conteudo {
			width: 100%;
			height: 100%;
			overflow: hidden;
			display: none;
		}

		.Oficina_Content_Img, .Oficina_Content_Add {
			width: 100%;
			height: 100%;
			display: none;
		}
		.Img_show, .Img_show > .Oficina_Content_Img {
			display: block;
		}

		.Oficina_Prod_Img {
			display: inherit;
			width: auto;
			max-width: 100%;
			height: auto;
			max-height: 100%;
			margin: 0 auto;
		}
        .Prod_Oficina_View {
            display: none;
            position: static;
        }

		#Titulo_objeto{
			font-size: 24px;
			text-align: center;
		}

		.imagem_objeto{
			width: 100%;
			height: 90%;
			/*background: url(../img/imgteste.png) 50% 50% no-repeat;*/
			background-size: contain;
			margin: 0 auto;
		}

		#Portfolio{
			height: 100%;
			display:none !important;
		}
		#Atividade,
		#Fichas
		{
			height: 100%;
			display: none;
		}

	/*----Mensagem Exclusao---------*/

	#back_black
	{
		width: 100%;
		height:100%;
		background-color:rgba(0,0,0,0.4);
		position:absolute;
		z-index:2;
		display: none;
	}


	.mensagem_Exclusao
	{
		width:300px;
		height:150px;
		background-color: white;
		position:relative;
		margin:0 auto;
		top:40%;
	}

	.Mensagem_Texto
	{
		width:100%;
		height:100px;
		text-align:center;
		padding:10px;
		padding-top: 30px;
		color:rgb(134,134,134);
	}

	.Mensagem_Botoes
	{
		width:100%;
		/* background-color:blue; */
		height:50px;
		padding:5px 10px;
		padding-top:0px;

	}


	.mCustomScrollBox
	{
		background-color: white;
	}

    #Oficinas > div.mCustomScrollBox
    {
        background-color: rgba(255,255,255,0);
    }

	.Titulo_Nova_Prod_Oficina{
		display: inline-block;
	    margin: 0;
	    margin-bottom: 15px;
	    font-size: 14px;
	    text-transform: uppercase;
	    color: #8FAE38;
	    letter-spacing: 0.5px;
	    font-weight: normal;
	}
	*[class*="infoValue"] {
		height: 39px;
	}
	*[class*="infoValue"] input {
		height: 100%;
		width: 100%;
	}

	/*Falme*/

	.celulaGrande_container::after
	{
		content: '';
		display: block;
		width: 100%;
		clear:both
	}

	.bt
	{
		display: inline-block;
		height: 35px;
		background-color: rgb(173, 204, 83);
		color: white;
		padding: 10px;
		padding-left: 33px;
		font-size: 14px;
		margin-top: 10px;
		text-align: center;
		cursor: pointer;
	}
	.bt:hover {
		background-color: #8FAE38;
	}
	.bt_Add_Arquivo {
		background-image: url(../img/ic_addG_branco.png);
		background-repeat: no-repeat;
		background-position: 10px center;
		background-size: 16px;
	}

	.bt_Salvar_Producao {
		background-image: url(../img/ic_salvar.png);
		background-repeat: no-repeat;
		background-position: 10px center;
		background-size: 15px;
	}

	.Fleft
	{
		float:left;
	}

	.Fright
	{
		float:right;
	}

.imagem_objeto iframe
{
	width:75%;
	height:460px;
	border:none;
	margin-top:-8px;
}

#List_ADD
{
	text-align:left;
	font-weight: bold;
	padding:17px !important;
	background-image: url("../img/mais_icone.png");
	background-repeat: no-repeat;
	background-position: 140px 17px;
}

#menu_lateral_portfolio a, #menu_lateral_fichas a
{
	color: rgb(135, 135, 135);
	text-decoration: none;
}

#menu_lateral_atividade a
{
	color: black;
	text-decoration: none;
}

/*#menu_lateral_atividade ul li:first-child
{
	text-align:left;
	font-weight: bold;
	padding:17px;
	background-image: url("../img/mais_icone.png");
	background-repeat: no-repeat;
	background-position: 140px 17px;
}*/


#objeto_verificar
{
	display:block;
}

#objeto_adicionar
{
	display:none;
}


#LegendaUpload
{
	padding:10px;
	text-align: center;
}

#container_Pesquisa {
    width: 643px;
    height: 460px;
    background-color: #E5E5DC;
    float: left;
}

#btn_Sub_AE{
	width: 100px;
	display: block;
	background: #ADCC53;
	cursor: pointer;
	float: right;
  	font-size: 20px;
	color:#FFF;
}

#Tipo {
  width: 100%;
  height: 84px;
  float: left;
  border: 2px solid rgb(173, 204, 83);
  border-right: none;
  margin-bottom: 0.9%;
  color: #666;
}

/*.celulaGrande {
  width: 100%;
  height: 42px;
  margin-bottom: 0.9%;
  overflow: auto;
  border: 2px solid rgb(173, 204, 83);
  float: left;
  background-color: #F2F1ED;
  color: #666;
}

.infoG {
  width: 20%;
  height: 100%;
  padding: 10px;
  background-color:  rgb(214, 229, 169);
  text-align: right;
  float: left;
  border-right: 2px solid rgb(173, 204, 83);
}
*/

.infoGTipo{
	width: 20%;
    height: 100%;
    padding: 10px;
    background-color: #C8C8C3;
    text-align: right;
    float: left;
    border-right: 2px solid rgb(173, 204, 83);
}

.BorderBottom {
  border-bottom:2px solid rgb(173, 204, 83);
}


.inputImg {
	width: 7%;
	height: 40px;
	background: url(../img/checkbox-botao-verde.png) no-repeat;
	background-size: 80px;
	background-position: 0 0;
	float: left;
	border-right: 2px solid rgb(173, 204, 83);
	cursor: pointer;
}

.infoValueP {
  width: 33%;
  height: 50%;
  padding: 12px;
  text-align: right;
  float: left;
  border-right: 2px solid rgb(173, 204, 83);
}

#Arquivo_Foto_Aluno
	{
		display:none;
	}
#foto {
	background-image: url(../img/foto_verde.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border: thin solid rgb(173, 204, 83);
	border-radius: 5px;
	cursor: pointer;
	height: 101px;
	margin: auto 74px;
	width: 23%;
}

#foto-icon{
	background: url(../img/ic_foto.png) no-repeat 35px;
    background-color: #F2F1ED;
}

#video-icon{
	background: url(../img/ic_video.png) no-repeat 24px;
    background-color: #F2F1ED;
}

#musica-icon{
	background: url(../img/ic_audio.png) no-repeat 33px;
    background-color: #F2F1ED;
}

#arquivo-icon{
	background: url(../img/ic_pgweb.png) no-repeat 25px;
    background-color: #F2F1ED;
}

.mCSB_scrollTools .mCSB_draggerContainer {
  position: absolute;
  top: 0;
  left: 12px !important;
  bottom: 0;
  right: 0;
  height: auto;
}

@media (width: 1024px) and (max-height: 509px){
	.mCSB_inside > .mCSB_container {
		margin-right: 16px !important;
	}

	.mCSB_scrollTools .mCSB_draggerContainer {
		left: 0px !important;
	}
}

@media (width: 1024px) and (min-height: 510px) and (max-height: 639px){
	.mCSB_inside > .mCSB_container {
		margin-right: 16px !important;
	}

	.mCSB_scrollTools .mCSB_draggerContainer {
		left: 0px !important;
	}
}

@media (min-height: 666px)and (max-height: 667px){
	.imagem_objeto iframe
	{
		width: 75%;
		height:450px;
		border:none;
	}
}
@media (min-width: 1280px)and (max-height: 707px){
	.imagem_objeto iframe
	{
		width: 75%;
		height:450px;
		border:none;
	}
}