html, body
{
	padding:0;
	margin:0;
}

.registroJeff{
	width: 48.5%;
	height: 570px;
	float:left;
	padding:0;
}
.marginRight{
	margin-left:27px;
}
.titulo{
	font-size:18px;
	color:#02818D;
	padding:0;
	margin-top:0;
}
#registroJeffConteudo{
	width: 100%;
	height: auto;
	background-color:#E3E3DB;
}
.scroll_receiver{
	height:533px;
}
#documentoJeffConteudo{
	width: 100%;
	height: auto;
}
.docJeiff{
	color:#666666;
	font-size:14px;
	margin:0;
	padding: 5px 10px;
	border: #FFFFFF 1px solid;
}
.docJeiff:nth-child(odd){
	background:#ECEBE5;
}
.docJeiff:nth-child(even){
	background:#f2f1f0;
}

.blocoInd{
	padding: 15px 15px 0;
}

.tituloJeiff{
	padding: 0;
	margin: 0 0 11px 0;
	font-size: 16px;
	color: #666666;
}
.horaJeiff{
	padding: 0;
	margin: 0 0 18px 0;
	font-size: 12px;
	color: #BBBBBB;
}
.textJeiff{
	font-size: 16px;
	color: #666666;
}

.barra{
	border: 1px solid #666666;
	padding: 0;
	margin: 15px 0 0 0;
}
