@charset "utf-8";
/* CSS Document */

.resp {
	width: 28.9%;
	background-color: rgb(250,248,246);
	background: #F2F1ED;
	float: left;
	padding: 10px;
	text-align: right;
	margin-left: 2.6px;
	margin-bottom: 2px;
}

.dadosAluno{
	width: 100%;
	min-height: 10px;
	background: rgb(112, 160, 152) !important;
	padding: 1px 1px 1px 1px;
	margin-bottom:4px;
}

.dadosAluno .celulaGrande{
	border: none;
  	overflow: hidden;
  	background-color: rgb(250,248,246);
  	color: #666;
	border-bottom: 1px solid #fff;
} 

.dadosAluno .infoM {
	width: 27.1%;	
	height: 25px;
	cursor: default;
	float:center;
	padding:5px 0px;
}

.dadosAluno .infoValueM {
	width: 72.9%;
	height: 25px;	
	background-color: rgb(214,228,225);
	float: left;
}

.campos{
	background-color: rgb(214,228,225);
	color: #666;
	padding: 10px;
	border-bottom: 2px #FFF solid;
}

.infoValueP{
	background-color: rgb(250,248,246);
	color: #666;
	overflow: hidden;

}
 
.infoPTut{
	width: 22%;
	height: 39px;
	padding: 12px;
	text-align: right;
	float: left;	
	background-color: rgb(214,228,225);
	border: none;
	color: #666;
	padding: 10px;
}  

.infoValuePTut {
	width: 78%;
	height: 39px;
	background-color: #F2F1ED;
	float: left;

}
  

.styled-select {
	width: 100%;
	height: 39px;
	overflow: hidden;
	background: url(../img/select-arrow.png) no-repeat right rgb(250, 248, 246);
	background-color: rgb(250, 248, 246);
}
.inputImgRel{
	width: 37px;
	height: 37px;
	background: url(../img/radio-botao.png) no-repeat;
	float: left;
	cursor: pointer;
}
.marginBottom{
	margin-bottom:5px;
}

.celulaPequenaPes{
	margin-bottom: 0.5%;
}

.btn_relatorio {
	margin-top:6px;
	float: right;
	width: 23.6%;
}

#btnRelImp, .btn_relatorio #btnUser{
	cursor:pointer;
	text-transform: capitalize;
	padding:8px;
}

.dadosBusca{
	display:none;
	background-color: rgb(214,228,225);
	color: #666;
	padding: 10px;
	border-bottom: 2px #FFF solid;
	font-size:13px;
	font-family:sans-serif;
}

.btnImprimir{
	display:none;
}

input {
	border: none;
	width: 100%;
	padding: 8px 0px 0px 4px;
	background-color: transparent;
	overflow: hidden;
	color: #666;
	font-size:12px;
	font-family:sans-serif;
	text-transform: uppercase;
}

@media print {
	body{
		margin:0px;
		padding:0px;
		background-color: #fff;
	}
	#Content_lateral, #Cabecalho_Perfil_Area, #Cabecalho_Menu_Area, #observacao, .print, .mCSB_scrollTools {
		display:none;
	}
	#content_central {
		position: absolute;
		width: 793.700787px;
		height: auto !important;
		overflow: hidden !important;
		background-color: #fff !important;
		font-size:10px;
	}
	.mCSB_draggerContainer{
		display:none;	
	}
	.link{
		display:none;	
	}
	.abas {
		display:none;
	}
	#Content_lateral, #Cabecalho_Perfil_Area, #Cabecalho_Menu_Area, #observacao, .print, .mCSB_scrollTools,#observacao_box {
		display:none;
	}
	#Conteudo_Area {
		 background-color: transparent; 
	}
	
	#box_cadastro {
		height: 100%;
		background-color: #FFF;
	}
	#frmCadastroAluno{
		display:none;
	}

	.mCustomScrollBox, .mCS-light, .mCSB_vertical, .mCSB_inside{
		overflow:hidden;
	}
	.mCSB_buttonUp,.mCSB_buttonDown{
		display:none !important;
	}
	.dadosBusca{
		display:block;
		background-color: rgb(214,228,225);
		color: #666;
		padding: 10px;
		border-bottom: 2px #FFF solid;
	}

	.dadosAluno .celulaGrande {
	    border: none;
	    overflow: hidden;
	    background-color: rgb(250,248,246);
	    color: #666;
	    margin-bottom: 0;
	    border-bottom: 2px solid #fff;
	    height: 15px;
	}


	 .boxGeralRelatorio .dadosAluno .celulaGrande .infoValueM input{
	 	color: #f49330;
		border: none;
		width: 100%;
		padding: 1px 0px 0px 0px;
		background-color: transparent;
		overflow: hidden;
		color: #666;
		font-size: 11px;
		font-family: sans-serif;
		text-transform: uppercase;
	} 

	.dadosAluno .celulaGrande .infoM {
	    width: 27.1%;
	    height: 20px;
	    cursor: default;
	    float: center;
	    font-size: 12px !important;
	    padding: 0px 5px;
	}	
}