/* CSS Document */
.linha_aluno{	
	width: 99%;
	min-height: 138px;
	background-color: #f2f2ee;
	border-radius:12px;
	padding-bottom: 4px;
	-webkit-border-radius: 12px;
	-o-border-radius: 12px;
	-moz-border-radius: 12px;
}

.FotoAluno{
	width:115px;
	height: 110px;	
	float:left;
	margin: 8px 10px 10px;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-o-border-radius: 12px;
	-moz-border-radius: 12px;
	background-color: white;
	overflow: hidden;
	background-image: url("img/FotoAluno.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border: 4px solid white;
}

#dados_col1{
	margin: 7px 0;
	width: 340px;
	min-height: 36px;
	float: left;
}
#dados_col1 p,#dados_col2 p{
	margin:0;
}
.nome_aluno, .ano{
	font-size:18px;
	color:#939389;	
}
.link{
	margin-top:25px;
	padding-top: 41px;		
}
.link a{
	text-decoration:none;
	color:#1E8290;	
}

.link_port{
	width: auto !important;
	min-width: 22px;
}

.link_port a{
	text-decoration:none;
	color:#1E8290;
}

.titulo{
	font-size:18px;
	color:#666666;
	margin:5px 0;
}
.planoRel{
	float: left;
}
.link_plano{
	float: right;
	width: 150px;
	text-align: right;
	margin: 6px 0;		
}
.link_plano a{
	text-decoration:none;
	color:#1E8290;
}
#dados_col2{
	margin: 8px 0;
	width: 384px;
	min-height: 36px;
	float: right;
}
.dados_tutor,.dados_grupo{
	font-size:16px;
	width:60px;
	float:left;	
	color:#939389;
}
.alunos_grupo, #tutor_div{
	width: 315px;
	float: left;
	color:#666666;
	font-size:16px;
}
#tutor_nome{
	color:#666666;
	font-size:16px;
	margin-left:5px;	
}
.box_geral_baixo{
	width: 99%;
}
.box_aluno_left{
	width:526px;
	min-height:600px;
	float:left;
	margin:36px 0;
	border-top:1px solid #666666;	
}
.box_aluno_left .linha_roteiro{
	width:100%;
	min-height:81px;
	border-bottom:1px solid #666666;
	padding-bottom: 3px;
}

.linha_roteiro a{
	color: white;
	text-decoration: none;
}
.linha_roteiro a:hover{
	color: white;
	text-decoration: none;
}
.linha_roteiro a:visited{
	color: white;
	text-decoration: none;
}

.box_aluno_right{
	width:332px;
	min-height:600px;
	float:right;	
	margin:36px 0;
}
.box_aluno_right .grafico{
	width:100%;
	height:111px;
	border-bottom:1px solid #666666;
}
.box_aluno_right .box_grafico{
	width:100%;
	height:451px;
	border-bottom:1px solid #666666;
}
.box_grafico{
	margin-top: -12px;	
}
.holder_g{
	width:80%;
	height:60%;
	float:right;
	margin-top:10px;
}
.holder_faltas{
	width:100%;
	height:60%;
	float:right;
	margin-top:10px;
}
.titulo_g{
	width:100px;
	font-size:20px;
	color:#666666;
	margin:5px 0;
}
#chart1,#chart2,#chart3{
	width: 100px !important;
	height: 55px !important;
	float:left !important;
}
.res_grafico{
	float:left;
	margin-left:-15px;
	font-size:18px;
	color:#939389;	
}
.res_grafico #res_vermelho{
	color:#EB5B61;
}
.res_grafico #res_azul{
	color:#4861AA;
}
.res_grafico #res_laranja{
	color:#FF7800;
}
.box_aluno_right .box_calendario{
	width:100%;
}
.rot_aluno{
	width: 488px;
}
.rot_aluno td{
	width:22px;
	min-height:22px;
	text-align:center;
	float: left;
	color:#fff;
	border:1px solid white;
}
.verde{
	background-color:#8DC63F;
}

.verdePort{
	background-color:#8DC63F;
}

.verde_tk{
	background-color:#8DC63F;
	background-image:url(../img/R_check.png);
}
.laranja{	
	background-color:#F7941E;
}
.cinza{
	background-color:#DFDED4;	
}
.amarelo{
	background-color:#FFEA86;
}
.branco{
	background-color:#FFF;
	border:1px solid #E0DFDF;
}
.num_plano{
	font-size: 10px;
	color: #666;
	float: left;
	width: 10px;
	margin: 0px;
	text-align: right;
	padding: 1.2px;
}
#bloco_plano {
	width: 285px;
	height: 325px;
	float: left;
	margin: 12px 0 15px 27px;
	border: 1px solid #DFDED4;
}
#bloco_numeros{
	width: 15px;
	float: left;
	height: 100%;
	margin: -8px -19px;
	padding: 9px 0px;
}
#bloco_linha{
	float:left;
}
#bloco_plano .plano_linha{
	border-bottom: 1px solid #DFDED4;
	float:left;
	width:290px;
	height:11px;
	margin:2px 13px 0 -7px;
}
.zero{
	border-bottom: 2px solid #666666 !important;
}
#legenda{
	width:57%;
	float:right;	
	margin-right: 20px;
}
#legenda p{
	width:93px;
	float:left;
}
#legenda .leg_titulo{
	color:#939389;
	font-size:18px;
	margin-left: 5px;
}

.quad{
	width:10px;
	height:10px;
	float:left;
	margin-top: 7px;
}
#nav{
	float:left;	
	width: 335px;
	margin: -55px 0 0 2px;
}
#nav #seta_left{
	float:left;	
	font-size:30px;
	color:#666666;
}
#nav #seta_right{
	float:right;	
	font-size:30px;
	color:#666666;
}

#box_grafico_scroll{
	width: 285px;
	height: 325px;
	float: left;
	margin: 15px 0 15px 27px;
	position: absolute;
}
.box_info{
	 height:328px;
	 width:1400px;	
}
.barra{
	width:24px;
	height:298px;
	margin-left: 8px;	
	float:left;
}
.col_barra{
	height:269px;
	margin:0;
	padding-left:4px;
	position:relative;
} 
.barra_proposto{
	width:4px;
	position: absolute;
	bottom: -15px;
}
.barra_concluido{
	width:4px;
	position: absolute;
	bottom: -15px;
	left:11px;
	font-weight: bold;
}
.dia_plano{	
	margin: 5px 0 0 2px;
	font-size:14px;
	color:#666666;
	border-right: 1px solid;
}

.barra:last-of-type .dia_plano{
	border:0 !important;
}
#observacao_box{
	min-height:250px;
	width:99%;
	background:#ebebe3;
	margin-bottom:0;
	padding: 1px 21px 10px;
}

#observacao_box hr{
	margin-top: 60px;
	margin-bottom: 20px;
	width: 891px;
	border-top: medium none #898989;
	border-left: none;
}
#cad_observacoes, .cad_observacoes{
	/*margin-bottom:55px;*/
	height:auto;
	width:100%;
	display: inline-block
}
#observacao, .observacaoTextArea{
	margin: 0px;
	height: 130px;
	width: 893px;
	resize: none;
	background-color:rgb(250,248,246);
	border:0;
	padding:10px;
}
#btnSalvar, .btnSalvar{
	background: url(../img/bt_salvar.png) no-repeat;
	float: right;
	width: 101px;
	height: 41px;
	margin-right:6px;
	cursor:pointer;
}
.boxRT{
	width: 600px;
	height: 400px;
	background-color: #F2F2EE;
	position: absolute;
	margin: 0px 20%;
	top: 18%;
	border: 2px solid #FFFFFF;
	padding:15px;
}
#observacao_box #titulo_observacao{
	padding: 0;
	color: #878787 !important;
	font-size: 18px;
	margin: 15px 0;
}
.box_obs{
	min-height: 53px;
	background: #FFFFFF;
	padding: 12px;
	margin-bottom: 4px;
	width: 99%;
}
.box_obs p.titulo_obs, .boxRT p.titulo_obs{
	padding:0;
	margin:0;
	color:#878787;
	font-size:18px;
}
.box_obs .nome, .boxRT .nome{
	float:left;
	margin-right:5px
}
.box_obs .cargo, .boxRT .cargo{
	font-size:14px !important;
}


.vizu a{
	float:right;
	font-size: 14px;
	text-decoration: none;	
	color:#1E8290;
}
.box_obs .right{
	float:right;
	font-size:14px !important;
}

.scrollbar{
	width: 100%;
	height: 259px;
	margin-top: 15px;
	margin-left: 0;
	margin-bottom: 17px;
	/*overflow-y: scroll;*/
	float: left;
}
#ex3::-webkit-scrollbar{
	width:4px;
	background-color:#cccccc;
} 
#ex3::-webkit-scrollbar-thumb{
	height:10px;
	background-color: #ccc;
	border-radius:10px;
}
#ex3::-webkit-scrollbar-thumb:hover{
	background-color:#878787;
}
#ex3::-webkit-scrollbar-thumb:active{
	background-color:#878787;
} 
#ex3::-webkit-scrollbar-track{
	width:4px;
	border:0;
	-webkit-box-shadow:0 0 6px rgb(236, 235, 229) inset;
} 

.btnRT{
	float: right;
	margin-top: -2px;
	padding: 0;
	height: 42px;
}
#btnCancel{
	display: inline-block;
	background-color: #02818D;
	color: #FFFFFF;
	padding: 10px 20px;
	font-size: 14px;
	border: none;
	margin: 0px 1px;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

#btnPrint{
	text-decoration: none;
	background: url(../img/bt_imprimir.png) no-repeat;
	width: 117px;
	height: 42px;
	padding: 12px;
	margin-bottom: 0.9%;
	text-align: center;
	color: white;
	float: right;
	font-weight: normal;
	font-size: 14pt;
	cursor: pointer;
}

#btnAtualizar{
	text-decoration: none;
	background-color: #EF7F23;
	width: 135px;
	height: 39px;
	padding: 12px;
	margin-bottom: 0.9%;
	text-align: center;
	color: white;
	float: right;
	font-weight: normal;
	font-size: 14pt;
	cursor: pointer;
	margin-right: 12px;
}

.fechar{
	display: block;
	height: 48px;
	width: 50px;
	float: right;
	margin-top: -17px;
	margin-right: -17px;
}
#box_geral_observacao{
	overflow-y: auto;
	height: 190px;
	margin-top: 24px;
	display:none;
}
.box_mes{
	height:317px;
	margin:0;
	padding: 0 2px;
	max-width: 100%;
	margin:0;
	float: left;
}
.bloco_mes{
	border-left: 1px solid #666666;
	height: 41px;
	min-width: 104px;
	position: absolute;
	bottom: 10px;
	margin-left: -3px;
}
.mes{
	font-size:14px;
	color:#666666;
	text-align: center;
	width: 97px;
	margin-top: 25px;
}
#box_calendario_relatorio{
	width:198px;
	margin: 25px auto;
}
#calendario_legenda{	
	width: 100%;
}
#calendario_legenda p{
	float: left;
	margin-left: 10px;
}
#calendario_legenda .leg_titulo{
	color:#939389;
	font-size:18px;
	margin-left: 2px;
}

@media print {
	body{
		margin:0px;
		padding:0px;
	}
	#Content_lateral, #Cabecalho_Perfil_Area, #Cabecalho_Menu_Area, #observacao, .print, .mCSB_scrollTools {
		display:none;
	}
	#content_central {
		position: absolute;
		width: 793.700787px;
		height: auto !important;
		overflow: hidden !important;
		background: #FFF;
		font-size:10px;
	}
	.mCSB_draggerContainer{
		display:none;	
	}
	.link{
		display:none;	
	}
	.rot_aluno{
		width: 366px;
	}
	.box_aluno_left {
		width: 50%;
		min-height: 600px;
		float: left;
		margin: 36px 0;
		border-top: 1px solid #C3C3C3;
	}
	.barra_proposto{
		bottom: -8px;
	}
	.barra_concluido{
		bottom: -8px;
	}
	.nome_aluno, .ano, .dados_tutor, .dados_grupo, #tutor_nome, .alunos_grupo{
		font-size: 14px;
		text-transform: uppercase;
	}
	#scrollbar,.mCSB_buttonUp,.mCSB_buttonDown {
		display: none !important;
	}
	#tutor_div{
		width: 80%;
	}
	#Content_lateral, #Cabecalho_Perfil_Area, #Cabecalho_Menu_Area, #observacao, .print, .mCSB_scrollTools,#observacao_box {
		display:none;
	}
	#Conteudo_Area {
		 background-color: transparent; 
	}
	
	div#observacao_box {
		overflow:hidden;
		height: auto;
		margin-top: 24px;
	}
	#observacao_box {
		height: auto;
		width: 99%;
		background: #ebebe3;
		margin-bottom: 0;
		padding: 1px 21px;
	}
	div#box_geral_observacao {
		overflow: auto;
		height: auto;
		margin-top: 24px;
	}
	#dados_col1 {
		margin: 7px 0;
		width: 34%;
		min-height: 36px;
		float: left;
	}
	#dados_col2 {
		margin: 8px 0;
		width: 46%;
		min-height: 36px !important;
		float: right;
	}
	.alunos_grupo {
		width: 81%;
		float: left;
		color: #666666;
		font-size: 14px;
	}
	.linha_aluno,.nome_aluno,.ano,.dados_tutor,#tutor_nome,.dados_grupo,.alunos_grupo,.titulo,.titulo_g{
		font-size:14px !important;
	}
	.rot_aluno td {
		width: 18px;
		height: 18px;
		text-align: center;
		color: #fff;
		border: 0;
	}
	#legenda .leg_titulo {
		color: #939389;
		font-size: 14px;
		margin-left: 5px;
		margin-top: 65px;
	}
	.box_obs p.titulo_obs {
		padding: 0;
		margin: 0;
		color: #878787;
		font-size: 14px;
	}
	.link_plano,#btnSalvar{
		display:none;	
	}
	.box_aluno_right .box_grafico {
		width: 100%;
		height: 414px;
		float: left;
		border: 1px solid #C3C3C3;
	}
	.box_aluno_left{
		width: 45%;
		margin-right: 50px;
	}
	.box_aluno_left,.box_aluno_right {
		margin: 20px 0;
	}
	#calendario_legenda {
		width: 100%;
		margin-left: 32px;
	}
	#calendario_legenda .leg_titulo {
		color: #939389;
		font-size: 14px;
		margin-left: 5px;
	}
	.quad {
		width: 10px;
		height: 10px;
		float: left;
		margin-top: 4px;
	}
	.holder_g {
		width: 80%;
		height: 60%;
		float: left;
		margin-top: 0px;
	}
	.res_grafico {
		float: left;
		margin-left: -15px;
		margin-top: 20px;
		font-size: 14px;
		color: #939389;
	}
	.dia_plano{
		font-size: 7pt;
	}
	#bloco_plano{
		margin-bottom: -5px;
	}
	.box_aluno_right .grafico {
		width: 47.5%;
    	padding: 10px;
    	height: 145px;
    	float: left;
    	margin-left: 0px;
		border: 1px solid #C3C3C3;
		margin-bottom: 25px;
	}

	.graficoL{
		margin-right: 5%;
	}
	.res_grafico{
		margin-left: 15px;
	}
	.linha_aluno {
		width: 99%;
		min-height: 103px !important;
		background-color: #f2f2ee;
		border-radius: 12px;
		padding-bottom: 0px;
		-webkit-border-radius: 12px;
		-o-border-radius: 12px;
		-moz-border-radius: 12px;
	}
	
	.FotoAluno {
		width: 88px;
		height: 85px;
		float: left;
		margin: 8px 10px 10px;
		/*padding: 4px;*/
		border-radius: 12px;
		-webkit-border-radius: 12px;
		-o-border-radius: 12px;
		-moz-border-radius: 12px;
		background-color: white;
		overflow: hidden;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		border: 4px #fff solid;
	}
	.FotoAluno img{
		width: 80px;
		height: 80px;
	}
	.box_aluno_right .box_calendario{
		/*border: 1px solid;*/
	}
	#box_calendario_relatorio {
		width: 198px;
		margin: 7px auto;
	}
	.holder_faltas {
		width: 100%;
		height: 60%;
		float: right;
		margin-top: 2px;
	}
	.box_aluno_left .linha_roteiro {
		width: 100%;
		min-height: 0;
		border-bottom: 1px solid #C3C3C3;
		padding-bottom: 3px;
	}
	.titulo{
		font-size:11pt;
		color:#666666;
		margin:5px 0;
	}
	.nome_aluno, .ano {
		font-size:16px;
		color: #939389;
	}
	.rot_aluno td{
		width:19px;
		height:19px;
		text-align:center;
		color:#fff;
		border:0;
   	 	font-size: 14px;
	}
	.verde_tk {
		background-color: #8DC63F;
		background-image: url(../img/R_check.png);
		background-size: 21px;
		background-repeat: no-repeat;
	}

	.corrigir{
		display:none;
	}

	.selTodosTd{
		display:none;
	}
}
@page {
	size: A4;
	margin-top:4.0mm;
	margin-left: 4.0mm;
  	margin-right: 4.0mm;
	margin-bottom:4.0mm; 
}

.mesNome{
	height: 46px;
    margin-top: 269px;
    color: #666666;
    border-right: 1px solid;
}

.divMes{
	float: left;
}

.corrigir{
	color: #FFFFFF;
    background: #02818D url(../img/ic_salvar.png) no-repeat;
    background-size: auto;
    background-position: 11px 3px;
    float: left;
    width: 100px;
    height: 39px;
    cursor: pointer;
    text-align: right;
    padding: 11px 12px;  
}
.corrigir:hover{
    background: #4695A0 url(../img/ic_salvar.png) no-repeat;
	background-position: 11px 3px;
}

.selTodosTd{
    border: 0;
    margin: -1px 15px;
}

.selTodosTd p{
	width: 160px !important;
    color: #666666;
    padding: 3px 0 0px 6px;
    margin: 0 -10px;
}
.selTodos{
	float:left;
	display:none;
}
.selTodos:checked + label span {
    background: url(../img/ic_checkbox_padrao.png) -24px top no-repeat;
}
.selTodos + label span {
    float: left;
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(../img/ic_checkbox_padrao.png) left top no-repeat;
    vertical-align: middle;
    cursor: pointer;
    overflow: visible;
}
#selectAnoLetivoContainer {
	width: calc(100% - 15px);
}
.selectOptions {
	height: 100%;
	overflow: hidden;
    background-image: url(../img/ic_drop_pequeno.png);
    padding: 4px 8px;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #666;
    background-repeat: no-repeat;
    background-position: center right;
}

.selectOptions select{
	width: 100%;
	color: #666;
	font-size: 14px;
    margin-top: -1px;
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
         -o-appearance: none;
            appearance: none;
}