	input, select, .celulaPequena div, .celulaMedia div, .celulaGrande div, .titulo_atividade, .titulo_objetivo, .titulo_roteiro{
		color: #666;
	}

	.celulaPequena, .celulaMedia, .celulaGrande{
		border: none;
	}

/* Cabeçalho do conteúdo principal */
	#roteiros_cabecalho {
		background-color: #fff;
		width: 100%;
		height: 10%;
		position: relative;
		overflow: auto;
	}

/* Botões cabeçalho */
	.Cabecalho_Roteiro_Item {
		width: 100%;
		height: 55px;
		position: relative;
		font-size: 20px;
		padding: 17px;
		color: #fff;
		float: left;
		cursor: pointer;
		text-align: center;
		background-color: #87CFDE;
	}
	.Cabecalho_Roteiro_Item:hover {
		background-color: #29B8CE;
	}
	.Item_Ativo {
		background-color: #29B8CE;
		cursor: default;
	}

/* Linhas */
	.Roteiro_Linha { 
		width: 100%;
		padding: 10px 0;
	}
	.Roteiro_Linha:first-of-type { 
		padding-top: 0;
	}
	.Roteiro_Linha:last-of-type { 
		padding-bottom: 0;
	}
	.Roteiro_Linha::after {
		content: "";
		display: block;
		clear: both;
	}
	.Less_Padding {
		padding: 5px !important;
	}

	.No_Padding {
		padding: 0 !important;
	}

/* Itens das linhas */
	.Roteiro_Col_1 { width: 8.33%; }
	.Roteiro_Col_2 { width: 16.66%; }
	.Roteiro_Col_3 { width: 25%; }
	.Roteiro_Col_4 { width: 33.33%; }
	.Roteiro_Col_5 { width: 41.66%; }
	.Roteiro_Col_6 { width: 50%; }
	.Roteiro_Col_7 { width: 58.33%; }
	.Roteiro_Col_8 { width: 66.66%; }
	.Roteiro_Col_9 { width: 75%; }
	.Roteiro_Col_10 { width: 83.33%; }
	.Roteiro_Col_11 { width: 91.66%; }
	.Roteiro_Col_12 { width: 100%; }

	div[class*="Roteiro_Col_"] {
		float: left;
		height: auto;
		margin: 0 !important;
		display: inline-block;
		padding: 0 7.5px;
	}
	.Less_Padding_Itens > * {
		padding-left: 2.5px !important;
		padding-right: 2.5px !important;
	}
	.No_Padding_Itens > * {
		padding: 0 !important;
	}
	div[class*="Roteiro_Col_"]:first-child {
		padding-left: 0 !important;
	}
	div[class*="Roteiro_Col_"]:last-child {
		padding-right: 0 !important;
	}
	.Item_Roteiro_Linha { 
		width: 100%;
		padding: 5px 0;
	}
	.Item_Roteiro_Linha:first-of-type { 
		padding-top: 0;
	}
	.Item_Roteiro_Linha:last-of-type { 
		padding-bottom: 0;
	}
	.Item_Roteiro_Linha::after {
		content: "";
		display: block;
		clear: both;
	}
	.Item_Less_Padding {
		padding: 2.5px 0 !important;
	}

	.Item_No_Padding {
		padding: 0 !important;
	}

		#roteiros_content{
			height: 500px;
			padding: 20px;
			background-color: #E5E5DC;
		}
		
		/* 
			Cor de fundo quando o item do menu 
			estiver ativo: background-color: #D6E5A9 
		*/
		
		#conteudo_principal_roteiro,
		#conteudo_principal_objetivo{
			width: 100%;
			height: 100%;
			float: left;
		}
		
		#Roteiro{
			height: 100%;
		}
		#Objetivo, #Atividade, #RoteiroExtra
		{
			height: 100%;
			display: none;
		}
		
		.ambasMargin{
			margin: 0 0.5%;
		}
		
		.rightMargin{
			margin-right:1%;
		}

		.infoValueM{
			width: 78.1%;
		}
		
		.infoValueG{
			width: 85.4%;
		}

		.celulaMedia{
			width: 66.7%;
		}

		.styled-select{
			width: 100%;
		}
		div[id*="Inserir_Roteiro_Form_Linha"]:last-of-type {
			margin-bottom: 0;
		}
		#Formulario_Roteiro{
			width: 100%;
			background-color: #F9F9F7;
			clear: both;
			padding: 20px;
			margin: 0 0 20px;
			overflow: auto;
		}

		.Atividade_Input>* { margin: 0 !important;}
		
		.Cabecalho_Inserir_Roteiro {
		    font-weight: normal;
		    font-size: 18px;
		    color: #1c828c;
		    margin: 0 0 5px;
		}
		.Ano_Roteiro_Inserido {
			font-size: 12px;
    		font-weight: normal;
    		margin: 0 0 5px;
    		color: #87898c;
		}

		.Input_Linha_Obj {
			display: none;
		    border: 1px solid #bfbca8;
		    font-size: 18px;
		    border-radius: 0;
		    background-color: #fff;
		    color: #888;
		}

		.Input_Obj_Num {
			width: 50px;
		}
		.Input_Obj_Nome {
			width: 600px;
		}
		.Input_Info {
			width: 100%;
    		height: 39px;
    		padding: 12px;
    		background-color: #C8C8C3;
    		text-align: right;
		}
		.Input_Area {
			margin: 0;
    		background-color: white;
    		border: 1px solid lightgrey;
    		font-size: 18px;
    		height: 39px;
		}

/* Listagem em acordeon dos objetivos inseridos */
	.Objetivos_Inseridos_Container { position: relative; }

	.Obj_Inserido {
		width: 100%;
		height: auto;
		position: relative;
	}
	.Obj_Inserido_Info {
		position: relative;
		width: 100%;
		height: 33px;
		background-color: #c6c6c6;
		padding: 8px 81px 8px 48px;
	    border: 1px solid #e5e5dc;
	    cursor: pointer;
	}
	.Obj_Inserido_Num {
		width: 33px;
	    height: 100%;
	    position: absolute;
	    left: 0;
	    top: 0;
	    text-align: center;
	    color: #666666;
	    background-color: #b2b2b2;
	    border-right: 1px solid #e5e5dc;
	    padding: 8px 0px;
	}
	.Obj_Inserido_Nome {
		line-height: 1em;
	    color: #666666;
	    font-size: 16px;
	}
	.Obj_Inserido_Btns {
	    position: absolute;
	    top: 0;
	    right: 0;
	    width: auto;
	    height: 100%;
	    border-left: 1px solid #e5e5dc;
	}
	.Btn_Obj {
		display: inline-block;
	    width: 33px;
	    height: 100%;
	    background-color: #b2b2b2;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	    float: left;
	    cursor: pointer;
	}

	.Btn_Obj:first-child { border-right: 1px solid #e5e5dc; }

	.Btn_Editar_Obj { background-image: url(../img/ic_editar_peq.png); }

	.Btn_Del_Obj { background-image: url(../img/ic_del_peq.png); }

	/* Atividades dos objetivos */
		.Atvs_Obj_Inserido {
		    position: relative;
		    width: 96.2%;
		    left: 34px;
		    height: 0px;
		    overflow: hidden;
		    transition: height 0.5s ease-in-out;
		}
		.Atv_Obj_Info {
			position: relative;
		    width: 100%;
		    height: 30px;
		    border: 1px solid #e5e5dc;
		    background: #f2f2ee;
		    padding: 7px 7px 7px 40px;
		}
		.Atv_Obj_Num {
			position: absolute;
		    width: 30px;
		    height: 100%;
		    top: 0;
		    left: 0;
		    color: #666666;
		    padding: 6px 0;
		    text-align: center;
		    border-right: 1px solid #e5e5dc;
		    background-color: #e5e5dc;
		}
		.Atv_Obj_Nome {
			line-height: 1em;
		    color: #666666;
		    font-size: 16px;
		}

		#btnSalvar, #btnSalvarObjetivo, #btnSalvarAtividade,#btnEditar, #btnEditarObjetivo, #btnEditarAtividade, .btnAtribuirRoteiro, #btnInserirRoteiro, #btnSalvarObj{
			width: 11%;
			background-color: #29B8CE;
			background-image: url(../img/OI7.png);
			background-repeat: no-repeat;
			background-size: 20px;
			background-position: 12px 10px;
			color: white;
			float: right;
			text-align: right;
			padding: 10px;
			cursor: pointer;
			clear: both;
		}


		
		#btnEditar, #btnEditarObjetivo, #btnEditarAtividade{
			display:none;
		}
		#btnSalvarObj {
			display: none;
		}
		
		#roteiros_listados, #objetivos_listados, #atividades_listadas{
			overflow: auto;
			height: 48%;
			margin-right:15px;
		}

		.Atividade_Linha { padding: 10px 0; }

		.Atividade_Linha:first-child { padding-top: 0; }

		.Atividade_Linha:last-child { padding-bottom: 0; }

		#Bt_Add_Atividade {
			width: 39px;
			height: 39px;
			background: url(../img/ic_add.png) no-repeat 50% 50%;
			background-color: #C8C8C3;
			float: right;
			cursor: pointer;
		}
		.item{
			width: 100%;
			float: left;
			margin-bottom: 2px;
			cursor: pointer;
		}
		
		div.item:nth-child(odd){
			background-color: #ECEBE5;
		}
		
		div.item:nth-child(even){
			background-color: #F2F2EE;
		}
		
		.titulo_roteiro, .titulo_objetivo, .titulo_atividade{
			width: 88%;
			float: left;
			padding: 12px;
		}
		
		.editar{
			width: 5%;
			float: right;
			padding: 21px;
			background-color: #C9C9C4;
			background-image: url(../img/bt_editar.png);
			background-repeat: no-repeat;
			background-position: 2px;
			cursor: pointer;
		}
		
		.excluir{
			width: 5%;
			float: right;
			padding: 21px;
			background-color: #C9C9C4;
			background-image: url(../img/fechar.png);
			background-repeat: no-repeat;
			background-position: -3px;
			cursor: pointer;
			margin-right:5px;
		}
		
		.selecionado{
			background-color: #C3E4ED !Important;
		}
		
		.roteiroMargin{
			margin-right:0.5% !important;
		}

		#Inserir_atividade input{
			background-color: white;
			border: 1px solid lightgrey;
			float: left;
			padding: 8px;
			font-size: 18px;
		}
		
		#nomeAtv{
			background-color: white;
			border: 1px solid lightgrey;
			margin: 3px 0;
			padding: 10px;
			font-size: 18px;
		}
		
		#descricaoObj{
			width: 67%;
			margin: 1% 0;
		}
		
		#Atividade .celulaPequena, .celulaMedia{
			margin-bottom: 0.5%;
		}
		
		#Atividade div:nth-child(3){
			float: right;
		}
		
		
		
	/*----Mensagem Exclusao---------*/

	#back_black
	{
		width: 100%;
		height:100%;
		background-color:rgba(0,0,0,0.4);
		position:absolute;
		z-index:2;
		display: none;
	}

	.mensagem_Exclusao
	{
		width:300px;
		height:150px;
		background-color: white;
		position:relative;
		margin:0 auto;
		top:40%;
	}

	.Mensagem_Texto
	{
		width:100%;
		height:100px;
		text-align:center;
		padding:10px;
		padding-top: 30px;
		color:rgb(134,134,134);
	}

	.Mensagem_Botoes
	{
		width:100%;
		/* background-color:blue; */
		height:50px;
		padding:5px 10px;
		padding-top:0px;
	
	}

	.mCustomScrollBox
	{
		background-color: white;
	}

	/*Falme*/

	.btPadrao
	{
		height:42px;
		background-color: #26b7cd;
		border:solid 3px #239daf;
		color:white;
		width:40%;

	}

	.Fleft
	{
		float:left;
	}

	.Fright
	{
		float:right;
	}
	
	.mCustomScrollBox {
		background-color: #E5E5DC;
	}
	.boxROA{
		height: 255px;
		background-color:#E5E5DC;
		padding:5px 0px;
	}
	.boxObj{
		height: 216px;
		background-color: #E5E5DC;
		padding: 5px 0px;
	}
	.boxAtv{
		height: 200px;
		background-color: #E5E5DC;
		padding: 5px 0px;
	}
	.mCSB_inside > .mCSB_container{
	 	margin-right: 0px !important; 
	}
	
/*Lista atribuir roteiro*/
.lista_combo{
	display:none;	
}
#pesquisaAluno{
	background-color: white;
	border: 1px solid lightgrey;
	margin: 3px 0;
	padding: 10px;
	font-size: 18px;
}
