input, select, .celulaPequena div, .celulaMedia div, .celulaGrande div,.novaCelula div, .titulo_atividade, .titulo_objetivo, .titulo_roteiro{
	color: #666;
}
.celulaPequena, .celulaMedia, .celulaGrande, .novaCelula{
	border: none;
	padding:0;
	margin-right: 9px;	
    border: 1px solid lightgray;
    height: 41px;
    overflow: hidden;
}

#roteiros_cabecalho 
{
	width: 100%;
	height: 10%;
	position: relative;
	overflow: auto;
}
/*-------- bts cabecalho ------*/
#cabecalho_roteiro,#cabecalho_pesquisa,#cabecalho_pesquisaOficial{
	width: 32.95%;
	height: 50px;
	position: relative;
	padding: 22px;
	color: rgb(255, 255, 255);
	border-color: rgb(255, 255, 255);
	float: left;
	cursor: pointer;
	text-align: center;
}
.cabecalho_ativo,#cabecalho_roteiro:hover,#cabecalho_pesquisaOficial:hover{
	background-color: #29B8CE !important;
}
#cabecalho_pesquisaOficial{
	background: #87CFDE url(../img/ic_pesquisa.png) no-repeat;
    background-position: 90px 12px;
}
#cabecalho_roteiro{
	background: #87CFDE url(../img/ic_novo_roteiro.png) no-repeat;
    background-position: 32px 14px;
}
#cabecalho_pesquisa{
	background: #87CFDE url(../img/ic_roteiro.png) no-repeat;
    background-position: 54px 14px;
}
#roteiros_content{
	height: 508px;
	padding: 3px 20px;
	background-color: #E5E5DC;
}

/* 
	Cor de fundo quando o item do menu 
	estiver ativo: background-color: #D6E5A9 
*/

#conteudo_principal_roteiro,
{
	width: 100%;
	height: 100%;
	float: left;
}
		
#Roteiro{
	height: 100%;
}
.ambasMargin{
	margin: 0 0.5%;
}

.rightMargin{
	margin-right:1%;
}

.infoValueM{
	width: 78.1%;
}

.infoValueG{
	width: 85.4%;
    position: relative;
    top: -4px;
    height: 43px;
}

.celulaMedia{
	width: 66.7%;
}

.styled-select{
	width: 100%;
}

#Inserir_roteiro{
	position: relative;
    width: 100%;
	background-color: #F9F9F7;
	clear: both;
	padding: 2%;
	margin: 2% 0;
	overflow: hidden;
	height:467px;
    bottom: 1px;
}

#Inserir_roteiro input{
	background-color: white;
	font-size: 18px;
    height: 39px;
    width: 77.8%;
}
#Inserir_roteiro input.Buscar_Roteiro, #Inserir_roteiro .Roteiro_Nome, #Inserir_roteiro .Roteiro_Descricao{
    width: 100%;
}

#seletor{
	background-color: #ffffff;
    position: absolute;
    height: 39px;
    width: 155px;
    margin-top: 0px;
}
#btnSalvar{
	width: 11%;
	background-color: #29B8CE;
	background-image: url(../img/OI7.png);
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 12px 10px;
	color: white;
	text-align: right;
	padding: 10px;
	cursor: pointer;
	margin: 8px 0px 0px 0px;
	float: right;
}
#btnBuscar{
	width: 11%;
	background-color: #29B8CE;
	background-image: url(../img/OI7.png);
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 12px 10px;
	color: white;
	text-align: right;
	padding: 10px;
	cursor: pointer;
	margin: 0 5px;
	float: right;
}
#btnEdit{
	width: 11%;
	background-color: #29B8CE;
    background-image: url(../img/OI7.png);
    background-repeat: no-repeat;
	background-size: 20px;
	background-position: 12px 10px;
	color: white;
	text-align: right;
	padding: 10px;
	cursor: pointer;
	margin: 5px 3px 0px 0px;
	float: right;
}
#btnEditRot{
	width: 11%;
	background-color: #29B8CE;
	background-size: 20px;
	background-position: 12px 10px;
	color: white;
	text-align: right;
	padding: 10px;
	cursor: pointer;
	margin: 0 5px;
	float: right;
}
#btnNovoOB{
	width: 11%;
    background-color: #29B8CE;
    background-image: url(../img/ic_addG_branco.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 17px 10px;
    color: white;
    float: right;
    text-align: right;
    padding: 10px;
    cursor: pointer;
    margin: 58px 0px 0px 0px;
}
#btnSalvarObjetivo{
	width: 11%;
    background-color: #29B8CE;
    background-image: url(../img/OI7.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 12px 10px;
    color: white;
    text-align: right;
    padding: 10px;
    cursor: pointer;
    margin: 5px 2px 0px 0px;
    float: right;		
}


#btnEditar, #btnEditarObjetivo, #btnEditarAtividade{
	display:none;
}

#roteiros_listados, #objetivos_listados, #atividades_listadas{
	overflow: auto;
	height: 48%;
	margin-right:15px;
}

.item{
	width: 100%;
	float: left;
	height: 40px;
	margin-bottom: 1px;
	cursor: pointer;
}

.aparecer{
	display:block !important;
    width: 100%;
    height: 200px;
    transition:height 1s;   
}

.escondido{
	display: block;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition:height 1s;
}

div.item:nth-child(odd){
	background-color: #ECEBE5;
}

div.item:nth-child(even){
	background-color: #F2F2EE;
}

.titulo_roteiro, .titulo_objetivo, .titulo_atividade{
	position: relative;
    cursor: default;
	width: 95%;
	float: left;
	padding: 12px;
}
.titulo_roteiro1{
    position: relative;
    left: 2%;
    width: 95%;
    float: left;
    padding: 12px;
}

.utilizarRoteiro{
	float: right;
    position: relative;
    top: -42px;
    padding: 20px;
    background-color: #C9C9C4;
    background-image: url(../img/ic_clonar.png);
    background-repeat: no-repeat;
    background-position: 8px;
    cursor: pointer;
}
.listarObjetivo{
	float: left;
    position: relative;
    right:95%;
    padding: 21px;
    background-color: #6666;
    background-image: url(../img/ic_seta_baixo.png);
    background-repeat: no-repeat;
    background-position: 8px;
    cursor: pointer;
}
.voltarObjetivo{
	float: left;
    position: relative;
    right:95%;
    padding: 21px;
    background-color: #6666;
    background-image: url(../img/ic_seta_cima.png);
    background-repeat: no-repeat;
    background-position: 8px;
    cursor: pointer;
}
.objetivos {
    border: 1px solid #ccc;
}

}
/* Listagem em acordeon dos objetivos inseridos */
    .Roteiro_Inserido_Container { position: relative; }
    
    #Rot_Inserido_Info {
        height: 35px;
        background: #259eb0;
        color: #fff;
        cursor: pointer;
        border: 1px solid #fff;
    }

    .Rot_Inserido_Nome{
        color: #fff;
        font-size: 16px;
        padding: 7.5px 10px;
        width: 90%;
        float: left;
        margin: 0;
    }

    .Obj_Inserido {
        width: 100%;
        height: auto;
        position: relative;
    }
    #Desc_Inserido_Info {
       margin-left: 35px;
    width: 96.1%;
    height: 35px;
    background-color: #b5e1e7;
    background-position: 14%;
    padding: 8px 81px 8px 10px;
    border: 1px solid #fff;
    border-top: none;
    cursor: pointer;
    }
    .Obj_Inserido_Num {
        width: 33px;
        height: 100%;
        left: 0;
        top: 0;
        text-align: center;
        color: #fff;
        background-color: #67c9d6;
        border-right: 1px solid #fff;
        padding: 8px 0px;
    }
    .Desc_Inserido_Nome {
        line-height: 1em;
        color: #666666;
        font-size: 16px;
        left: 10px;
    }
    .Rot_Inserido_Btns {
        border-left: 1px solid #fff;
        position: absolute;
        right: 1px;
    }
    .Obj_Inserido_Btns{
        border-left: 1px solid #fff;
        width: 70px;
        height: 35px;
        position: absolute;
        right: 1px;
        top: 0;
    }
    .Btn_Obj, .Btn_Rot{
        display: inline-block;
        width: 35px;
        height: 33px;
        background-repeat: no-repeat;
        float: left;
        cursor: pointer;
        background-position: center;
    }
    .Btn_Rot:hover {
        background-color: #67c9d6;
    }
    .Btn_Obj:hover {
        background-color: #d9eff2;
    }
    .Btn_Atv:hover {
        background-color: #fff;
    }

    .Btn_Obj:last-child, .Btn_Rot:last-child, .Btn_Atv:last-child { border-left: 1px solid #fff; }
    
    .Btn_Editar_Rot { background-image: url(../img/ic_editar_b_peq.png); }
    
    .Btn_Del_Rot { background-image: url(../img/ic_del_b_peq.png); }
    
    .Btn_Editar_Obj { 
        background-image: url(../img/ic_editar_peq.png);
        background-repeat: no-repeat;
        width: 35px;
        height: 34px;
        position: relative;
        left: 0;
        display: inline-block;
        background-repeat: no-repeat;
        cursor: pointer;
        background-position: center;
    }
    .Btn_Editar_Obj { 
        background-image: url(../img/ic_editar_peq.png);
        background-repeat: no-repeat;
        width: 30px;
        height: 34px;
        position: relative;
        display: inline-block;
        width: 35px;
        height: 34px;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    .Btn_AddAtv_Obj { 
        background-image: url(../img/iic_add_peq.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 34px;
    position: relative;
    left: -6px;
    display: inline-block;
    width: 33px;
    height: 34px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: 7px 5px;
    }

    .Btn_Del_Obj { 
        background-image: url(../img/ic_del_peq.png);
        background-repeat: no-repeat;
        position: absolute;
        left: 35px;
        display: inline-block;
        width: 35px;
        height: 34px;
        float: left;
        cursor: pointer;
        background-position: center;
    }

    .Btn_Editar_Atv { background-image: url(../img/ic_editar_peq.png); }

    .Btn_Del_Atv { background-image: url(../img/ic_del_peq.png); }

.Atv_Obj_Info {
    margin-left: 35px;
    width: 96.1%;
    height: 35px;
    border: 1px solid #fff;
    border-top: none;
    background-color: #d9eff2;
    padding: 8px 8px 8px 10px;
    position: relative;
}
.Atv_Obj_Nome {
   line-height: 1em;
    color: #666666;
    font-size: 16px;
    margin: 0;
    width: 92%;
}
#rotCad{
    width: 99.9%;
    height: 25px;
    font-size: 20px;
    margin-top: -19px;
    padding: 2px 8px;
    float: left;
    background-color: #259eb0;
    color: rgb(255, 255, 255);
}
#desCad{
    width: 96.5%;
    height: 25px;
    font-size: 20px;
    margin-top: -19px;
    padding: 2px 8px;
    float: left;
    background-color: #b5e1e7;
    color: rgb(255, 255, 255);
    position: relative;
    margin-left: 30px;
}
#objCad{
    width: 96.5%;
    height: 25px;
    font-size: 20px;
    margin-top: -19px;
    padding: 2px 8px;
    float: left;
    background-color: #d9eff2;
    color: rgb(255, 255, 255);
    position: relative;
    margin-left: 30px;  
}
#linha1{
    display: block;
    margin-bottom: 4px;
    height: 43px;
}
.linha4{
    position: relative;
    width: 100%;
    margin-bottom: 27px;
    height: auto;
}
.linhaObj{
    width: 100%;
}    
.btEditar2{
    float: right;
    position: relative;
    top: -42px;
    padding: 20px;
    background-color: #b5e1e7;
    background-image: url(../img/ic_editar_peq.png);
    background-repeat: no-repeat;
    background-position: 8px;
    cursor: pointer;
}
.btExcluir2{
    position: relative;
    right: 2px;
    bottom: 45px;
    float: right;
    padding: 10px;
    background-color: #b5e1e7;
    background-image: url(../img/ic_del_b_peq.png);
    background-repeat: no-repeat;
    background-position: 2px;
    cursor: pointer;
}
.btEditar3{
    position: relative;
    right: 4px;
    float: right;
    bottom: 45px;
    padding: 10px;
    background-color: #b5e1e7;
    background-image: url(../img/ic_editar_b_peq.png);
    background-repeat: no-repeat;
    background-position: 2px;
    cursor: pointer;

    position: relative;
    right: 44px;
    float: right;
    padding: 29px 26px 11px 15px;
    background-color: #C9C9C4;
    background-image: url(../img/bt_editar.png);
    background-repeat: no-repeat;
    background-position: 3px;
    cursor: pointer;
}
.btExcluir3{
    position: relative;
    right: 43px;
    bottom: 45px;
    float: right;
    padding: 10px;
    background-color: #b5e1e7;
    background-image: url(../img/ic_del_b_peq.png);
    background-repeat: no-repeat;
    background-position: 2px;
    cursor: pointer;
}
.editar{
	position: relative;
    right: 44px;
    float: right;
    padding: 29px 26px 11px 15px;
    background-color: #C9C9C4;
    background-image: url(../img/bt_editar.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;	
}
.nomeObj{
	background-color: #dfded4;
    position: relative;
    left: 2%;
    width: 96%;
    float: left;
    padding: 12px;
    margin: 0px;
    border: 1px solid #e5e5dc;
}
.excluir{
	position: absolute;
    right: 0px;
    float: right;
    padding: 29px 26px 11px 15px;
    background-color: #C9C9C4;
    background-image: url(../img/fechar.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}


.selecionado{
	background-color: #C3E4ED !Important;
}

.roteiroMargin{
	margin-right: 5.3px !important;
	margin-left: 5.3px !important;
}

#Inserir_objetivo input{
	background-color: white;
	border: 1px solid lightgrey;
	float: left;
	padding: 8px;
	font-size: 18px;
}

#Inserir_atividade input{
	background-color: white;
	border: 1px solid lightgrey;
	float: left;
	padding: 8px;
	font-size: 18px;
}

#Inserir_objetivo input + div{
	margin: 1% 0;
}

#Inserir_pesquisa{
	position:relative;
	overflow: hidden;
	width: 100%
}
#box_barra{
	margin-top: 5px;
    height: 375px;
}
#box_barra1{
	margin-top: 5px;
    height: 387px;
}
#box_barra2{
	margin-top: 5px;
    height: 420px;
}
.mCustomScrollBox {
	background-color:#F9F9F7 !important;
}
.roteiroAula{
	height: 23px;
	border-bottom: 1px solid #FFF;
	cursor: pointer;
	margin-bottom: 5px;
	padding: 0 3px;
	width: 98%;
}

#nomeAtv{
	background-color: white;
	border: 1px solid lightgrey;
	margin: 3px 0;
	padding: 10px;
	font-size: 18px;
}

#descricaoObj{
	width: 67%;
	margin: 1% 0;
}

#Atividade .celulaPequena, .celulaMedia,.novaCelula{
	margin-bottom: 0.5%;
}

.celulaGrandeOB {
	width: 100%;
    background-color: #F2F1ED;
}

#Atividade div:nth-child(3){
	float: right;
}

/*----Mensagem Exclusao---------*/

#back_black
{
	width: 100%;
	height:100%;
	background-color:rgba(0,0,0,0.4);
	position:absolute;
	z-index:2;
	display: none;
}

.mensagem_Exclusao
{
	width:300px;
	height:150px;
	background-color: white;
	position:relative;
	margin:0 auto;
	top:40%;
}

.Mensagem_Texto
{
	width:100%;
	height:100px;
	text-align:center;
	padding:10px;
	padding-top: 30px;
	color:rgb(134,134,134);
}

.Mensagem_Botoes
{
	width:100%;
	/* background-color:blue; */
	height:50px;
	padding:5px 10px;
	padding-top:0px;

}

.mCustomScrollBox
{
	background-color: white;
}

.btPadrao
{
	height:42px;
	background-color: #26b7cd;
	border:solid 3px #239daf;
	color:white;
	width:40%;

}

.Fleft
{
	float:left;
}

.Fright
{
	float:right;
}

.mCustomScrollBox {
	background-color: #E5E5DC;
}
.boxROA{
	height: 255px;
	background-color:#E5E5DC;
	padding:5px 0px;
}
.boxObj{
	height: 216px;
	background-color: #E5E5DC;
	padding: 5px 0px;
}
.boxAtv{
	height: 200px;
	background-color: #E5E5DC;
	padding: 5px 0px;
}
.mCSB_inside > .mCSB_container{
	margin-right: 0px !important; 
}
	
/*Lista atribuir roteiro*/
.lista_combo{
	display:none;	
}
#pesquisaAluno{
	background-color: white;
	border: 1px solid lightgrey;
	margin: 3px 0;
	padding: 10px;
	font-size: 18px;
}
#roteiroSalvo,#desricaoSalvo{
	margin:0;
	display:none;
}

.mCS_no_scrollbar_y > #boxRoteiroAulaPesquisa{
    width: 100%;
    height: auto;
}

#boxRoteiroAulaPesquisa{
	width: 98%;
	height: auto;
}

.mCS_no_scrollbar_y > #box_roteiroAula{
    width: 100%;
    height: auto;
}

#box_roteiroAula{
    width: 98%;
    height: auto;
}



/*Modal do cadastro*/
.box_mensagem_rotcad{
	width: 560px;
	min-height: 210px;
    height: auto;
	background-color: #F2F2EE;
	position: absolute; 
    left: 50%;
    top: 50%;
	margin: 0;
    margin-left: -280px;
	border: 2px solid #FFFFFF;
}

/* Linhas */
	.Roteiro_Linha { 
		width: 100%;
		padding: 10px 0;
	}
	.Roteiro_Linha:first-of-type { 
		padding-top: 0;
	}
	.Roteiro_Linha:last-of-type { 
		padding-bottom: 0;
	}
	.Roteiro_Linha::after {
		content: "";
		display: block;
		clear: both;
	}
	.Less_Padding {
		padding: 5px !important;
	}

	.No_Padding {
		padding: 0 !important;
	}

/* Itens das linhas */
	.Roteiro_Col_1 { width: 8.33%; }
	.Roteiro_Col_2 { width: 16.66%; }
	.Roteiro_Col_3 { width: 25%; }
	.Roteiro_Col_4 { width: 33.33%; }
	.Roteiro_Col_5 { width: 41.66%; }
	.Roteiro_Col_6 { width: 50%; }
	.Roteiro_Col_7 { width: 58.33%; }
	.Roteiro_Col_8 { width: 66.66%; }
	.Roteiro_Col_9 { width: 75%; }
	.Roteiro_Col_10 { width: 83.33%; }
	.Roteiro_Col_11 { width: 91.66%; }
	.Roteiro_Col_12 { width: 100%; }

	div[class*="Roteiro_Col_"] {
		float: left;
		height: auto;
		margin: 0 !important;
		display: inline-block;
		padding: 0 7.5px;
	}
	div[class*="Roteiro_Col_"]:first-child {
		padding-left: 0 !important;
	}
	div[class*="Roteiro_Col_"]:last-child {
		padding-right: 0 !important;
	}
	.Input_Info {
		width: 100%;
    	height: 39px;
    	padding: 10px;
    	background-color: #C8C8C3;
    	text-align: right;
	}
	
	.Input_Area {
			margin: 0;
    		background-color: white;
    		border: 1px solid lightgrey;
    		font-size: 18px;
    		height: 39px;
    		padding: 8px;
    		border-radius: 0px !important;
    		-moz-appearance: none;
    		-webkit-appearance: none;
    		appearance: none;
		}
		select.Input_Area {
			background-image: url(../img/select-arrow.png);
			background-repeat: no-repeat;
			background-position: right center;
			cursor: pointer;
		}
		
		.btn_mensagemCad{
			width: 67%;
			background: none !important;
			height: 50px;
			padding-top: 0px;
			padding-bottom: 50px;
			margin: 0px 102px;
		}
		.txt_mensagem{
			height: 79px !important;
		}
/*teste*/