input, select, .celulaPequena div, .celulaMedia div, .celulaGrande div, .titulo_atividade, .titulo_objetivo, .titulo_roteiro{
	color: #666;
}
.celulaPequena, .celulaMedia, .celulaGrande{
	border: none;
	padding:0;
	margin-right: 9px;	
    border: 1px solid lightgray;
}

#roteiros_cabecalho 
{
	width: 100%;
	height: 10%;
	position: relative;
	overflow: auto;
}
/*-------- bts cabecalho ------*/
#cabecalho_roteiro,#cabecalho_pesquisa,#cabecalho_pesquisaOficial{
	width: 32.95%;
	height: 50px;
	position: relative;
	padding: 22px;
	color: rgb(255, 255, 255);
	border-color: rgb(255, 255, 255);
	float: left;
	cursor: pointer;
	text-align: center;
}
.cabecalho_ativo,#cabecalho_roteiro:hover,#cabecalho_pesquisa:hover{
	background-color: #29B8CE !important;
}
#cabecalho_pesquisaOficial{
	background: #87CFDE url(../img/ic_pesquisa.png) no-repeat;
    background-position: 90px 12px;
}
#cabecalho_roteiro{
	background: #87CFDE url(../img/ic_novo_roteiro.png) no-repeat;
    background-position: 32px 14px;
}
#cabecalho_pesquisa{
	background: #87CFDE url(../img/ic_roteiro.png) no-repeat;
    background-position: 54px 14px;
}
#roteiros_content{
	height: 508px;
	padding: 3px 20px;
	background-color: #E5E5DC;
}

/* 
	Cor de fundo quando o item do menu 
	estiver ativo: background-color: #D6E5A9 
*/

#conteudo_principal_roteiro,
{
	width: 100%;
	height: 100%;
	float: left;
}
		
#Roteiro{
	height: 100%;
}
.ambasMargin{
	margin: 0 0.5%;
}

.rightMargin{
	margin-right:1%;
}

.infoValueM{
	width: 78.1%;
}

.infoValueG{
	width: 85.4%;
    position: relative;
    top: -4px;
    height: 43px;
}

.celulaMedia{
	width: 66.7%;
}

.styled-select{
	width: 100%;
}

#Inserir_roteiro{
	position: relative;
    bottom: 20px;
    width: 100%;
	background-color: #F9F9F7;
	clear: both;
	padding: 2%;
	margin: 2% 0;
	overflow: hidden;
	height:100%;
}

#Inserir_roteiro input{
	background-color: white;
	font-size: 18px;
    height: 39px;
}

#seletor{
	background-color: #ffffff;
    position: absolute;
    height: 39px;
    width: 155px;
    margin-top: 0px;
}
#btnSalvar{
	width: 11%;
	background-color: #29B8CE;
	background-image: url(../img/OI7.png);
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 12px 10px;
	color: white;
	text-align: right;
	padding: 10px;
	cursor: pointer;
	margin: 5px 0px 0px 0px;
	float: right;
}
#btnBuscar{
	width: 11%;
	background-color: #29B8CE;
	background-image: url(../img/OI7.png);
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 12px 10px;
	color: white;
	text-align: right;
	padding: 10px;
	cursor: pointer;
	margin: 0 5px;
	float: right;
}
#btnEdit{
	width: 11%;
	background-color: #29B8CE;
    background-image: url(../img/OI7.png);
    background-repeat: no-repeat;
	background-size: 20px;
	background-position: 12px 10px;
	color: white;
	text-align: right;
	padding: 10px;
	cursor: pointer;
	margin: 5px 3px 0px 0px;
	float: right;
}
#btnEditRot{
	width: 11%;
	background-color: #29B8CE;
	background-size: 20px;
	background-position: 12px 10px;
	color: white;
	text-align: right;
	padding: 10px;
	cursor: pointer;
	margin: 0 5px;
	float: right;
}
#btnNovoOB{
	width: 11%;
    background-color: #29B8CE;
    background-image: url(../img/ic_addG_branco.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 17px 10px;
    color: white;
    float: right;
    text-align: right;
    padding: 10px;
    cursor: pointer;
    margin: 5px 0px 0px 0px;
}
#btnSalvarObjetivo{
	width: 11%;
	background-color: #29B8CE;
	background-image: url(../img/OI7.png);
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 12px 10px;
	color: white;
	text-align: right;
	padding: 10px;
	cursor: pointer;
	margin: 5px 3px 0px 0px;
	float: right;		
}


#btnEditar, #btnEditarObjetivo, #btnEditarAtividade{
	display:none;
}

#roteiros_listados, #objetivos_listados, #atividades_listadas{
	overflow: auto;
	height: 48%;
	margin-right:15px;
}

.item{
	width: 98%;
	float: left;
	height: 40px;
	margin-bottom: 1px;
	cursor: pointer;
}

.aparecer{
	display:block !important;
    width: 100%;
    height: 200px;
    transition:height 1s;   
}

.escondido{
	display: block;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition:height 1s;
}

div.item:nth-child(odd){
	background-color: #ECEBE5;
}

div.item:nth-child(even){
	background-color: #F2F2EE;
}

.titulo_roteiro, .titulo_objetivo, .titulo_atividade{
	position: relative;
    
	width: 95%;
	float: left;
	padding: 12px;
}
.titulo_roteiro1{
    position: relative;
    left: 2%;
    width: 95%;
    float: left;
    padding: 12px;
}

.utilizarRoteiro{
	float: right;
    position: relative;
    top: -42px;
    padding: 20px;
    background-color: #C9C9C4;
    background-image: url(../img/ic_clonar.png);
    background-repeat: no-repeat;
    background-position: 8px;
    cursor: pointer;
}
.listarObjetivo{
	float: left;
    position: relative;
    right:95%;
    padding: 21px;
    background-color: #6666;
    background-image: url(../img/ic_seta_baixo.png);
    background-repeat: no-repeat;
    background-position: 8px;
    cursor: pointer;
}
.voltarObjetivo{
	float: left;
    position: relative;
    right:95%;
    padding: 21px;
    background-color: #6666;
    background-image: url(../img/ic_seta_cima.png);
    background-repeat: no-repeat;
    background-position: 8px;
    cursor: pointer;
}

.editar{
	position: relative;
    right: 44px;
    float: right;
    padding: 29px 26px 11px 15px;
    background-color: #C9C9C4;
    background-image: url(../img/bt_editar.png);
    background-repeat: no-repeat;
    background-position: 3px;
    cursor: pointer;	
}
.nomeObj{
	background-color: #dfded4;
    position: relative;
    left: 2%;
    width: 96%;
    float: left;
    padding: 12px;
    margin: 0px;
    border: 1px solid #e5e5dc;
}
.excluir{
	position: absolute;
    right: 19px;
    float: right;
    padding: 29px 26px 11px 15px;
    background-color: #C9C9C4;
    background-image: url(../img/fechar.png);
    background-repeat: no-repeat;
    background-position: -4px;
    cursor: pointer;
}

.selecionado{
	background-color: #C3E4ED !Important;
}

.roteiroMargin{
	margin-right: 5.3px !important;
	margin-left: 5.3px !important;
}

#Inserir_objetivo input{
	background-color: white;
	border: 1px solid lightgrey;
	float: left;
	padding: 8px;
	font-size: 18px;
}

#Inserir_atividade input{
	background-color: white;
	border: 1px solid lightgrey;
	float: left;
	padding: 8px;
	font-size: 18px;
}

#Inserir_objetivo input + div{
	margin: 1% 0;
}

#Inserir_pesquisa{
	position:relative;
	overflow: hidden;
	/*height: 69px;*/
	width: 100%
}
#box_barra{
	margin-top: 5px;
    height: 318px;
}
#box_barra1{
	margin-top: 5px;
    height: 420px;
}
#box_barra2{
	margin-top: 5px;
    height: 420px;
}
.mCustomScrollBox {
	background-color:#F9F9F7 !important;
}
.roteiroAula{
	height: 23px;
	border-bottom: 1px solid #FFF;
	cursor: pointer;
	margin-bottom: 5px;
	padding: 0 3px;
	width: 98%;
}

#nomeAtv{
	background-color: white;
	border: 1px solid lightgrey;
	margin: 3px 0;
	padding: 10px;
	font-size: 18px;
}

#descricaoObj{
	width: 67%;
	margin: 1% 0;
}

#Atividade .celulaPequena, .celulaMedia{
	margin-bottom: 0.5%;
}

.celulaGrandeOB {
	width: 100%;
	overflow: auto;
	margin-top: 7px;
	padding: 1px;
	float: left;
	background-color: #F2F1ED;
}

#Atividade div:nth-child(3){
	float: right;
}

/*----Mensagem Exclusao---------*/

#back_black
{
	width: 100%;
	height:100%;
	background-color:rgba(0,0,0,0.4);
	position:absolute;
	z-index:2;
	display: none;
}

.mensagem_Exclusao
{
	width:300px;
	height:150px;
	background-color: white;
	position:relative;
	margin:0 auto;
	top:40%;
}

.Mensagem_Texto
{
	width:100%;
	height:100px;
	text-align:center;
	padding:10px;
	padding-top: 30px;
	color:rgb(134,134,134);
}

.Mensagem_Botoes
{
	width:100%;
	/* background-color:blue; */
	height:50px;
	padding:5px 10px;
	padding-top:0px;

}

.mCustomScrollBox
{
	background-color: white;
}

.btPadrao
{
	height:42px;
	background-color: #26b7cd;
	border:solid 3px #239daf;
	color:white;
	width:40%;

}

.Fleft
{
	float:left;
}

.Fright
{
	float:right;
}

.mCustomScrollBox {
	background-color: #E5E5DC;
}
.boxROA{
	height: 255px;
	background-color:#E5E5DC;
	padding:5px 0px;
}
.boxObj{
	height: 216px;
	background-color: #E5E5DC;
	padding: 5px 0px;
}
.boxAtv{
	height: 200px;
	background-color: #E5E5DC;
	padding: 5px 0px;
}
.mCSB_inside > .mCSB_container{
	margin-right: 0px !important; 
}
	
/*Lista atribuir roteiro*/
.lista_combo{
	display:none;	
}
#pesquisaAluno{
	background-color: white;
	border: 1px solid lightgrey;
	margin: 3px 0;
	padding: 10px;
	font-size: 18px;
}
#roteiroSalvo,#desricaoSalvo{
	margin:0;
	display:none;
}

#boxRoteiroAulaPesquisa{
	width: 100%;
	height: 500px;
}
/*teste*/