/* .Content_lateral_Menu_Opcao:nth-child(5){
    background-color: rgba(22, 190, 207, 0.79);
    background-repeat: no-repeat;
}

.Content_lateral_Menu_Opcao .mensagens{
    background-image: url(../img/ic_mensagens.png);
    background-position: 0 22px;
}
 */
#Nav_menu{
    width: 100%;
    height: 45px;
    background-color: #49B7C0;
}

#bt_Responder, #bt_Escrever, #bt_Excluir{
    width: 47px;
    height: 100%;
    float: right;
    cursor: pointer;
}

#bt_Responder {
    background-image: url(../img/ic_responder.png); 
    background-repeat: no-repeat;
    background-position: 10px 11px;
}

#bt_Escrever {
    background-image: url(../img/ic_escrever.png); 
    background-repeat: no-repeat;
    background-position: 15px 11px;
}

#bt_Excluir {
    background-image: url(../img/ic_lixo.png); 
    background-repeat: no-repeat;
    background-position: 16px 11px;
}

#mensagens_container{
    width: 100%;
    height: 500px;
    background: #FDFDFD;
    display: flex;
    display: -moz-box-flex;
    display: -webkit-flex;
    display: -ms-flexbox;
}

#Col_Menu{
    display: block;
    float: left;
}

#Col_CaixaDeMensagens {
    width: 100%;    
}

#boxMensagens{
    height: 500px;
    display: block;
    float: left;
}

#boxMensagens .mCSB_inside > .mCSB_container{
    margin-right: 10px !important;
}

#boxCaixa{
    height:381px;
}
.caixa_Menu{
    width: 67%;
    height: 238px;
    background-color: #1E8290;
    color: white;
    padding: 130px 30px 0;
    text-align: center;
    cursor: pointer;
}

#CaixaDeEntrada{
    background-image: url(../img/ic_nav_caixadeentrada.png);
    background-repeat: no-repeat;
    background-position: 50% 39%;
    display: inline-block;
}

#Enviadas{
    background-image: url(../img/ic_nav_enviadas.png);
    background-repeat: no-repeat;
    background-position: 50% 85px;
    padding: 150px 30px 0;
    display: inline-block;
}

#Lixo{
    background-image: url(../img/ic_nav_lixo.png);
    background-repeat: no-repeat;
    background-position: 51% 43%;
    padding: 110px 30px 0;
    display: inline-block;
}

.menu_margins{
    margin: 4px 0;
}

.caixa_mensagem{
    width: 97%;
    /*height: 80px;*/
    height: auto;
    padding: 5px;
    margin-bottom: 4px;
    background-color: #F2F1ED;
    cursor: pointer;
}

.lida{
    background-image: url(../img/envelope_aberto.png);
    background-repeat: no-repeat;
    background-position: 5px 8px;
}

.nao_lida{
    background-image: url(../img/envelope_fechado.png);
    background-repeat: no-repeat;
    background-position: 5px 8px;
    font-weight: bold;
}

.msg_selecionada{
    background-color: #E5E4DC;
}

.caixa_data_hora{
    text-align: right;
    color: #666;
}

.msg_info_wrapper{
    padding: 12px 0 0 45px;
}

.caixa_remetente{
    text-transform:uppercase;
    font-size: 16px;
    color: #666;
}

.caixa_assunto{
    font-size: 16px;
    color: #666;
}

.estado_ativo {
    background-color: #4FB7BF ;
}

#Col_Mensagem{
    display: block;
    background-color: #F2F1ED;
    float: left;
    height:480px;
    margin-top: 10px;
    margin-right: 10px;
}

#boxResp{
    height: 500px;
    overflow: auto;
}
#Mensagem_wrapper{
    padding: 11px 15px;
    color: #666;
}   

#Mensagem_wrapper textarea
{
    background-color: transparent;
    border:none;
    color:#666;
    height: 337px;
    width: 420px;
    font-size:16px;
}

#tela_responder #Mensagem_wrapper{
    padding: 20px;
}

#mensagem_remetente{
    color: #339FB9;
    font-size:16px;
    text-transform:uppercase;
}

#mensagem_destinatario{
    color: #339FB9;
    text-transform:uppercase;
    font-size:16px;
}

#mensagem_assunto{
    font-size: 18px;
    color: #666;
    margin: 6px 0;
}

#mensagem_data_hora{
    font-size: 14px;
    color: #666;
}

#Mensagem{
    margin-top: 20px;
}

#De, #Para { font-size: 18px;}

#tela_responder #De,#Para { font-size: 18px; width: 75%; float: left;}

hr { clear: both;}

#tela_over, #tela_over_enviar{
    /*width: 92.7%;*/
    width: 100%;
    height: 555px;
    background: rgba(0,0,0,0.3);
    position: absolute;
    display: none;
    z-index: 2;
}

#menu_responder{
    background-color: #fff;
    border: 3px solid #02818d;
    display: none;
    font-size: 14px;
    height: 117px;
    padding: 17px;
    position: absolute;
    right: 110px;
    text-align: center;
    top: 84%;
    width: 165px;
    z-index: 10;
}

#menu_responder span{
    cursor: pointer;
}

#menu_responder hr{
    border: 0;
    height: 2px;
    background-color: #6BACB6;
    color: #6BACB6;
}

#tela_responder{
    width: 50%;
    height: 500px;
    background-color: #F2F2EE;
    position: relative;
    left: 25%;
    top: 5%;
    overflow: auto;
}

.bts_responder_opcoes {
    width: 9%;
    height: 50px;
    float: right;
    background-repeat: no-repeat;
    background-position: 50% 16%;
    font-size: 10px;
    text-align: center;
    padding-top: 30px;
    color: #339FB9;
    cursor: pointer;
}

#bt_resp_enviar, #bt_enviar_enviar{
    background-image: url(../img/ic_bt_resp_enviar.png);
}

#bt_resp_cancelar, #bt_enviar_cancelar{
    background-image: url(../img/ic_bt_resp_cancelar.png);
}

#bloqueio_top_content_central{
    display: none;
}

#frm_Envia_Mensagens input[type=text]:first-child
{
    width:100%;
    border-bottom:solid thin #878787;
    padding-bottom:4px;
    font-size:16px;
}

#frm_Envia_Mensagens input
{
    width:100%;
    /*border:solid thin;*/
}
#frm_Envia_Mensagens table, #frm_Envia_Mensagens tr
{
    width:90%;
    padding:5px;
}