<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="UTF-8" />
		<title>Plataforma Amorim</title>
		<link rel="shortcut icon" href="img/Amorim_favicon.png" type="image/x-icon"/>
        
		<!--Style-->
		<link rel="stylesheet" type="text/css" href="css/style.css" />		
		<link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="css/plugins.css" />
        <link rel="stylesheet" href="js/malihu.3.0.3/mCustomScrollbar.css" />
		<link rel="stylesheet" type="text/css" href="css/cadastros.css" />
        <link rel="stylesheet" type="text/css" href="css/areaCoordenacao.css" />
    	<!--Fim Style-->
        
        <!--Script JS-->
        <script type="text/javascript" src="js/path.js"></script>
        <script type="text/javascript" src="//use.typekit.net/cjh0uzc.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>        
		<script src="js/jquery-1.10.2.js"></script>
		<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script> 	
		<script src="js/jquery-ui.js"></script>

        <script type="text/javascript" src="js/malihu.3.0.3/mCustomScrollbar.js"></script>
		<script src="js/malihu.3.0.3/mCustomScrollbar.concat.min.js"></script>                
		<script type="text/javascript" src="js/funcoes.js"></script> 
		<script type="text/javascript" src="js/autenticador.js"></script>
                        
        <script type="text/javascript" src="angular/angular.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js "></script>
        <script type="text/javascript" src="angular/app/app.js"></script>
        <script type="text/javascript" src="angular/controllers/geralCTRL.js"></script>  
            
        <script type="text/javascript" src="js/calendario.js"></script>
        <script type="text/javascript" src="js/areaCoordenacao.js"></script> 	
		<!--Fim JS-->       
	</head>

	<body>
		<!--Conteudo Geral-->
		<div id="Container" ng-controller="geralCTRL">
			<div>
                <div id="Cabecalho_Menu_Area">
                    <div id="Cabecalho_Menu_Area_Menu1"><a id="home">Home</a> | <a href="{{usuarioPagina}}">{{usuarioNamePagina}}</a></div>
                    <div id="Cabecalho_Menu_Area_Menu2">
                        <a id="senha" onClick="atualizarCadastroModal('aluno');">Atualizar Cadastro</a> |
                        <a id="senha" onClick="chamaFormSenha();">Alterar Senha</a> | 
                        <a href="javascript:history.back()">Voltar</a> | 
                        <a id="logout" href="#" ng-click="logout()">Sair</a>
                    </div>			
                </div>
                <!--Perfil do usuário, neste caso, o aluno-->
                <div id="Cabecalho_Perfil_Area" ng-init="usuario()">
                    <div id="Cabecalho_Perfil_Area_Foto_Content">
                        <!--Foto do usuário, neste caso, do aluno-->
                        <div id="Cabecalho_Perfil_Area_Foto">                        	
                        	<img id='_foto' src='{{usuarioFoto}}'/>
                        </div>
                    </div>
                    <!--Nome | Serie do usuário-->
                    <div id="Cabecalho_Perfil_Area_Descricao_Content">
                        <div id="Cabecalho_Perfil_Area_Descricao">{{usuarioCabecalho}}</div>
                    </div>
                </div>
            </div>
			<div id="Conteudo_Area">
                    <!--Coluna a esquerda-->    
                    <div class="Conteudo_Coluna" id="Content_lateral">    
                        <!--Menu lateral-->
                        <div id="Content_lateral_Menu">    
                        	<div  ng-repeat="menu in menuHTML">
                                <a href="{{menu.href}}">
                                    <div class="Content_lateral_Menu_Opcao {{menu.class}}">
                                    	<div ng-if="menu.class== 'mensagens' && menuInfoM != '0' && menuInfoM != ''" class="label" id="num_msg_nLidas">{{menuInfoM}}</div>
                                        <div ng-if="menu.class== 'forum' && menuInfoF != '0' && menuInfoF != ''" class="label" id="num_msg_nLidas">{{menuInfoF}}</div>
                                        {{menu.label}}
                                    </div>
                                </a>
                            </div>
                        </div>    
                        <!--Calendario-->     
					<div id="Content_lateral_Calendario">
						<div id="datepicker"></div>
						<div id="rodape_calendario">
							<p id="apontar">Apontar Presença grupo</p>
						</div>                                                 							
					</div>

				</div>

				<!--Coluna geral central-->
                <!--bloqueio para a rolagem top-->				
                <div class="Conteudo_Coluna" id="content_central_fixa">
                	<div class="box_linha box_container_geral">

                		<!-- Box Educadores -->
                		<div class="box_col_4 coluna_total">
                			<section class="box box_educadores">
                				<p>Educadores</p>
                				<div class="box_conteudo_container conteudo_unico scroll_receiver">
                					<div class="scroll_limiter">
	                					<div class="lista_educadores">
	                						<section class="educador_info">
	                							<img src="http://177.55.99.90/files/Fem.png" alt="Patrícia Orsilo" class="educador_foto" />
	                							<span class="educador_nome">Lorem ipsum dolor sit amet</span>
	                						</section>
	                						<section class="educador_info">
	                							<img src="http://177.55.99.90/files/Fem.png" alt="Patrícia Orsilo" class="educador_foto" />
	                							<span class="educador_nome">Lorem ipsum dolor sit amet</span>
	                						</section>
	                						<section class="educador_info">
	                							<img src="http://177.55.99.90/files/Fem.png" alt="Patrícia Orsilo" class="educador_foto" />
	                							<span class="educador_nome">Lorem ipsum dolor sit amet</span>
	                						</section>
	                						<section class="educador_info">
	                							<img src="http://177.55.99.90/files/Fem.png" alt="Patrícia Orsilo" class="educador_foto" />
	                							<span class="educador_nome">Lorem ipsum dolor sit amet</span>
	                						</section>
	                						<section class="educador_info">
	                							<img src="http://177.55.99.90/files/Fem.png" alt="Patrícia Orsilo" class="educador_foto" />
	                							<span class="educador_nome">Lorem ipsum dolor sit amet</span>
	                						</section>
	                						<section class="educador_info">
	                							<img src="http://177.55.99.90/files/Fem.png" alt="Patrícia Orsilo" class="educador_foto" />
	                							<span class="educador_nome">Lorem ipsum dolor sit amet</span>
	                						</section>
	                						<section class="educador_info">
	                							<img src="http://177.55.99.90/files/Fem.png" alt="Patrícia Orsilo" class="educador_foto" />
	                							<span class="educador_nome">Lorem ipsum dolor sit amet</span>
	                						</section>
	                						<section class="educador_info">
	                							<img src="http://177.55.99.90/files/Fem.png" alt="Patrícia Orsilo" class="educador_foto" />
	                							<span class="educador_nome">Lorem ipsum dolor sit amet</span>
	                						</section>
	                						<section class="educador_info">
	                							<img src="http://177.55.99.90/files/Fem.png" alt="Patrícia Orsilo" class="educador_foto" />
	                							<span class="educador_nome">Lorem ipsum dolor sit amet</span>
	                						</section>
	                						<section class="educador_info">
	                							<img src="http://177.55.99.90/files/Fem.png" alt="Patrícia Orsilo" class="educador_foto" />
	                							<span class="educador_nome">Lorem ipsum dolor sit amet</span>
	                						</section>
	                						<section class="educador_info">
	                							<img src="http://177.55.99.90/files/Fem.png" alt="Patrícia Orsilo" class="educador_foto" />
	                							<span class="educador_nome">Lorem ipsum dolor sit amet</span>
	                						</section>
	                						<section class="educador_info">
	                							<img src="http://177.55.99.90/files/Fem.png" alt="Patrícia Orsilo" class="educador_foto" />
	                							<span class="educador_nome">Lorem ipsum dolor sit amet</span>
	                						</section>
	                					</div>
	                				</div>
                				</div>
                			</section>
                		</div>

                		<!-- Coluna Central -->
                		<div class="box_col_4 coluna_total">

                			<!-- Box Mural -->
                			<div class="box_linha coluna_dividida">
                				<div class="box_col_12">
                					<section class="box box_mural">
                						<p>Mural</p>
                						<span class="ic_add_novo">&nbsp;</span>
                						<div class="box_conteudo_container conteudo_lista scroll_receiver">
                							<section class="mural_post_item">
                								<main class="mural_post_mensagem">
                									<span class="post_mural_mensagem">
                										Devido a problemas com o encanamento, as aulas estão suspensas até 02/03.
                									</span>
                								</main>
                								<aside class="mural_post_cabecalho">
                									<span class="post_mural_usuario">Ciclo I - Manhã</span> | <span class="post_mural_data">27/02/2014</span> <span class="post_mural_horario">09:43</span>
                								</aside>
                							</section>
                							<section class="mural_post_item">
                								<main class="mural_post_mensagem">
                									<span class="post_mural_mensagem">
                										Devido a problemas com o encanamento, as aulas estão suspensas até 02/03.
                									</span>
                								</main>
                								<aside class="mural_post_cabecalho">
                									<span class="post_mural_usuario">Ciclo I - Manhã</span> | <span class="post_mural_data">27/02/2014</span> <span class="post_mural_horario">09:43</span>
                								</aside>
                							</section>
                							<section class="mural_post_item">
                								<main class="mural_post_mensagem">
                									<span class="post_mural_mensagem">
                										Devido a problemas com o encanamento, as aulas estão suspensas até 02/03.
                									</span>
                								</main>
                								<aside class="mural_post_cabecalho">
                									<span class="post_mural_usuario">Ciclo I - Manhã</span> | <span class="post_mural_data">27/02/2014</span> <span class="post_mural_horario">09:43</span>
                								</aside>
                							</section>
                							<section class="mural_post_item">
                								<main class="mural_post_mensagem">
                									<span class="post_mural_mensagem">
                										Devido a problemas com o encanamento, as aulas estão suspensas até 02/03.
                									</span>
                								</main>
                								<aside class="mural_post_cabecalho">
                									<span class="post_mural_usuario">Ciclo I - Manhã</span> | <span class="post_mural_data">27/02/2014</span> <span class="post_mural_horario">09:43</span>
                								</aside>
                							</section>
                							<section class="mural_post_item">
                								<main class="mural_post_mensagem">
                									<span class="post_mural_mensagem">
                										Devido a problemas com o encanamento, as aulas estão suspensas até 02/03.
                									</span>
                								</main>
                								<aside class="mural_post_cabecalho">
                									<span class="post_mural_usuario">Ciclo I - Manhã</span> | <span class="post_mural_data">27/02/2014</span> <span class="post_mural_horario">09:43</span>
                								</aside>
                							</section>
                						</div>
                						<div class="box_conteudo_container conteudo_unico" style="display: none">
                							<select class="box_select">
                								<option value="0" selected disabled>Escolha o período</option>
                								<option value="1">Manhã</option>
                								<option value="2">Tarde</option>
                								<option value="3">Noite</option>
                							</select>
                							<select class="box_select">
                								<option value="0" selected disabled>Escolha o ciclo</option>
                								<option value="1">Alfabetização</option>
                								<option value="2">Intermediário</option>
                								<option value="3">Fundamental 2</option>
                							</select> 
                							<textarea class="box_textarea textarea_mural" name="mural_gestao_mensagem" id="" placeholder="Digite o texto da mensagem"></textarea>
                							<aside class="box_ic">
                								<span class="ic_cancelar">&nbsp;</span>
                								<span class="ic_salvar">&nbsp;</span>
                							</aside>
                						</div>
                					</section>
                				</div>
                			</div>

                			<!-- Box Mural Gestão -->
                			<div class="box_linha coluna_dividida">
                				<div class="box_col_12">
                					<section class="box box_mural_gestao">
                						<p>Mural gestão</p>
                				<span class="ic_add_novo">&nbsp;</span>
                						<div class="box_conteudo_container conteudo_lista scroll_receiver">
                							<section class="mural_post_item">
                								<main class="mural_post_mensagem">
                									<span class="post_mural_mensagem">
                										Reunião dia 30 com os professores do ciclo I às 12h00.
                									</span>
                								</main>
                								<aside class="mural_post_cabecalho">
                									<span class="post_mural_usuario">Professores</span> | <span class="post_mural_data">23/02/2014</span> <span class="post_mural_horario">10:40</span>
                								</aside>
                							</section>
                							<section class="mural_post_item">
                								<main class="mural_post_mensagem">
                									<span class="post_mural_mensagem">
                										Reunião dia 30 com os professores do ciclo I às 12h00.
                									</span>
                								</main>
                								<aside class="mural_post_cabecalho">
                									<span class="post_mural_usuario">Professores</span> | <span class="post_mural_data">23/02/2014</span> <span class="post_mural_horario">10:40</span>
                								</aside>
                							</section>
                							<section class="mural_post_item">
                								<main class="mural_post_mensagem">
                									<span class="post_mural_mensagem">
                										Reunião dia 30 com os professores do ciclo I às 12h00.
                									</span>
                								</main>
                								<aside class="mural_post_cabecalho">
                									<span class="post_mural_usuario">Professores</span> | <span class="post_mural_data">23/02/2014</span> <span class="post_mural_horario">10:40</span>
                								</aside>
                							</section>
                							<section class="mural_post_item">
                								<main class="mural_post_mensagem">
                									<span class="post_mural_mensagem">
                										Reunião dia 30 com os professores do ciclo I às 12h00.
                									</span>
                								</main>
                								<aside class="mural_post_cabecalho">
                									<span class="post_mural_usuario">Professores</span> | <span class="post_mural_data">23/02/2014</span> <span class="post_mural_horario">10:40</span>
                								</aside>
                							</section>
                							<section class="mural_post_item">
                								<main class="mural_post_mensagem">
                									<span class="post_mural_mensagem">
                										Reunião dia 30 com os professores do ciclo I às 12h00.
                									</span>
                								</main>
                								<aside class="mural_post_cabecalho">
                									<span class="post_mural_usuario">Professores</span> | <span class="post_mural_data">23/02/2014</span> <span class="post_mural_horario">10:40</span>
                								</aside>
                							</section>
                						</div>
                						<div class="box_conteudo_container conteudo_unico" style="display: none">
                							<!--<select class="box_select">
                								<option value="0" selected disabled>Escolha o filtro</option>
                							</select> -->
                							<textarea class="box_textarea textarea_mural_gestao" name="mural_gestao_mensagem" id="" placeholder="Digite o texto da mensagem"></textarea>
                							<aside class="box_ic">
                								<span class="ic_cancelar">&nbsp;</span>
                								<span class="ic_salvar">&nbsp;</span>
                							</aside>
                						</div>
                					</section>
                				</div>
                			</div>
                		</div>

                		<!-- Box Registro JEIFF/PEA -->
                		<div class="box_col_4 coluna_total">
                			<section class="box box_jeiff_pea">
                				<p>Registro JEIFF/PEA</p>
                				<span class="ic_add_novo">&nbsp;</span>
                				<div class="box_conteudo_container conteudo_lista scroll_receiver">
	                				<section class="jeiff_post_item">
	    								<aside class="jeiff_post_cabecalho">
	    									<span class="post_jeiff_data">30/05/2016</span>
	    								</aside>
        								<main class="jeiff_post_mensagem">
	    									<span class="post_jeiff_mensagem">
	    										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices turpis mauris, vel scelerisque tortor tincidunt a. Sed elementum eget lectus in pharetra. Nulla enim sem, tincidunt eget porta a, pulvinar sit amet tortor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed eu massa orci.</p>
	    										<p>Sed in facilisis libero, ac lacinia lacus. Fusce a tortor ut mi placerat ullamcorper et ut est.</p>
											</span>
	    								</main>
	    								<aside class="jeiff_post_link">
	    									<a href="#"><span>documentojeiff.pdf</span></a>
	    								</aside>
	    							</section>
	    							<section class="jeiff_post_item">
	    								<aside class="jeiff_post_cabecalho">
	    									<span class="post_jeiff_data">30/05/2016</span>
	    								</aside>
        								<main class="jeiff_post_mensagem">
	    									<span class="post_jeiff_mensagem">
	    										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices turpis mauris, vel scelerisque tortor tincidunt a. Sed elementum eget lectus in pharetra. Nulla enim sem, tincidunt eget porta a, pulvinar sit amet tortor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed eu massa orci.</p>
	    										<p>Sed in facilisis libero, ac lacinia lacus. Fusce a tortor ut mi placerat ullamcorper et ut est.</p>
											</span>
	    								</main>
	    								<aside class="jeiff_post_link">
	    									<a href="#"><span>documentojeiff.pdf</span></a>
	    								</aside>
	    							</section>
	    							<section class="jeiff_post_item">
	    								<aside class="jeiff_post_cabecalho">
	    									<span class="post_jeiff_data">30/05/2016</span>
	    								</aside>
        								<main class="jeiff_post_mensagem">
	    									<span class="post_jeiff_mensagem">
	    										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices turpis mauris, vel scelerisque tortor tincidunt a. Sed elementum eget lectus in pharetra. Nulla enim sem, tincidunt eget porta a, pulvinar sit amet tortor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed eu massa orci.</p>
	    										<p>Sed in facilisis libero, ac lacinia lacus. Fusce a tortor ut mi placerat ullamcorper et ut est.</p>
											</span>
	    								</main>
	    								<aside class="jeiff_post_link">
	    									<a href="#"><span>documentojeiff.pdf</span></a>
	    								</aside>
	    							</section>
	    							<section class="jeiff_post_item">
	    								<aside class="jeiff_post_cabecalho">
	    									<span class="post_jeiff_data">30/05/2016</span>
	    								</aside>
        								<main class="jeiff_post_mensagem">
	    									<span class="post_jeiff_mensagem">
	    										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices turpis mauris, vel scelerisque tortor tincidunt a. Sed elementum eget lectus in pharetra. Nulla enim sem, tincidunt eget porta a, pulvinar sit amet tortor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed eu massa orci.</p>
	    										<p>Sed in facilisis libero, ac lacinia lacus. Fusce a tortor ut mi placerat ullamcorper et ut est.</p>
											</span>
	    								</main>
	    								<aside class="jeiff_post_link">
	    									<a href="#"><span>documentojeiff.pdf</span></a>
	    								</aside>
	    							</section>
	    							<section class="jeiff_post_item">
	    								<aside class="jeiff_post_cabecalho">
	    									<span class="post_jeiff_data">30/05/2016</span>
	    								</aside>
        								<main class="jeiff_post_mensagem">
	    									<span class="post_jeiff_mensagem">
	    										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices turpis mauris, vel scelerisque tortor tincidunt a. Sed elementum eget lectus in pharetra. Nulla enim sem, tincidunt eget porta a, pulvinar sit amet tortor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed eu massa orci.</p>
	    										<p>Sed in facilisis libero, ac lacinia lacus. Fusce a tortor ut mi placerat ullamcorper et ut est.</p>
											</span>
	    								</main>
	    								<aside class="jeiff_post_link">
	    									<a href="#"><span>documentojeiff.pdf</span></a>
	    								</aside>
	    							</section>
	    							<section class="jeiff_post_item">
	    								<aside class="jeiff_post_cabecalho">
	    									<span class="post_jeiff_data">30/05/2016</span>
	    								</aside>
        								<main class="jeiff_post_mensagem">
	    									<span class="post_jeiff_mensagem">
	    										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices turpis mauris, vel scelerisque tortor tincidunt a. Sed elementum eget lectus in pharetra. Nulla enim sem, tincidunt eget porta a, pulvinar sit amet tortor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed eu massa orci.</p>
	    										<p>Sed in facilisis libero, ac lacinia lacus. Fusce a tortor ut mi placerat ullamcorper et ut est.</p>
											</span>
	    								</main>
	    								<aside class="jeiff_post_link">
	    									<a href="#"><span>documentojeiff.pdf</span></a>
	    								</aside>
	    							</section>
                				</div>
                				<div class="box_conteudo_container conteudo_unico" style="display: none">
                					<input type="date" class="box_input_data input_data_jeiff" readonly placeholder="Selecione uma data">
        							<textarea class="box_textarea textarea_jeiff" name="jeiff_mensagem" id="" placeholder="Digite o texto da mensagem"></textarea>
        							<aside class="box_ic">
        								<span style="display: none"><input type="file" id="arquivoJeiff"></span>
        								<span class="ic_add_arquivo">&nbsp;</span>
        								<span class="ic_cancelar">&nbsp;</span>
        								<span class="ic_salvar">&nbsp;</span>
        							</aside>
                				</div>
                			</section>
                		</div>

                	</div>
				</div>		
			</div>             
		</div><!--Fim Conteudo--> 
        <div id="boxMensagemGeral"></div>
        <div class="boxGlobal"></div>      
	</body>
</html>