<!DOCTYPE html>
<html ng-app="app">
<!-- -->
    <head>
        <meta charset="UTF-8" />
        <title>Plataforma Amorim</title>
        <link rel="shortcut icon" href="img/Amorim_favicon.png" type="image/x-icon"/>

        <!--Style-->
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <link rel="stylesheet" type="text/css" href="css/plugins.css"/>
        <link rel="stylesheet" type="text/css" href="css/grupo.css"/>
        <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
        <link rel="stylesheet" href="js/malihu.3.0.3/mCustomScrollbar.css" />
        <!--Fim Style-->
        
        <!--Script JS-->
        <script type="text/javascript" src="js/path.js"></script>
        <script type="text/javascript" src="//use.typekit.net/cjh0uzc.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script type="text/javascript" src="js/jquery-1.10.2.js"></script>        
        <script type="text/javascript" src="js/jquery-latest.js"></script>
        <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>   
        <script type="text/javascript" src="js/jquery-ui.js"></script>

        <script type="text/javascript" src="js/malihu.3.0.3/mCustomScrollbar.js"></script>        
        <script type="text/javascript" src="js/malihu.3.0.3/mCustomScrollbar.concat.min.js"></script>               
        <script type="text/javascript" src="js/grupo.js"></script>  
        <script type="text/javascript" src="js/coordenacaoGrupoInfo.js"></script>
        <script type="text/javascript" src="js/criar_agrupamento.js"></script>
        <script type="text/javascript" src="js/criar_oficina.js"></script>
        <script type="text/javascript" src="js/criar_tutoria.js"></script>
        <script type="text/javascript" src="js/editar_grupo.js"></script>
        
        <script type="text/javascript" src="js/funcoes.js"></script>
        <script type="text/javascript" src="js/autenticador.js"></script>
                        
        <script type="text/javascript" src="angular/angular.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js "></script>
        <script type="text/javascript" src="angular/app/app.js"></script>
        <script type="text/javascript" src="angular/controllers/geralCTRL.js"></script>
        <script type="text/javascript" src="js/calendario.js"></script>              
        <!--Fim JS-->

    </head>

    <body>
        <!--Conteudo Geral-->
        <div id="Container" ng-controller="geralCTRL">
            <div>
                <div id="Cabecalho_Menu_Area">
                    <div id="Cabecalho_Menu_Area_Menu1"><a id="home">Home</a> | <a href="{{usuarioPagina}}">{{usuarioNamePagina}}</a></div>
                    <div id="Cabecalho_Menu_Area_Menu2">
                        <a id="senha" onClick="atualizarCadastroModal('aluno');">Atualizar Cadastro</a> |
                        <a id="senha" onClick="chamaFormSenha();">Alterar Senha</a> | 
                        <a href="javriaascript:history.back()">Voltar</a> | 
                        <a id="logout" href="#" ng-click="logout()">Sair</a>
                    </div>          
                </div>
                <!--Perfil do usuário, neste caso, o aluno-->
                <div id="Cabecalho_Perfil_Area" ng-init="usuario()">
                    <div id="Cabecalho_Perfil_Area_Foto_Content">
                        <!--Foto do usuário, neste caso, do aluno-->
                        <div id="Cabecalho_Perfil_Area_Foto">                           
                            <img id='_foto' src='{{usuarioFoto}}'/>
                        </div>
                    </div>
                    <!--Nome | Serie do usuário-->
                    <div id="Cabecalho_Perfil_Area_Descricao_Content">
                        <div id="Cabecalho_Perfil_Area_Descricao">{{usuarioCabecalho}}</div>
                    </div>
                </div>
            </div>
            <div id="Conteudo_Area">
                    <!--Coluna a esquerda-->    
                    <div class="Conteudo_Coluna" id="Content_lateral">    
                        <!--Menu lateral-->
                        <div id="Content_lateral_Menu">    
                            <div  ng-repeat="menu in menuHTML">                         
                                <a href="{{menu.href}}">
                                    <div class="Content_lateral_Menu_Opcao {{menu.class}}">
                                        <div ng-if="menu.class== 'mensagens' && menuInfoM != '0' && menuInfoM != ''" class="label" id="num_msg_nLidas">{{menuInfoM}}</div>
                                        <div ng-if="menu.class== 'forum' && menuInfoF != '0' && menuInfoF != ''" class="label" id="num_msg_nLidas">{{menuInfoF}}</div>
                                        <span> {{menu.label}} </span>
                                    </div>
                                </a>
                            </div>
                        </div>      
                        <!--Calendario-->   
                    <div id="Content_lateral_Calendario">
                        <div id="datepicker"></div>
                        <div id="rodape_calendario">
                            <p id="apontar">Apontar Presença grupo</p>
                        </div>
                    </div>

                </div>
                <!--Coluna geral central-->
                <div class="Conteudo_Coluna" id="content_central_fixa">
                    <!--Conteudo geral vai aqui quando acrescentar o html apagar o comentario-->
                    <div id="PesquisarInserir">
                        
                        <div id="Grupo" class="btn_abas bt_Off bt_Ativo"> 
                            CRIAR GRUPO 
                        </div>
                        <div id="Oficina" class="btn_abas bt_Off"> 
                            CRIAR OFICINA 
                        </div>
                        <div id="Tutoria" class="btn_abas bt_Off"> 
                            CRIAR TUTORIA 
                        </div>
                        <div id="Pesquisa" class="btn_abas bt_Off"> 
                            PESQUISAR 
                        </div>                      
                        <div id='cx_conteudo'>
                            <!-- Área Criar Grupo -->
                            <div id="container_Grupo" class="selecionado container_central">
                                <div class="Area_Select_Grupo">
                                    <div class="Box_Area_Select">
                                        <p class="Select_Grupo">Ciclo</p>
                                        <span class="Select_Grupo_Input">
                                            <select name="Ciclo" id="cicloGrupo" class="Ciclo_Select" >
                                            </select>
                                        </span>
                                    </div>
                                    <div class="Box_Area_Select">
                                        <p class="Select_Grupo">Período</p>
                                        <span class="Select_Grupo_Input">
                                            <select name="Periodo" id="periodoGrupo" class="Periodo_Select">
                                            </select>
                                        </span>
                                    </div>
                                    <div class="Box_Area_Select">
                                        <p class="Select_Grupo">Nome</p>
                                        <span class="Select_Grupo_Input">
                                            <input type="text" id="nomeGrupo"/>
                                        </span>
                                    </div>
                                </div>
                                <div class="Area_Alunos_Container">
                                    <div id="Area_Alunos">
                                    </div>
                                </div>
                                <div class="Area_Botoes_Grupo">
                                    <button type="button" class="btns_grupo btn_Salvar_Grupo">Salvar</button>
                                </div>
                            </div>

                            <!-- Área Criar Oficina -->
                            <div id="container_Oficina" class="dark_bg container_central">
                                <div class="area_nome_oficina" style="display: none">
                                    <!--<span class="ciclo">Alfabetização |</span><span class="periodo"> Manhã |</span><span class="nome"> Oficina Português</span>-->
                                </div>
                                <div id="Container_Cadastro_Oficina" style="display: block">             
                                    <div class="Area_Select_Grupo">
                                        <div class="Box_Area_Select">
                                            <p class="Select_Grupo">Ciclo</p>
                                            <span class="Select_Grupo_Input">
                                                <select name="Ciclo" id="cicloOficina" class="Ciclo_Select">
                                                </select>
                                            </span>
                                        </div>
                                        <div class="Box_Area_Select">
                                            <p class="Select_Grupo">Período</p>
                                            <span class="Select_Grupo_Input">
                                                <select name="Periodo" id="periodoOficina" class="Periodo_Select">
                                                </select>
                                            </span>
                                        </div>
                                        <div class="Box_Area_Select">
                                            <p class="Select_Grupo">Oficina</p>
                                            <span class="Select_Grupo_Input">
                                                <select name="Oficina" id="oficinaOficina" class="Oficina_Select">
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="Area_Select_Grupo" id="nomeLinha" style="display:none">
                                        <div class="Box_Area_Select Unico_Linha">
                                            <p class="Select_Grupo">Nome</p>
                                            <span class="Select_Grupo_Input">
                                                <input type="text" id="nomeOficina"/>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="Area_Botoes_Grupo">
                                        <button type="button" class="btns_grupo btn_Salvar_Oficina">Salvar</button>
                                    </div>
                                </div>
                                <div id="Container_Cadastro_Oficina_Professor" style="display:none">
                                    <div class="Container_Professores">
                                    </div>
                                    <div class="Area_Select_Grupo">
                                        <img class="btAdd_Professor" src="img/btAdd.png">
                                    </div>
                                    <div class="Area_Botoes_Grupo">
                                        <button type="button" class="btns_grupo btn_Salvar_Oficina_Professor">Salvar</button>
                                    </div>
                                </div>
                                <div id="Container_Oficina_Completa" style="display: none">
                                    <div class="area_nome_oficina"> Oficina criada com sucesso!</div>
                                    <div id="ficha_oficina" class="bg_claro padding_padrao">
                                        <div id="oficina_tipo" class="bottom_padding area_nome_oficina">Matemática</div>
                                        <div class="padding_pequeno text_padrao"> <span class="caracteristica">Ciclo: </span><span id="oficina_ciclo" class="texto_padrao"> Intermediário </span> | <span class="caracteristica">Periodo: </span><span id="oficina_periodo" class="texto_padrao"> Manhã</span></div>
                                        <div class="padding_pequeno texto_padrao"><span class="caracteristica">Professor(es): </span><div id="oficina_professores" class="inline"></div></div>
                                    </div>
                                    <div class="container_btn_feedback_oficina">
                                        <div class="btn_feedback_oficina background_icone btn_nova_oficina">Nova Oficina</div>
                                        <div class="btn_feedback_oficina background_icone btn_editar_oficina">Editar Oficina</div>
                                        <div class="btn_feedback_oficina background_icone btn_atribuir_rotina">Atribuir Rotina</div>
                                        <div class="btn_feedback_oficina background_icone btn_concluir_oficina">Concluir</div>
                                    </div>
                                </div>
                                <div id="Container_Cadastro_Rotina" style="display:none">
                                    <div class="Area_Select_Grupo">
                                        <div class="Box_Area_Select Unico_Linha">
                                            <p class="Select_Grupo">Agrupamento</p>
                                            <span class="Select_Grupo_Input">
                                                <select name="Agrupamento_Rotina" id="Agrupamento_Select"></select>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="Area_Select_Grupo">
                                        <div class="Box_Area_Select">
                                            <p class="Select_Grupo">Rotina</p>
                                            <span class="Select_Grupo_Input">
                                                <select name="Dia_Rotina" id="Dia_Semana_Select"></select>
                                            </span>
                                        </div>
                                        <div class="Box_Area_Select">
                                            <p class="Select_Grupo">Horário</p>
                                            <span class="Select_Grupo_Input">
                                                <select name="Horario_Rotina" id="Horario_Select"></select>
                                            </span>
                                        </div>
                                        <div class="Box_Area_Select">
                                            <p class="Select_Grupo">Sala</p>
                                            <span class="Select_Grupo_Input">
                                                <select name="Sala_Rotina" id="Sala_Rotina_Select"></select>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="Area_Botoes_Grupo">
                                        <button type="button" class="btns_grupo btn_Salvar_Rotina">Salvar</button>
                                    </div>
                                </div>
                                <div id="Container_Novo_Cadastro" style="display: none"> 
                                    <div class="Area_Botoes_Grupo">
                                        <!--<button type="button" class="btn_Finalizar">Finalizar</button>-->
                                        <button type="button" class="btn_Nova_Oficina">Nova Oficina</button>
                                    </div>                                    
                                </div>                 
                            </div>

                            <!-- Área Criar Tutoria -->
                            <div id="container_Tutoria" class="container_central">
                                <div id="Area_Nome_Tutoria">
                                    <!--<span class="ciclo">Alfabetização |</span><span class="periodo"> Manhã |</span><span class="nome"> Oficina Português</span>-->  
                                </div>
                                <div id="Container_Cadastro_Tutoria">                     
                                    <div class="Area_Select_Tutoria">
                                        <div class="Box_Area_Select">
                                            <p class="Select_Grupo"> Ciclo </p>
                                            <span class="Select_Grupo_Input">
                                                <select name="Ciclo"id="cicloTutoria"></select>
                                            </span>
                                        </div>
                                        <div class="Box_Area_Select">
                                            <p class="Select_Grupo"> Período </p>
                                            <span class="Select_Grupo_Input">
                                                <select name="Periodo" id="periodoTutoria" class="Periodo_Select"></select>
                                            </span>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="celulaGrande">
                                            <div class="infoG"> Tutor </div>
                                            <div class="infoValueG">
                                                <div class="styled-select">
                                                    <select name="Tutor" id="tutorTutoria" class="Tutor_Select"></select>    
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                <div id="Container_Cadastro_Aluno" style="display:none">                     
                                    <div class="Area_Select_Tutoria">
                                        <div class="Box_Area_Select">
                                            <p class="Select_Grupo"> Ciclo </p>
                                            <span class="Select_Grupo_Input">
                                                <select name="Ciclo" id="cicloAluno" class="Ciclo_Select" onChange="listarAlunosGruposTutoria()"></select>
                                            </span>
                                        </div>
                                        <div class="Box_Area_Select">
                                            <p class="Select_Grupo"> Período </p>
                                            <span class="Select_Grupo_Input">
                                                <select name="Periodo" id="periodoIdAluno" class="Periodo_Select" onChange="listarAlunosGruposTutoria()"></select>
                                            </span>
                                        </div>
                                    </div> 
                                    <input class="input_Pesq_Aluno" id="txtPesqTut" placeholder="Digite o nome do aluno" style="display:none" /> 
                                    <div id="listarAluno">
                                        <div id="boxListaAluno">
                                            <div id="boxAluno"></div>
                                        </div>
                                    </div> 
                                    <div id="listarSelect" style="display:none">
                                        <div id="boxListaSelect">
                                            <div id="boxSelect"></div>
                                        </div>
                                    </div>
                                    <div class="Area_Botoes">
                                        <!--<button type="button" class="btns_grupo btn_Salvar_Aluno" style="display:none">Salvar</button>-->
                                        
                                        
                                    </div>                                  
                                </div>
                                            
                                <div class="Area_Botoes">
                                    <button type="button" class="btns_grupo" id="btn_Salvar_Tutoria">Salvar</button>
                                    <button type="button" class="btns_grupo btn_Salvar_Aluno" style="display:none">Salvar</button>
                                    <button type="button" class="btns_grupo btn_EditPesq_Tutoria" style="display:none">Salvar</button>
                                    <button type="button" class="btns_grupo btn_Editar_Tutoria" style="display:none"> Editar </button>
                                    <button type="button" class="btns_grupo btn_Nova_Tutoria" style="display:none">Nova Tutoria</button>
                                </div> 
                            </div>

                            <!-- Área Pesquisa -->
                            <div id="container_Pesquisa" class="container_central">
                                <div class="box_margin_barra">                  
                                    <div id="linha1" class="linha">
                                        <div class="celulaMedia">
                                            <div class="infoMG"> Pesquisar </div>
                                            <div class="infoValueM">
                                                <div class="styled-select">
                                                    <select class="pesqTutOfi">
                                                        <option value="0" selected disabled> Selecione </option>
                                                        <option value="1"> Oficinas </option>
                                                        <option value="2"> Tutorias </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="comboTut"class="celulaMedia" style="display:none">
                                            <div class="infoMG"> Tutorias </div>
                                            <div class="infoValueM">
                                                <div class="styled-select">
                                                    <select class="tutoriaT"></select>
                                                </div>
                                            </div>
                                        </div>
                                            <input class="input_Pesq_Aluno" id="txtPesq" placeholder="Digite o nome do aluno" style="display:none">
                                        
                                        <div id="comboOfi"class="celulaMedia" style="display:none">
                                            <div class="infoMG"> Professor </div>
                                            <div class="infoValueM">
                                                <div class="styled-select">
                                                    <select class="oficinaO"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="box_grupo_info_barra">
                                        <div id="box_grupo_info">
                                        <!--AQUI CARREGA OS DADOS QUE RETORNA DA BUSCA-->
                                        </div>
                                    </div>                      
                                </div>                      
                            </div>
                        </div>
                    </div>                                                  
                </div>                                 
            </div>            
        </div>
        <!--Fim Conteudo-->  
        <div id="boxMensagemGeral"></div>
        <!--Modais de editar agrupamento-->
        <div id="boxModaisEdicao">
        	<div class="modal modal_edicao_geral modal_edicao_oficina" style="display: none;">
                <input type="hidden" id="editar_id_oficina">
                <span class="btn_fechar_modal">&nbsp;</span>
                <header>Editar oficina</header>
                <section class="container_modal_edicao">
                    <div class="formulario_container">
                        <form>
                            <div class="Box_Area_Select Unico_Linha">
                                <p class="Select_Grupo">Ciclo</p>
                                <span class="Select_Grupo_Input">
                                    <select name="Ciclo" id="cicloOficinaEditar" class="Ciclo_Select">
                                    </select>
                                </span>
                            </div>
                            <div class="Box_Area_Select Unico_Linha">
                                <p class="Select_Grupo">Período</p>
                                <span class="Select_Grupo_Input">
                                    <select name="Periodo" id="periodoOficinaEditar" class="Periodo_Select">
                                    </select>
                                </span>
                            </div>
                            <!--<div class="Box_Area_Select Unico_Linha">
                                <p class="Select_Grupo">Oficina</p>
                                <span class="Select_Grupo_Input">
                                    <select name="tipo" id="selectTipoOficina" class="Oficina_Select">
                                    </select>
                                </span>
                            </div>-->
                        </form>
                        <div class="Area_Botoes_Grupo">
                            <button type="button" class="btns_grupo" id="salvarOficina">Salvar</button>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal modal_edicao_geral modal_edicao_professores" style="display: none;">
                <span class="btn_fechar_modal">&nbsp;</span>
                <header>Editar professores</header>
                <section class="container_modal_edicao">
                    <div class="formulario_container">
                        <form>
                            <div class="Box_Area_Select Unico_Linha">
                                <p class="Select_Grupo">Professor</p>
                                <span class="Select_Grupo_Input">
                                    <select name="Oficina" class="Professor_Select">
                                        <option value="0"></option>
                                    </select>
                                </span>
                            </div>
                            <div class="Area_Select_Grupo">
                                <img class="btAdd_Professor" src="img/btAdd.png">
                            </div>
                        </form>
                        <div class="Area_Botoes_Grupo">
                            <button type="button" class="btns_grupo btn_Salvar_Oficina_Professor">Salvar</button>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal modal_edicao_geral modal_edicao_rotina" style="display: none;">
                <input type="hidden" id="editar_id_rotina">
                <input type="hidden" id="id_rotina">
                <input type="hidden" id="id_agendamento">
                <span class="btn_fechar_modal">&nbsp;</span>
                <header>Editar rotina</header>
                <section class="container_modal_edicao">
                    <div class="formulario_container">
                        <form>

                            <div class="Area_Select_Grupo">
                                <div class="Box_Area_Select Unico_Linha">
                                    <p class="Select_Grupo">Agrupamento</p>
                                    <span class="Select_Grupo_Input">
                                        <select name="Agrupamento_Rotina" id="agrupamentoEdit"></select>
                                    </span>
                                </div>
                            </div>
                            <div class="Box_Area_Select Unico_Linha">
                                <p class="Select_Grupo">Dia</p>
                                <span class="Select_Grupo_Input">
                                    <select name="Dia_Rotina" id="Dia_Semana_Edit"></select>
                                </span>
                            </div>
                            <div class="Box_Area_Select Unico_Linha">
                                <p class="Select_Grupo">Horário</p>
                                <span class="Select_Grupo_Input">
                                    <select name="Horario_Rotina" id="Horario_Edit"></select>
                                </span>
                            </div>
                            <div class="Box_Area_Select Unico_Linha">
                                <p class="Select_Grupo">Sala</p>
                                <span class="Select_Grupo_Input">
                                    <select name="Sala_Rotina" id="Sala_Edit"></select>
                                </span>
                            </div>

                        </form>
                        <div class="Area_Botoes_Grupo">
                            <button type="button" class="btns_grupo btn_Edit_Rotina">Salvar</button>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal modal_edicao_geral modal_edicao_agrupamento" style="display: none;">
                <input type="hidden" id="editar_id_agrupamento">
                <span class="btn_fechar_modal">&nbsp;</span>
                <header>Editar agrupamento</header>
                <section class="container_modal_edicao">
                    <div class="formulario_container">
                        <form>

                            <div class="Box_Area_Select select_agrupamento">
                                <p class="Select_Grupo">Ciclo</p>
                                <span class="Select_Grupo_Input">
                                    <select name="Ciclo" id="cicloGrupoModal" class="Ciclo_Select" >
                                    </select>
                                </span>
                            </div>
                            <div class="Box_Area_Select select_agrupamento">
                                <p class="Select_Grupo">Período</p>
                                <span class="Select_Grupo_Input">
                                    <select name="Periodo" id="periodoGrupoModal" class="Periodo_Select">
                                    </select>
                                </span>
                            </div>
                            <div class="Box_Area_Select Unico_Linha">
                                <p class="Select_Grupo">Nome</p>
                                <span class="Select_Grupo_Input">
                                    <input type="text" id="nomeGrupoModal" placeholder="Digite um nome para o agrupamento"/>
                                </span>
                            </div>
                            <div class="Alunos_Container_Modal">
                                <div id="Area_Alunos_Modal">
                                </div>
                            </div>

                        </form>
                        <div class="Area_Botoes_Grupo">
                            <button type="button" class="btns_grupo btn_Edit_Agrupamento">Salvar</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="boxGlobal">
            <img src="img/loading2.GIF" width="60" height="60" alt=""/>
        </div>              
    </body>
</html>