<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,user-scalable=no">
		<title>Plataforma Amorim</title>
		<link rel="shortcut icon" href="img/Amorim_favicon.png" type="image/x-icon"/>
 
		<!--Style-->
		<link rel="stylesheet" type="text/css" href="css/style.css" />	
		<link rel="stylesheet" type="text/css" href="siteAmorim/css/IndexLogin.css" />	
        <link rel="stylesheet" type="text/css" href="css/loginNovo.css" />	
		<link rel="stylesheet" type="text/css" href="css/jquery-ui.css"/>
        <link rel="stylesheet" type="text/css" href="css/plugins.css"/>
        <link rel="stylesheet" href="js/malihu.3.0.3/mCustomScrollbar.css"/>		
    	<!--Fim Style-->
        
         <!--Script JS-->
	    <script>
	    	// Verificar se está num dispositivo mobile e se há algum perfil logado
	        (function() {
	            var m = "";

	            if(/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent)) {
	                m = "m_";
	            }

	            if (localStorage.length > 0) {
	            	localStorage.clear();
	            }

	            if (m === "m_" && (window.location.pathname.endsWith("index.html") || window.location.pathname.endsWith("/"))) {
	                window.location = "mobile.html";
	            } else if (m === "" && (window.location.pathname.endsWith("mobile.html"))) {
	                window.location = "index.html";
	            }

	        })();
	    </script>
        <script type="text/javascript" src="js/path.js"></script>
		<script type="text/javascript" src="//use.typekit.net/cjh0uzc.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>        
        <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="js/funcoesInicial.js"></script>
      	<script src="js/jquery-ui.js"></script> 
      	<script type="text/javascript" src="angular/angular.js"></script>
		<script type="text/javascript" src="js/malihu.3.0.3/mCustomScrollbar.js"></script>
		<script src="js/malihu.3.0.3/mCustomScrollbar.concat.min.js"></script>
		<script src="siteAmorim/js/contentIndex.js"></script>	
        
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js "></script>
        <script type="text/javascript" src="angular/app/app.js"></script>
        <script type="text/javascript" src="angular/controllers/geralCTRL.js"></script>        						        
		<!--Fim JS-->
    
    </head>

	<body ng-controller="loginCTRL">
		<!--Conteudo Geral-->
		<div id="Container">         
			<div id="Conteudo_Area">
				<div id="Cabecalho">
					<div id="Login_Box">
						<div id="Amorim_logo" title="Uma escola que é asa"> </div>
						<div id="Login">
							<form name="frm" id="frm" method="POST" ng-submit="logar()">			
								<input class="Submit_Login" type="submit" value="Entrar" name="btnSubmit" id="btnSubmit"  tabindex=3 /> 
								<div id="usuario_">
									Usuário
									<input id="usuario" name="usuario" type="text" tabindex=1 ng-model="usuario"> </input>
								</div>
								<div id="senhaBox">
									Senha
									<input id="senha" type="password"  name="senha" tabindex=2 style="cursor: auto;" ng-model="senha"> </input>
									<span id="senhaEsqueci" onClick="caixaEsqueci();">Esqueceu a senha?</span>
								</div>
							</form>
						</div>
					</div>
					<div id="Menu">
						<div id="Desenvolvido">
							<a href="http://muranodesign.com.br/"><img src="img/desenv_murano.png"></a>
						</div>
   
   						<!-- Navegação entre menus na home desativado. -->
						<!-- <div class="btnMenu Active ultimo">
							escolas
						</div>
						<div class="btnMenu" style="display:none;">
							quero saber
						</div>
						<div class="btnMenu Active">
							grêmio
						</div>
						<div class="btnMenu Active">
							produção
						</div>
						<div class="btnMenu Active">
							calendário
						</div>
						<div class="btnMenu Active">
							projeto
						</div>

						<div class="btnMenu Active btClicked">
							início
						</div> -->

					</div>
				</div>
				<div id="Conteudo_Corpo">
					<!-- Inicio -->
						<img id="Imagem_Abertura" class="Selecoes Selecao7" src="img/login1GL.png">
						<div id="Texto_Entrada" class="Selecoes Selecao7">
							<p>Há escolas que são gaiolas. Há escolas que são asas[...]</p>
							<p>Escolas que são asas não amam pássaros engaiolados.</p>
							<p>O que elas amam são os pássaros em vôo.</p>
							<p>Existem para dar aos pássaros coragem para voar.</p>
							<p>Ensinar o vôo, isso elas não podem fazer,</p>
							<p>porque o vôo já nasce dentro dos pássaros.</p>
							<p>O vôo não pode ser ensinado.</p>
							<p>Só pode ser encorajado.</p>
							<p>&nbsp</p>
							<p class="naoItalico">Rubem Alves</p>
						</div>
						<div id="Creditos_Imagem" class="Selecoes Selecao7">
							<p>desenho gentilmente</p>
							<p>cedido por <b>guto lacaz</b></p>
						</div>


					<!-- Projeto -->

						<div class="Selecoes Selecao6 leftSide"></div>
						<div class="Selecoes Selecao6 rightSide">
							<div class="ConteudoLeft">

								<div class="titulo">Amorim Lima <br /> “A Escola é de Todos Nós”</div>
								<div class="imagem"></div>
								
							</div>
							<div class="ConteudoRight">
								<div class="texto">Lici aut volectur, nim qui quia quiate cus aceatus eossi nobis idero voluptur?
Vollia dolore molupiet que conemol uptatibust, que plictem idipietur, volum aut am, nonsed etur, omnis dellore natinveles et volenih illoressimin pel ipsundaniet et andigna tquias am, cone dipsam abor sumquo moluptia coreped estiis dolendae lam, sam volupist, solor sin cone atur alis eaqui officia erspediae volo ommostrum quati verum illum con nobitiur? Ut re nonsecaborum id ut dist laborer chillandae ex exeriti berio volor mos peditis eatibus quiate nitio. Nam utentium, et ipsam entur?
Henis dolori aturepe rsperum ventibus maxim vendant eum quiasped ut que nonsequ iscipsam illiquis ma simaxim cori aut eicieni simusan diosam, imusda dolupiti quiasin parum re posaecum adis rem eaquis delitectus eture, sae omnist labo. Nem rerum voluptam, ut pore, omni dis verumque bo. </div>
								<div class="menuProjeto">
									<div class="opcao"><span> história</span></div>
									<div class="opcao"><span> Projeto Político Pedagógico</span></div>
									<div class="opcao"><span> Roteiros</span></div>
									<div class="opcao"><span> Carta de princípios</span></div>
									<div class="opcao"><span> equipe</span></div>
									<div class="opcao"><span> contato</span></div>
								</div>
							</div>
							
						</div>



					<!-- Calendario -->

						<div class="Selecoes Selecao5 leftSide"></div>
						<div class="Selecoes Selecao5 rightSide">
							<div class="Conteudo">


								<div class="AmorimFestas">
									
									<div class="imagemSuperior"></div>
									<div class="textoMeio">
										Nist aut rerum que porporis rerfers pelest vOlumqui rae. Nequam ex et optior sapita consequi occum volorit imus qui tem faccuptis pre la comnis maion provita spernam et aut es Xerum aliqui aute sequodias velent lamusci tasint volorrum eate sam, ime doluptibus autatiam sam, quo doluptur. Ectem ut odition sequias quae sidesenho 
									</div>
								</div>

								<div class="Icones">
									<div class="Icone Ativo"></div>
									<div class="Icone"></div>
									<div class="Icone"></div>
									<div class="Icone"></div>
								</div>
								
							</div>
							<div class="Calendario">
								
								<div class="header">
									<div class="left setaCalendario" id="setaEsquerda"></div>
									<div class="center"> Janeiro 2016</div>
									<div class="right setaCalendario" id="setaDireita"></div>
								</div>

								<div class="infos" id="containerNoticiasCalendario">

								</div>

							</div>
						</div>

					<!-- Producao -->


						<div class="Selecoes Selecao4 leftSide"></div>
						<div class="Selecoes Selecao4 rightSide">
							<div class="contentLeftSide">
								<div class="titulo">
									
									<span>
										Re quid quate omniam
										que est eum harchit,
										suntiatemos maximpore
										dolupta spissit ut
									</span>
								</div>
								<div class="texto">
									<span>
										
										nist aut rerum que porporis rerfers pelest
										vOlumqui rae. Nequam ex et optior sapita
										consequi occum volorit imus qui tem faccuptis
										pre la comnis maion provita spernam
										et aut es Xerum aliqui aute sequodias
										velent lamusci tasint volorrum eate
										sam, ime doluptibus autatiam sam, quo
									</span>
								</div>
							</div>
							<div class="contentRightSide">
								<div class="contentItem ativo"></div>
								<div class="contentItem"></div>
								<div class="contentItem"></div>
								<div class="contentItem"></div>

								<div class="contentItem"></div>
								<div class="contentItem"></div>
								<div class="contentItem"></div>
								<div class="contentItem"></div>
								
								<div class="contentItem"></div>
								<div class="contentItem"></div>
							</div>
							
						</div>

					<!-- Gremio -->


						<div class="Selecoes Selecao3 leftSide"></div>
						<div class="Selecoes Selecao3 rightSide">
							<div class="contentLeftSide">
								<div class="titulo">
									
									<span>
										Projetos e eventos que
										necessitam da ajuda da
										comunidade
									</span>
								</div>
								<div class="texto">
									<span>
										
										Aqui no Amorim , todo mundo pode
										ajudar a construir uma escola melhor,
										normalmente os familiares se organizam
										em comissões, pessoas que se juntam
										para realizar projetos de melhorias na
										nossa escola. Existem atualmente as
										seguintes Comissões que precisam de
										mais gente ajudando, mas quem quiser
										pode oferecer outros projetos que
										considere pertinentes e que visem o
										melhor para todos os alunos da escola:
									</span>
								</div>
							</div>
							<div class="contentRightSide">
								<div class="listaComissao">
									<div class="opcaoComissao Ativo">Comissão de Festas Organização,</div>
									<div class="opcaoComissao">Comissão de Prendas da Festa Junina</div>
									<div class="opcaoComissao">Comissão de Comunicação mural, site,</div>
									<div class="opcaoComissao">Comissão da Alimentação melhoria</div>
									<div class="opcaoComissao">Comissão de horta e compostagem:</div>
									<div class="opcaoComissao">Comissão do Bazar Arrecadação,</div>
									<div class="opcaoComissao">Comissão da Biblioteca a escola não</div>
									<div class="opcaoComissao">Comissão de Arrecadação No Amorim</div>
									<div class="opcaoComissao">Comissão de Formatura</div>
								</div>
								<div class="infoComissao">
									
									 lkajsdkl jalkssd jalksdj klshilusdh aishf iah fiah iuh <br />
									 <img src="siteAmorim/img/Cartaz.jpg" width="230">

								</div>
							</div>
							
						</div>

					<!-- Escolas -->


						<div class="Selecoes Selecao1 leftSide"></div>
						<div class="Selecoes Selecao1 rightSide">
							<div class="ConteudoLeft">A experiência pedagógica de educação democrática desenvolvida por duas escolas de São Paulo, a EMEF Desembargador Amorim Lima, no Butantã, e a EMEF Campos Salles, em Heliópolis, inspirou o projeto Escolas que Inovam, criado pela Fundação Telefônica em parceria com o Instituto Natura para apoiar a inovação educacional em curso nas escolas com a introdução das TIC (tecnologias de informação e comunicação) no projeto pedagógico. Somando esforços, o projeto busca desenvolver cidadãos plenos aptos a enfrentar os desafios do mundo que os cerca.<br /><br />
A parceria entre práticas pedagógicas inovadoras, uso de tecnologia e foco na individualização da formação do aluno geram resultados positivos. As matérias regulares convivem com a capacitação para as competências do século XXI e a avaliação dos resultados são os pilares do projeto.</div>
							<div class="ConteudoRight">
								<div class="imagemInst"></div>
								<div class="imagemCred"></div>
							</div>
							
						</div>
					<!-- PopUp Calendario -->

						<div class="Selecoes PopupCalendario">
							<div class="contentTexto">
								<h2>Festa da cultura</h2>

								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id risus porttitor, laoreet ipsum in, tincidunt dui. Sed in metus nibh metus nibh metus nibh metus nibh metus nibh porttitor, laoreet ipsum in, tin laoreet ipsum in, tincidunt dui. Sed in metus nibh metus nibh metus nibh metus nibh metus .</p>

								<img width="100%" height="auto" src="siteAmorim/img/IMG_6401.jpg">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id risus porttitor.</p>

							</div>

							<div class="anos">

							</div>

							<div class="contentSlide">
								
								<div class="MainSlide">


									<div class="AnoTitulo"></div>

									<div class="ConteudoMain">
										<img width="auto" height="100%" src="">
										<div class="legenda"></div>
										<div class="Arrow Right"></div>
										<div class="Arrow Left"></div>
									</div>

									<div class="SelectionSlides">
										
									</div>
								</div>
								<div class="btn_close"></div>
							</div>


						</div>

					<!-- PopUp Producao -->

						<div class="Selecoes PopupProducao">
							<div class="contentTexto">
								<h2>Oficina de Cinema</h2>

								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id risus porttitor, laoreet ipsum in, tincidunt dui. Sed in metus nibh. Aliquam varius massa nec fermentum luctus. Vestibulum consectetur egestas sollicitudin. Maecenas gravida in libero sit amet convallis. Phasellus mauris arcu, sollicitudin id lorem eu, blandit fringilla quam.</p>

								<img width="100%" height="auto" src="siteAmorim/img/IMG_6401.jpg">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id risus porttitor.</p>

							</div>
							<div class="contentSlide">
								
								<div class="MainSlide">

									<div class="Arrow"></div>
									<div class="Arrow"></div>

									<div class="ConteudoMain">
										<iframe src="https://player.vimeo.com/video/139168939" width="800" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
									</div>

								</div>
								<div class="SelectionSlides">
									
								</div>
								<div class="btn_close"></div>
							</div>
						</div>

				</div>
				<div id="esquecisenha" class="boxOverlay">
					<form>
					<label>Email</label>
					
					<input type="text" id="email">	
					<input type="button" onClick="cancelar();" value="Cancelar" class="Submit_Login" style="margin-left:4px;">		  
					<input type="button" onClick="esqueciSenha();" value="Enviar" class="Submit_Login" >
					</form>
				</div>
			</div>                       
		</div><!--Fim Conteudo-->
        <div id="boxMensagemGeral" style="width: 100%; left: auto;"></div>
		<div class="boxGlobal" style="width: 100%; left: auto;"></div>  	   


		<script type="text/javascript" src="js/funcoesFinais.js"></script>	
	</body>    
</html>