<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8" />
    <title>Plataforma Amorim</title>
    <link rel="shortcut icon" href="img/Amorim_favicon.png" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Style-->
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="css/plugins.css"/>
    <link rel="stylesheet" href="js/malihu.3.0.3/mCustomScrollbar.css"/>
    <link rel="stylesheet" href="mobilecss/mobile.css">
    <!--Fim Style-->

    <!--Script JS-->
    <script>
        // Verificar se está num dispositivo mobile e se há algum perfil logado
        (function verificarDispositivoSessao() {
            var m = "";

            if(/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent)) {
                m = "m_";
            }

            if (localStorage.length > 0) {
                localStorage.clear();
            }

            if (m === "m_" && (window.location.pathname.endsWith("index.html") || window.location.pathname.endsWith("/"))) {
                window.location = "mobile.html";
            } else if (m === "" && (window.location.pathname.endsWith("mobile.html"))) {
                window.location = "index.html";
            }

        })();
    </script>
    <script type="text/javascript" src="js/path.js"></script>
    <script type="text/javascript" src="//use.typekit.net/cjh0uzc.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script type="text/javascript" src="angular/angular.js"></script>
    <script type="text/javascript" src="js/malihu.3.0.3/mCustomScrollbar.js"></script>
    <script src="js/malihu.3.0.3/mCustomScrollbar.concat.min.js"></script>
    <script src="siteAmorim/js/contentIndex.js"></script>
    <script type="text/javascript" src="js/funcoesInicial.js"></script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js "></script>
    <script type="text/javascript" src="angular/app/app.js"></script>
    <script type="text/javascript" src="angular/controllers/geralCTRL.js"></script>
    <!--Fim JS-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body ng-controller="loginCTRL">
    <!--Conteudo Geral-->
    <div id="Container">

        <div class="logo-area center-content">
            <img src="img/logos_mobile/logo_h_mobile.png" class="img">
        </div>
        <div class="form-area">
            <div class="form-container">
                <form action="" id="formLogin" method="POST" class="form form-block">
                    <input type="text" id="usuario" ng-model="usuario" name="usuario" class="input input-block" placeholder="Usuário">
                    <input type="password" id="senha" ng-model="senha" name="senha" class="input input-block" placeholder="Senha">
                    <p id="textLoginInvalido"class="text text-danger text-center" style="display: none;">Login e/ou senha inválido(s).</p>
                    <button type="button" ng-click="logar()" class="btn btn-block">Entrar</button>
                    <p class="link-group link-group-block center-content">
                        <span class="link" data-show="formEsqueceuSenha">Esqueceu a senha?</span>
                    </p>
                </form>
                <form action="" id="formEsqueceuSenha" class="form form-block" style="display:none;">
                    <input type="text" id="email" class="input input-block" name="email" placeholder="Email">
                    <p id="textEmailInvalido" class="text text-danger text-center" style="display: none;">Digite um email válido</p>
                    <button type="button" id="enviarEsqueceuSenha" class="btn btn-block">Enviar</button>
                    <p class="link-group link-group-block center-content">
                        <span class="link" data-show="formLogin">Voltar</span>
                    </p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>