<!DOCTYPE html>
<html ng-app="app">
<!-- -->
	<head>
		<meta charset="UTF-8" />
		<title>Plataforma Amorim</title>
		<link rel="shortcut icon" href="img/Amorim_favicon.png" type="image/x-icon"/>

		<!--Style-->
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<link rel="stylesheet" type="text/css" href="css/plugins.css"/>
		<link rel="stylesheet" type="text/css" href="css/oficinaProfessor.css"/>
		<link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
		<link rel="stylesheet" href="js/malihu.3.0.3/mCustomScrollbar.css" />
		<!--Fim Style-->
		
		<!--Script JS-->
		<script type="text/javascript" src="js/path.js"></script>
		<script type="text/javascript" src="//use.typekit.net/cjh0uzc.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<script type="text/javascript" src="js/jquery-1.10.2.js"></script>        
		<script type="text/javascript" src="js/jquery-latest.js"></script>
		<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>   
		<script type="text/javascript" src="js/jquery-ui.js"></script>

		<script type="text/javascript" src="js/malihu.3.0.3/mCustomScrollbar.js"></script>        
		<script type="text/javascript" src="js/malihu.3.0.3/mCustomScrollbar.concat.min.js"></script>
		
		<script type="text/javascript" src="js/funcoes.js"></script>
		<script type="text/javascript" src="js/autenticador.js"></script>
		<script type="text/javascript" src="js/oficinaProfessor.js"></script>
						
		<script type="text/javascript" src="angular/angular.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js "></script>
		<script type="text/javascript" src="angular/app/app.js"></script>
		<script type="text/javascript" src="angular/controllers/geralCTRL.js"></script>
		<script type="text/javascript" src="js/calendario.js"></script>              
		<!--Fim JS-->

	</head>

	<body>
		<!--Conteudo Geral-->
		<div id="Container" ng-controller="geralCTRL">
			<div>
				<div id="Cabecalho_Menu_Area">
                    <div id="Cabecalho_Menu_Area_Menu1"><a id="home">Home</a> | <a href="{{usuarioPagina}}">{{usuarioNamePagina}}</a></div>
                    <div id="Cabecalho_Menu_Trocar_Oficina"> 
                    	<a>{{oficinaAtiva}}<span id="trocarOficina" class="up">&nbsp;</span></a> |
                    </div>
                    <div id="box_oficinas" ng-repeat="oficina in oficinaHTML">
                    	<div ng-repeat="(key, val) in oficina">
                        	<p ng-click="alteraOficina(val.oficina.idoficina)">
                        		{{val.oficina.tipoOficina.nome}}
                            </p>
                      	</div>
                    </div>
                    <div id="Cabecalho_Menu_Area_Menu2">                    	
                        <a id="senha" onClick="atualizarCadastroModal('professor');">Atualizar Cadastro</a> |
                        <a id="senha" onClick="chamaFormSenha();">Alterar Senha</a> |
                        <a href="javascript:history.back()">Voltar</a> |
                        <a id="logout" href="#" ng-click="logout()">Sair</a>
                    </div>                    
                </div>
				<!--Perfil do usuário, neste caso, o aluno-->
				<div id="Cabecalho_Perfil_Area" ng-init="usuario()">
					<div id="Cabecalho_Perfil_Area_Foto_Content">
						<!--Foto do usuário, neste caso, do aluno-->
						<div id="Cabecalho_Perfil_Area_Foto">                           
							<img id='_foto' src='{{usuarioFoto}}'/>
						</div>
					</div>
					<!--Nome | Serie do usuário-->
					<div id="Cabecalho_Perfil_Area_Descricao_Content">
						<div id="Cabecalho_Perfil_Area_Descricao">{{usuarioCabecalho}}</div>
					</div>
				</div>
			</div>
			<div id="Conteudo_Area">
					<!--Coluna a esquerda-->    
					<div class="Conteudo_Coluna" id="Content_lateral">    
						<!--Menu lateral-->
						<div id="Content_lateral_Menu">    
							<div  ng-repeat="menu in menuHTML">                         
								<a href="{{menu.href}}">
									<div class="Content_lateral_Menu_Opcao {{menu.class}}">
										<div ng-if="menu.class== 'mensagens' && menuInfoM != '0' && menuInfoM != ''" class="label" id="num_msg_nLidas">{{menuInfoM}}</div>
										<div ng-if="menu.class== 'forum' && menuInfoF != '0' && menuInfoF != ''" class="label" id="num_msg_nLidas">{{menuInfoF}}</div>
										<span> {{menu.label}} </span>
									</div>
								</a>
							</div>
						</div>      
						<!--Calendario-->   
					<div id="Content_lateral_Calendario">
						<div id="datepicker"></div>
						<div id="rodape_calendario">
							<p id="apontar">Apontar Presença grupo</p>
						</div>
					</div>

				</div>
				<!--Coluna geral central-->
				<div class="Conteudo_Coluna" id="content_central_fixa">
					<div class="main_nav">
						<div class="abas_agrupamentos">
							<!-- ><span id="abaAgrupamentoAd" class="aba_agrupamento abaAgrupamento">A</span>
							<span id="abaAgrupamentoBd" class="aba_agrupamento abaAgrupamento">B</span>
							<span id="abaAgrupamentoCf" class="aba_agrupamento abaAgrupamento">C</span>
							<span id="abaAgrupamentoDf" class="aba_agrupamento abaAgrupamento">D</span>
							<span id="abaAgrupamentoEf" class="aba_agrupamento abaAgrupamento">E</span>
							<span id="abaAgrupamentoFf" class="aba_agrupamento abaAgrupamento">F</span>!-->
							
							
						</div>
					</div>
					<div class="conteudo_principal">
						<div class="agrupamento_container">
							<!-- <div id="containerAgrupamentoA" class="agrupamento">
								<div class="agrupamento_aluno">
									<img src="http://177.55.99.90/files/Fem.png" alt="Joana Silva Pereira">
									<span>Aluna agrupamento A</span>
								</div>
								<div class="agrupamento_aluno">
									<img src="http://177.55.99.90/files/Fem.png" alt="Joana Silva Pereira">
									<span>Aluna agrupamento A</span>
								</div>
								<div class="agrupamento_aluno">
									<img src="http://177.55.99.90/files/Fem.png" alt="Joana Silva Pereira">
									<span>Aluna agrupamento A</span>
								</div>
								<div class="agrupamento_aluno">
									<img src="http://177.55.99.90/files/Fem.png" alt="Joana Silva Pereira">
									<span>Aluna agrupamento A</span>
								</div>
								<div class="agrupamento_aluno">
									<img src="http://177.55.99.90/files/Fem.png" alt="Joana Silva Pereira">
									<span>Aluna agrupamento A</span>
								</div>
								<div class="agrupamento_aluno">
									<img src="http://177.55.99.90/files/Fem.png" alt="Joana Silva Pereira">
									<span>Aluna agrupamento A</span>
								</div>
								<div class="agrupamento_aluno"></div>
								<div class="agrupamento_aluno"></div>
								<div class="agrupamento_aluno"></div>
							</div>
							<div id="containerAgrupamentoB" class="agrupamento">
								<div class="agrupamento_aluno">
									<img src="http://177.55.99.90/files/Fem.png" alt="Joana Silva Pereira">
									<span>Aluna agrupamento B</span>
								</div>
								<div class="agrupamento_aluno">
									<img src="http://177.55.99.90/files/Fem.png" alt="Joana Silva Pereira">
									<span>Aluna agrupamento B</span>
								</div>
								<div class="agrupamento_aluno">
									<img src="http://177.55.99.90/files/Fem.png" alt="Joana Silva Pereira">
									<span>Aluna agrupamento B</span>
								</div>
								<div class="agrupamento_aluno">
									<img src="http://177.55.99.90/files/Fem.png" alt="Joana Silva Pereira">
									<span>Aluna agrupamento B</span>
								</div>
								<div class="agrupamento_aluno">
									<img src="http://177.55.99.90/files/Fem.png" alt="Joana Silva Pereira">
									<span>Aluna agrupamento B</span>
								</div>
								<div class="agrupamento_aluno">
									<img src="http://177.55.99.90/files/Fem.png" alt="Joana Silva Pereira">
									<span>Aluna agrupamento B</span>
								</div>
								<div class="agrupamento_aluno"></div>
								<div class="agrupamento_aluno"></div>
								<div class="agrupamento_aluno"></div>
							</div>
							<div id="containerAgrupamentoC" class="agrupamento">
								<div class="agrupamento_aluno">
									<img src="http://177.55.99.90/files/Fem.png" alt="Joana Silva Pereira">
									<span>Aluna agrupamento C</span>
								</div>
								<div class="agrupamento_aluno">
									<img src="http://177.55.99.90/files/Fem.png" alt="Joana Silva Pereira">
									<span>Aluna agrupamento C</span>
								</div>
								<div class="agrupamento_aluno">
									<img src="http://177.55.99.90/files/Fem.png" alt="Joana Silva Pereira">
									<span>Aluna agrupamento C</span>
								</div>
								<div class="agrupamento_aluno">
									<img src="http://177.55.99.90/files/Fem.png" alt="Joana Silva Pereira">
									<span>Aluna agrupamento C</span>
								</div>
								<div class="agrupamento_aluno">
									<img src="http://177.55.99.90/files/Fem.png" alt="Joana Silva Pereira">
									<span>Aluna agrupamento C</span>
								</div>
								<div class="agrupamento_aluno">
									<img src="http://177.55.99.90/files/Fem.png" alt="Joana Silva Pereira">
									<span>Aluna agrupamento C</span>
								</div>
								<div class="agrupamento_aluno"></div>
								<div class="agrupamento_aluno"></div>
								<div class="agrupamento_aluno"></div>
							</div>
							<div id="containerAgrupamentoD" class="agrupamento">
								<div class="agrupamento_aluno">
									<img src="http://177.55.99.90/files/Fem.png" alt="Joana Silva Pereira">
									<span>Aluna agrupamento D</span>
								</div>
								<div class="agrupamento_aluno">
									<img src="http://177.55.99.90/files/Fem.png" alt="Joana Silva Pereira">
									<span>Aluna agrupamento D</span>
								</div>
								<div class="agrupamento_aluno">
									<img src="http://177.55.99.90/files/Fem.png" alt="Joana Silva Pereira">
									<span>Aluna agrupamento D</span>
								</div>
								<div class="agrupamento_aluno">
									<img src="http://177.55.99.90/files/Fem.png" alt="Joana Silva Pereira">
									<span>Aluna agrupamento D</span>
								</div>
								<div class="agrupamento_aluno">
									<img src="http://177.55.99.90/files/Fem.png" alt="Joana Silva Pereira">
									<span>Aluna agrupamento D</span>
								</div>
								<div class="agrupamento_aluno">
									<img src="http://177.55.99.90/files/Fem.png" alt="Joana Silva Pereira">
									<span>Aluna agrupamento D</span>
								</div>
								<div class="agrupamento_aluno"></div>
								<div class="agrupamento_aluno"></div>
								<div class="agrupamento_aluno"></div>
							</div>
							<div id="containerAgrupamentoE" class="agrupamento">
								<div class="agrupamento_aluno">
									<img src="http://177.55.99.90/files/Fem.png" alt="Joana Silva Pereira">
									<span>Aluna agrupamento E</span>
								</div>
								<div class="agrupamento_aluno">
									<img src="http://177.55.99.90/files/Fem.png" alt="Joana Silva Pereira">
									<span>Aluna agrupamento E</span>
								</div>
								<div class="agrupamento_aluno">
									<img src="http://177.55.99.90/files/Fem.png" alt="Joana Silva Pereira">
									<span>Aluna agrupamento E</span>
								</div>
								<div class="agrupamento_aluno">
									<img src="http://177.55.99.90/files/Fem.png" alt="Joana Silva Pereira">
									<span>Aluna agrupamento E</span>
								</div>
								<div class="agrupamento_aluno">
									<img src="http://177.55.99.90/files/Fem.png" alt="Joana Silva Pereira">
									<span>Aluna agrupamento E</span>
								</div>
								<div class="agrupamento_aluno">
									<img src="http://177.55.99.90/files/Fem.png" alt="Joana Silva Pereira">
									<span>Aluna agrupamento E</span>
								</div>
								<div class="agrupamento_aluno"></div>
								<div class="agrupamento_aluno"></div>
								<div class="agrupamento_aluno"></div>
							</div>
							<div id="containerAgrupamentoF" class="agrupamento">
								<div class="agrupamento_aluno">
									<img src="http://177.55.99.90/files/Fem.png" alt="Joana Silva Pereira">
									<span>Aluna agrupamento F</span>
								</div>
								<div class="agrupamento_aluno"></div>
							</div>
						</div>-->
					</div>
				</div>                         
			</div>            
		</div>
		<!--Fim Conteudo-->  
		<div id="boxMensagemGeral">
		</div>
		<div id="boxModaisEdicao">
		</div>
		<div class="boxGlobal">
			<img src="img/loading2.GIF" width="60" height="60" alt=""/>
		</div>              
	</body>
</html>