<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="UTF-8" />
		<title>Plataforma Amorim</title>
		<link rel="shortcut icon" href="img/Amorim_favicon.png" type="image/x-icon"/>
 
		<!--Style-->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/home.css" />
		<link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="css/plugins.css" />
        <link rel="stylesheet" type="text/css" href="css/producaoAluno.css" />  
        <link rel="stylesheet" href="js/malihu.3.0.3/mCustomScrollbar.css" />
    	<!--Fim Style-->
        
        <!--Script JS-->
        <script type="text/javascript" src="js/path.js"></script>
        <script type="text/javascript" src="//use.typekit.net/cjh0uzc.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>        			
      	<script src="js/jquery-ui.js"></script>
        <script type="text/javascript" src="js/malihu.3.0.3/mCustomScrollbar.js"></script>
		<script src="js/malihu.3.0.3/mCustomScrollbar.concat.min.js"></script>
        <script type="text/javascript" src="js/calendario.js"></script>
        <script type="text/javascript" src="js/funcoes.js"></script>   
        <!--Carrega os dados do usuario logado-->
        <script type="text/javascript" src="js/autenticador.js"></script>
                        
        <script type="text/javascript" src="angular/angular.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js "></script>
        <script type="text/javascript" src="angular/app/app.js"></script>
        <script type="text/javascript" src="angular/controllers/geralCTRL.js"></script> 
        <script type="text/javascript" src="js/producaoAluno.js"></script>   
        <!--Fim JS-->    
    </head>

	<body>
		<!--Conteudo Geral-->
		<div id="Container" ng-controller="geralCTRL">            
            <div>
                <div id="Cabecalho_Menu_Area">
                    <div id="Cabecalho_Menu_Area_Menu1"><a id="home">Home</a> | <a href="{{usuarioPagina}}">{{usuarioNamePagina}}</a></div>
                    <div id="Cabecalho_Menu_Area_Menu2">
                        <a id="senha" onClick="atualizarCadastroModal('aluno');">Atualizar Cadastro</a> |
                        <a id="senha" onClick="chamaFormSenha();">Alterar Senha</a> | 
                        <a href="javascript:history.back()">Voltar</a> | 
                        <a id="logout" href="#" ng-click="logout()">Sair</a>
                    </div>			
                </div>
                <!--Perfil do usuário, neste caso, o aluno-->
                <div id="Cabecalho_Perfil_Area" ng-init="usuario()">
                    <div id="Cabecalho_Perfil_Area_Foto_Content">
                        <!--Foto do usuário, neste caso, do aluno-->
                        <div id="Cabecalho_Perfil_Area_Foto">                        	
                        	<img id='_foto' src='{{usuarioFoto}}'/>
                        </div>
                    </div>
                    <!--Nome | Serie do usuário-->
                    <div id="Cabecalho_Perfil_Area_Descricao_Content">
                        <div id="Cabecalho_Perfil_Area_Descricao">{{usuarioCabecalho}}</div>
                    </div>
                </div>
            </div>
			<div id="Conteudo_Area">
                    <!--Coluna a esquerda-->    
                    <div class="Conteudo_Coluna" id="Content_lateral">    
                        <!--Menu lateral-->
                        <div id="Content_lateral_Menu">    
                        	<div  ng-repeat="menu in menuHTML">                        	
                                <div class="Content_lateral_Menu_Opcao {{menu.class}}">
                                	<div ng-if="menu.class== 'mensagens'" class="label" id="num_msg_nLidas">{{menuInfoM}}</div>
                                    <div ng-if="menu.class== 'forum'" class="label" id="num_msg_nLidas">{{menuInfoF}}</div>
                                    <a href="{{menu.href}}">{{menu.label}}</a>
                                </div>
                            </div>
                        </div>    
                    <!--Calendario-->                   
					<div id="Content_lateral_Calendario">
						<div id="datepicker"></div>
						<div id="rodape_calendario">
							<p id="apontar">Apontar Presença grupo</p>
						</div>                                                 							
					</div>                                     
				</div>          

				<!--Coluna geral central-->
                <!--  bloqueio para a rolagem top-->				
                <div class="Conteudo_Coluna" id="content_central">
				
                	<nav id="producao_aluno_cabecalho">
						<ul id="Producao_Aluno_Nav" class="Prod_Aluno_Nav">
                			<li id="cabecalho_portfolio" class="Prod_Aluno_Nav_Item">Portfólio</li>
                			<li id="cabecalho_fichas"  class="Prod_Aluno_Nav_Item">Fichas de finalização</li>
                			<li id="cabecalho_atividade" class="Prod_Aluno_Nav_Item">Atividade extra</li>
                		</ul>
                	</nav>
					
                	<main id="Prod_Aluno_Content">
						
						<!-- Conteudo da aba de Portfolio -->
						<section id="Portfolio" class="Prod_Aluno_Content_Item">
							<div id="menu_lateral_portfolio">
								<ul>
									<!-- <li> As transformações dos materiais no </li>
									<li> Cartografia </li>
									<li> Conto popular </li>
									<li> Civilizações não europeias </li>
									<li> Defender ideias e argumentar </li>
									<li> Clima e vegetação </li>
									<li> O ciclo de vida </li>
									<li> </li>
									<li> </li> -->
								</ul>
							</div>
							
							<div id="conteudo_principal_portfolio">
								<!-- <div id="Titulo_objeto">
									Civilizações europeias
								</div> -->
								
								<div class="imagem_objeto">

									<iframe src=""></iframe>
								
								</div>
							</div>
						</section>
							
						<!-- Conteudo da aba das Fichas de finalização -->
						<section id="Fichas" class="Prod_Aluno_Content_Item">
							<div id="menu_lateral_fichas">
								<ul></ul>
							</div>
							
							<div id="conteudo_principal_fichas">
								<div class="imagem_objeto">
	        					 	<iframe src=""></iframe>
								</div>
							</div>
						</section>

						<!-- Conteudo da aba de Oficinas extra -->
						<section id="Oficinas" class="Prod_Aluno_Content_Item">
							<nav id="menu_lateral_oficinas">
								<div id="Prod_Oficina_Acordeon">
									<div id="Oficina1" class="Prod_Oficina_Item">
										<div class="Prod_Oficina_Nome" style="background-color: #ef5b5d">Educação Física</div>
										<div class="Prod_Oficina_Content">
											<div class="Oficina_Content_Item Add_Item">Inserir novo</div>
											<div id="Item1" class="Oficina_Content_Item Item_Img">Inserir novo</div>
											<div id="Item2" class="Oficina_Content_Item Item_Img">Inserir novo</div>
										</div>
									</div>
									<div id="Oficina2" class="Prod_Oficina_Item">
										<div class="Prod_Oficina_Nome" style="background-color: #ef5b5d">Matemática</div>
										<div class="Prod_Oficina_Content">
											<div class="Oficina_Content_Item Add_Item">Inserir novo</div>
											<div id="Item3" class="Oficina_Content_Item Item_Img">Inserir novo</div>
											<div id="Item4" class="Oficina_Content_Item Item_Img">Inserir novo</div>
										</div>
									</div>
									<div id="Oficina3" class="Prod_Oficina_Item">
										<div class="Prod_Oficina_Nome" style="background-color: #ef5b5d">Artes</div>
										<div class="Prod_Oficina_Content">
											<div class="Oficina_Content_Item Add_Item">Inserir novo</div>
											<div id="Item5" class="Oficina_Content_Item Item_Img">Inserir novo</div>
											<div id="Item6" class="Oficina_Content_Item Item_Img">Inserir novo</div>
										</div>
									</div>
									<div id="Oficina4" class="Prod_Oficina_Item">
										<div class="Prod_Oficina_Nome" style="background-color: #ef5b5d">Leitura e Escrita</div>
										<div class="Prod_Oficina_Content">
											<div class="Oficina_Content_Item Add_Item">Inserir novo</div>
											<div id="Item7" class="Oficina_Content_Item Item_Img">Inserir novo</div>
											<div id="Item8" class="Oficina_Content_Item Item_Img">Inserir novo</div>
										</div>
									</div>
									<div id="Oficina5" class="Prod_Oficina_Item">
										<div class="Prod_Oficina_Nome" style="background-color: #ef5b5d">Latim</div>
										<div class="Prod_Oficina_Content">
											<div class="Oficina_Content_Item Add_Item">Inserir novo</div>
											<div id="Item9" class="Oficina_Content_Item Item_Img">Inserir novo</div>
											<div id="Item10" class="Oficina_Content_Item Item_Img">Inserir novo</div>
										</div>
									</div>
									<div id="Oficina6" class="Prod_Oficina_Item">
										<div class="Prod_Oficina_Nome" style="background-color: #ef5b5d">Comsciêntia Fund</div>
										<div class="Prod_Oficina_Content">
											<div class="Oficina_Content_Item Add_Item">Inserir novo</div>
											<div id="Item11" class="Oficina_Content_Item Item_Img">Inserir novo</div>
											<div id="Item12" class="Oficina_Content_Item Item_Img">Inserir novo</div>
										</div>
									</div>
									<div id="Oficina7" class="Prod_Oficina_Item">
										<div class="Prod_Oficina_Nome" style="background-color: #ef5b5d">Inglês</div>
										<div class="Prod_Oficina_Content">
											<div class="Oficina_Content_Item Add_Item">Inserir novo</div>
											<div id="Item13" class="Oficina_Content_Item Item_Img">Inserir novo</div>
											<div id="Item14" class="Oficina_Content_Item Item_Img">Inserir novo</div>
										</div>
									</div>
									<div id="Oficina8" class="Prod_Oficina_Item">
										<div class="Prod_Oficina_Nome" style="background-color: #ef5b5d">Música</div>
										<div class="Prod_Oficina_Content">
											<div class="Oficina_Content_Item Add_Item">Inserir novo</div>
											<div id="Item15" class="Oficina_Content_Item Item_Img">Inserir novo</div>
											<div id="Item16" class="Oficina_Content_Item Item_Img">Inserir novo</div>
										</div>
									</div>
								</div>
							</nav>
							
							<div id="conteudo_principal_oficinas">
								<div class="Prod_Oficina_Conteudo">
									<div class="Oficina_Content_Add"></div>
									<div class="Oficina_Content_Img">
										<img id="Img1" src="img/testeProdOficina/teste.jpg" class="Oficina_Prod_Img" alt="Teste" title="Teste1">
									</div>
									<div class="Oficina_Content_Img">
										<img id="Img2" src="img/testeProdOficina/teste.jpg" class="Oficina_Prod_Img" alt="Teste" title="Teste2">
									</div>
								</div>
								<div class="Prod_Oficina_Conteudo">
									<div class="Oficina_Content_Add"></div>
									<div class="Oficina_Content_Img">
										<img id="Img3" src="img/testeProdOficina/teste.jpg" class="Oficina_Prod_Img" alt="Teste" title="Teste3">
									</div>
									<div class="Oficina_Content_Img">
										<img id="Img4" src="img/testeProdOficina/teste.jpg" class="Oficina_Prod_Img" alt="Teste" title="Teste4">
									</div>
								</div>
								<div class="Prod_Oficina_Conteudo">
									<div class="Oficina_Content_Add"></div>
									<div class="Oficina_Content_Img">
										<img id="Img5" src="img/testeProdOficina/teste.jpg" class="Oficina_Prod_Img" alt="Teste" title="Teste5">
									</div>
									<div class="Oficina_Content_Img">
										<img id="Img6" src="img/testeProdOficina/teste.jpg" class="Oficina_Prod_Img" alt="Teste" title="Teste6">
									</div>
								</div>
								<div class="Prod_Oficina_Conteudo">
									<div class="Oficina_Content_Add"></div>
									<div class="Oficina_Content_Img">
										<img id="Img7" src="img/testeProdOficina/teste.jpg" class="Oficina_Prod_Img" alt="Teste" title="Teste7">
									</div>
									<div class="Oficina_Content_Img">
										<img id="Img8" src="img/testeProdOficina/teste.jpg" class="Oficina_Prod_Img" alt="Teste" title="Teste8">
									</div>
								</div>
								<div class="Prod_Oficina_Conteudo">
									<div class="Oficina_Content_Add"></div>
									<div class="Oficina_Content_Img">
										<img id="Img9" src="img/testeProdOficina/teste.jpg" class="Oficina_Prod_Img" alt="Teste" title="Teste9">
									</div>
									<div class="Oficina_Content_Img">
										<img id="Img10" src="img/testeProdOficina/teste.jpg" class="Oficina_Prod_Img" alt="Teste" title="Teste10">
									</div>
								</div>
								<div class="Prod_Oficina_Conteudo">
									<div class="Oficina_Content_Add"></div>
									<div class="Oficina_Content_Img">
										<img id="Img11" src="img/testeProdOficina/teste.jpg" class="Oficina_Prod_Img" alt="Teste" title="Teste11">
									</div>
									<div class="Oficina_Content_Img">
										<img id="Img12" src="img/testeProdOficina/teste.jpg" class="Oficina_Prod_Img" alt="Teste" title="Teste12">
									</div>
								</div>
								<div class="Prod_Oficina_Conteudo">
									<div class="Oficina_Content_Add"></div>
									<div class="Oficina_Content_Img">
										<img id="Img13" src="img/testeProdOficina/teste.jpg" class="Oficina_Prod_Img" alt="Teste" title="Teste13">
									</div>
									<div class="Oficina_Content_Img">
										<img id="Img14" src="img/testeProdOficina/teste.jpg" class="Oficina_Prod_Img" alt="Teste" title="Teste14">
									</div>
								</div>
								<div class="Prod_Oficina_Conteudo">
									<div class="Oficina_Content_Add"></div>
									<div class="Oficina_Content_Img">
										<img id="Img15" src="img/testeProdOficina/teste.jpg" class="Oficina_Prod_Img" alt="Teste" title="Teste15">
									</div>
									<div class="Oficina_Content_Img">
										<img id="Img16" src="img/testeProdOficina/teste.jpg" class="Oficina_Prod_Img" alt="Teste" title="Teste16">
									</div>
								</div>
							</div>
						</section>

                	</main>	

                	<div id="portifolio_aluno_content">
						
                	</div>	
						
						<div id="back_black">
							<div class="mensagem_Exclusao">
								<div class="Mensagem_Texto">
									
									Você tem certeza que deseja excluir esta atividade?

								</div>
								<div class="Mensagem_Botoes">
									<input type="button" class='btPadrao Fleft' id="btConfirma_Exclusao" value="Excluir" />
									<input type="button" class='btPadrao Fright' id="btCancela_Exclusao" value="Cancelar" />
								</div>
							</div>
						</div>

              	</div>                
                <div id="boxMensagemGeral"></div>
                <div class="boxCalendario"></div>
				<div class="boxGlobal"></div> 
			</div>             
		</div><!--Fim Conteudo-->     
	</body>
</html> 