<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="UTF-8" />
		<title>Plataforma Amorim</title>
		<link rel="shortcut icon" href="img/Amorim_favicon.png" type="image/x-icon"/>
 
		<!--Style-->
		<link rel="stylesheet" type="text/css" href="css/style.css" />			
        <link rel="stylesheet" type="text/css" href="css/home.css" />
		<link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="css/plugins.css" />
        <link rel="stylesheet" href="js/malihu.3.0.3/mCustomScrollbar.css" />
        <link rel="stylesheet" type="text/css" href="css/roteiros.css" />
    	<!--Fim Style-->
        
        <!--Script JS-->
        <script type="text/javascript" src="js/path.js"></script>
        <script src="js/jquery-1.10.2.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                if(/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent))
                    window.location.assign("mRoteiros.html");
            }); 
        </script>

        <script type="text/javascript" src="js/autenticador.js"></script>
                        
        <script type="text/javascript" src="angular/angular.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js "></script>
        <script type="text/javascript" src="angular/app/app.js"></script>
        <script type="text/javascript" src="angular/controllers/geralCTRL.js"></script> 
        <script type="text/javascript" src="js/calendario.js"></script>
        <script type="text/javascript" src="js/funcoes.js"></script>   
        <script type="text/javascript" src="js/cadastroRoteiro.js"></script>     
    </head>

	<body>
		<!--Conteudo Geral-->
		<div id="Container" ng-controller="geralCTRL">
                    <div>
                <div id="Cabecalho_Menu_Area">
                    <div id="Cabecalho_Menu_Area_Menu1"><a id="home">Home</a> | <a href="{{usuarioPagina}}">{{usuarioNamePagina}}</a></div>
                    <div id="Cabecalho_Menu_Area_Menu2">
                        <a id="senha" onClick="atualizarCadastroModal('aluno');">Atualizar Cadastro</a> |
                        <a id="senha" onClick="chamaFormSenha();">Alterar Senha</a> | 
                        <a href="javascript:history.back()">Voltar</a> | 
                        <a id="logout" href="#" ng-click="logout()">Sair</a>
                    </div>          
                </div>
                <!--Perfil do usuário, neste caso, o aluno-->
                <div id="Cabecalho_Perfil_Area" ng-init="usuario()">
                    <div id="Cabecalho_Perfil_Area_Foto_Content">
                        <!--Foto do usuário, neste caso, do aluno-->
                        <div id="Cabecalho_Perfil_Area_Foto">                           
                            <img id='_foto' src='{{usuarioFoto}}'/>
                        </div>
                    </div>
                    <!--Nome | Serie do usuário-->
                    <div id="Cabecalho_Perfil_Area_Descricao_Content">
                        <div id="Cabecalho_Perfil_Area_Descricao">{{usuarioCabecalho}}</div>
                    </div>
                </div>
            </div>
            <div id="Conteudo_Area">
                    <!--Coluna a esquerda-->    
                    <div class="Conteudo_Coluna" id="Content_lateral">    
                        <!--Menu lateral-->
                        <div id="Content_lateral_Menu">    
                            <div  ng-repeat="menu in menuHTML">                         
                                <a href="{{menu.href}}">
                                    <div class="Content_lateral_Menu_Opcao {{menu.class}}">
                                        <div ng-if="menu.class== 'mensagens' && menuInfoM != '0' && menuInfoM != ''" class="label" id="num_msg_nLidas">{{menuInfoM}}</div>
                                        <div ng-if="menu.class== 'forum' && menuInfoF != '0' && menuInfoF != ''" class="label" id="num_msg_nLidas">{{menuInfoF}}</div>
                                        {{menu.label}}
                                    </div>
                                </a>
                            </div>
                        </div>    
                        <!--Calendario-->
					<div id="Content_lateral_Calendario">
						<div id="datepicker"></div>
						<div id="rodape_calendario">
							<p id="apontar">Apontar Presença grupo</p>
						</div>						
					</div>

				</div>	
				<!--Coluna geral central-->
                <!--  bloqueio para a rolagem top-->				
                <div class="Conteudo_Coluna" id="content_central">
				    
                	<div id="roteiros_cabecalho">
                        <div class="Roteiro_Linha Less_Padding_Itens">
            		        <div class="Roteiro_Col_4">
                                <div id="cabecalho_roteiro" class="Cabecalho_Roteiro_Item">Inserir Roteiro</div>
                            </div>
                		    <div class="Roteiro_Col_4">
                                <div id="cabecalho_objetivo" class="Cabecalho_Roteiro_Item">Pesquisa</div>
                            </div>
                            <div class="Roteiro_Col_4">
                                <div id="cabecalho_roteiroExtra" class="Cabecalho_Roteiro_Item"> Atribuir Roteiro Extra </div>
                            </div>
                        </div>
                	</div>
					
                	<div id="roteiros_content">	
                        <div id="roteiros_content_container">				
                            <!-- Conteudo da aba de Roteiro -->
                            <div id="Roteiro" class="Conteudo_Aba_Cabecalho">
                                <div id="conteudo_principal_roteiro">
                                    <div id="Formulario_Roteiro">
                                        <div id="Inserir_roteiro" class="Roteiro_Linha">
                                            <div class="Item_Roteiro_Linha No_Padding_Itens">
                                                <div class="Roteiro_Col_4">
                                                    <div class="Roteiro_Linha No_Padding_Itens">
                                                        <div class="Roteiro_Col_6">
                                                            <div class="Ano_Inserir_Info Input_Info">Ano estudo</div>
                                                        </div>
                                                        <div class="Roteiro_Col_6">
                                                            <div class="Ano_Inserir_Select" id="valueAnoE">
                                                           		<input type="hidden" id="anoEditado"></input>
                                                                <input type="hidden" id="roteiroNomeEditado"></input>
                                                                <select id="Input_Roteiro_Ano" class="anoEstudoRoteiro Input_Area"></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="Item_Roteiro_Linha No_Padding_Itens">
                                                <div class="Roteiro_Col_2">
                                                    <div class="Input_Info">Roteiro</div>
                                                </div>
                                                <div class="Roteiro_Col_10">                      
                                                    <input type="hidden" id="id"></input>
                                                    <input id="Input_Roteiro_Nome" class="Input_Area" placeholder="Nome do roteiro" required> </input>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="Roteiro_Inserido" class="Roteiro_Linha">
                                            <div id="Roteiro_Inserido_Container">
                                                <div id="Rot_Inserido">
                                                    <div id="Rot_Inserido_Info">
                                                        <span class="Rot_Inserido_Ano">6º ano |</span> 
                                                        <p class="Rot_Inserido_Nome" onclick="expandirRot()">Água e hidrografia</p>
                                                        <div id="Obj_Inserido_Btns_1" class="Obj_Inserido_Btns">
                                                            <div id="Btn_Editar_Rot_1"  class="Btn_Rot Btn_Editar_Rot"></div>
                                                            <div id="Btn_Del_Rot_1" class="Btn_Rot Btn_Del_Rot"></div>
                                                        </div>
                                                    </div>
                                                    <div id="Objetivos_Inseridos_Container">
                                                    </div>
                                                </div>
                                                <div id="Inserir_objetivo" class="Roteiro_Linha">
                                                    <div class="Roteiro_Linha">
                                                        <div class="Roteiro_Col_8">
                                                            <div class="Roteiro_Linha No_Padding_Itens">
                                                                <div class="Roteiro_Col_3">                                                               
                                                                    <div id="Nome_Objetivo1" class="Nome_Objetivo_Info Input_Info">Objetivo</div>
                                                                </div>
                                                                <div class="Roteiro_Col_9">
                                                                    <input id="nomeObj1" name="nomeObj" class="Input_Area nomeObj Nome_Objetivo_Input" placeholder="Objetivo do roteiro" required> </input>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="Roteiro_Col_4">
                                                            <div class="Roteiro_Linha No_Padding_Itens">
                                                                <div class="Roteiro_Col_6">
                                                                    <div class="Input_Info Numero_Objetivo_Info">Número</div>
                                                                </div>
                                                                <div class="Roteiro_Col_6">
                                                                    <input type="text" class="Input_Area Numero_Objetivo_Input numeroObj" id="numeroObj1" value="1"></input>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="Inserir_Atividade" class="Roteiro_Linha">
                                                        <div id="Inserir_Atividades_Container">
                                                            <div class="Atividade_Linha" id="atv1">
                                                                <div class="Item_Roteiro_Linha No_Padding_Itens">
                                                                    <div class="Roteiro_Col_2">
                                                                        <div id="Atividade_Nome_Info_1" class="Input_Info Atividade_Nome_Info">Atividade</div>
                                                                    </div>
                                                                    <div class="Roteiro_Col_10">
                                                                        <input type="hidden" class="idAtv"></input>                   
                                                                        <input class="Input_Area nomeAtv" id="nomeAtv1" placeholder="Título da atividade" required> </input>
                                                                    </div>
                                                                </div>
                                                                <div class="Item_Roteiro_Linha">
                                                                    <div class="Roteiro_Col_4">
                                                                        <div class="Roteiro_Linha No_Padding_Itens">
                                                                            <div class="Roteiro_Col_6">
                                                                                <div class="Atividade_Info Input_Info numeroAtvInfo">Número</div>
                                                                            </div>
                                                                            <div class="Roteiro_Col_6">
                                                                                <div class="Atividade_Input valueNumero"><input class="Input_Area numeroAtv" id="numeroAtv1" value="1"></input></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="Roteiro_Col_4">
                                                                        <div class="Roteiro_Linha No_Padding_Itens">
                                                                            <div class="Roteiro_Col_6">
                                                                                <div class="Atividade_Info Input_Info"> Página Livro</div>
                                                                            </div>
                                                                            <div class="Roteiro_Col_6">
                                                                                <div class="Atividade_Input"><input class="Input_Area paginaAtv" id="paginaAtv1"></input></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="Roteiro_Col_4">
                                                                        <div class="Roteiro_Linha No_Padding_Itens">
                                                                            <div class="Roteiro_Col_6">
                                                                                <div class="Atividade_Info Input_Info"> Livro </div>
                                                                            </div>
                                                                            <div class="Roteiro_Col_6">
                                                                                <div class="Atividade_Input"><input class="Input_Area livroAtv" id="livroAtv1"></input></div>    
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="Roteiro_Linha">
                                                            <div class="Roteiro_Col_12">
                                                                <div id="Bt_Add_Atividade" onClick="adicionarAtividade()"></div>
                                                            </div>
                                                        </div>  
                                                    </div>
                                                </div>   
                                            </div>
                                        </div>                   
                                        <!--<div class="boxObj"> 
                                            <div id="objetivos_listados">Listagem de objetivos pelo JS</div>
                                        </div>-->
                                        <div id="Roteiro_Botoes" class="Roteiro_Linha">
                                            <div id="btnInserirRoteiro" value="" onClick="inserirRoteiro()"> Inserir </div>
                                            <div id="btnSalvarObj" value="" onClick="inserirObjetivoAtividade()"> Salvar </div>
                                           <!-- <div id="btnSalvarObjetivo" value=""> Salvar </div>
                                            <div id="btnEditarObjetivo" value="" onClick="alterarROA('Objetivo')"> Salvar </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
    					
                            <!-- Conteudo da aba de Pesquisa -->
                            <div id="Pesquisa" class="Conteudo_Aba_Cabecalho">
                                <div id="conteudo_principal_pesquisa">
                                    <div class="Item_Roteiro_Linha No_Padding_Itens">
                                                <div class="Roteiro_Col_4">
                                                    <div class="Roteiro_Linha No_Padding_Itens">
                                                        <div class="Roteiro_Col_6">
                                                            <div class="Ano_Inserir_Info Input_Info">Ano estudo</div>
                                                        </div>
                                                        <div class="Roteiro_Col_6">
                                                            <div class="Ano_Inserir_Select" id="valueAnoE">
                                                                <select id="Input_Roteiro_Ano" class="anoEstudoRoteiro Input_Area"></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    <div class="Item_Roteiro_Linha No_Padding_Itens">
                                        <div class="Roteiro_Col_12">
                                            <div class="Atividade_Input"><input class="Input_Area Input_Pesquisar_Roteiro" id="Pesquisar_Roteiro" placeholder="Pesquisar roteiros"></input></div>
                                        </div>
                                    </div>                                            
                                    <div class="boxROA"> 
                                        <div id="roteiros_listados">
                                           <div id="roteiros_listados_container">
                                               <div id="roteiro_listado_1" class="roteiro_listado">
                                                   <span id="nome_roteiro_listado_1" class="nome_roteiro_listado">Teste</span>
                                                   <div id="Roteiro_Listado_1_Btns" class="Roteiro_Listado_Btns">
                                                       <div id="Roteiro_Listado_1_Edit" class="Roteiro_Listado_Edit"></div>
                                                       <div id="Roteiro_Listado_1_Del" class="Roteiro_Listado_Del"></div>
                                                   </div>
                                               </div>
                                               <div id="roteiro_listado_2" class="roteiro_listado">
                                                   <span id="nome_roteiro_listado_2" class="nome_roteiro_listado">Teste</span>
                                                   <div id="Roteiro_Listado_2_Btns" class="Roteiro_Listado_Btns">
                                                       <div id="Roteiro_Listado_2_Edit" class="Roteiro_Listado_Edit"></div>
                                                       <div id="Roteiro_Listado_2_Del" class="Roteiro_Listado_Del"></div>
                                                   </div>
                                               </div>
                                               <div id="roteiro_listado_3" class="roteiro_listado">
                                                   <span id="nome_roteiro_listado_3" class="nome_roteiro_listado">Teste</span>
                                                   <div id="Roteiro_Listado_3_Btns" class="Roteiro_Listado_Btns">
                                                       <div id="Roteiro_Listado_3_Edit" class="Roteiro_Listado_Edit"></div>
                                                       <div id="Roteiro_Listado_3_Del" class="Roteiro_Listado_Del"></div>
                                                   </div>
                                               </div>
                                               <div id="roteiro_listado_4" class="roteiro_listado">
                                                   <span id="nome_roteiro_listado_4" class="nome_roteiro_listado">Teste</span>
                                                   <div id="Roteiro_Listado_4_Btns" class="Roteiro_Listado_Btns">
                                                       <div id="Roteiro_Listado_4_Edit" class="Roteiro_Listado_Edit"></div>
                                                       <div id="Roteiro_Listado_4_Del" class="Roteiro_Listado_Del"></div>
                                                   </div>
                                               </div>
                                           </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    					
                            <!-- Conteudo da aba de Atividades -->
                            <div id="Atividade">
                                <div id="Inserir_atividade">
                                    <div class="celulaPequena rightMargin">
                                        <div class="infoP"> Ano estudo </div>
                                        <div class="infoValueP">
                                            <div class="styled-select">
                                                <select name="anoEAtv" id="anoEAtv" onChange="listaRoteiro('anoEAtv','roteiroAtv')"></select>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="celulaMedia">
                                        <div class="infoM"> Roteiro </div>
                                        <div class="infoValueM">
                                            <div class="styled-select">
                                                <select id="roteiroAtv" class="styled-select" onChange="listagemObjetivo('objetivoAtv')"> </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="celulaGrande">
                                        <div class="infoG"> Objetivo </div>
                                        <div class="infoValueG">
                                            <div class="styled-select">
                                                <select id="objetivoAtv" class="styled-select" onChange="fltAtividades()"> </select>
                                            </div>
                                        </div>
                                    </div>
                                   <div id="btnSalvarAtividade" value=""> Salvar </div>
                                   <div id="btnEditarAtividade" value="" onClick="alterarROA('Atividade')"> Salvar </div>
                                </div>
                            </div>	
                            
                            <!-- Conteudo da aba de Roteiro Extra -->
                            <div id="RoteiroExtra" class="Conteudo_Aba_Cabecalho">
                                <div id="conteudo_principal_roteiroExtra">                                
                                    <div id="Inserir_roteiroExtra">
                                        <input id="pesquisaAluno" placeholder="Buscar Aluno" required> </input>
                                    </div>	                                    					
                                    <div class="boxAluno"> 
                                        <div id="alunos_listados">
                                        	
                                        </div>
                                    </div>			
                                </div>
                            </div>
                        </div>						
                    </div>
                </div>
                <div id="boxMensagemGeral" ></div>
                <div class="boxGlobal"></div> 
                <div id="boxModal"></div> 
				<div class="boxCalendario"></div> 
			</div>             
		</div><!--Fim Conteudo-->  
        <script type="text/javascript" src="//use.typekit.net/cjh0uzc.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>    	
      	<script src="js/jquery-ui.js"></script>
        <script type="text/javascript" src="js/malihu.3.0.3/mCustomScrollbar.js"></script>
		<script src="js/malihu.3.0.3/mCustomScrollbar.concat.min.js"></script>         
        <!--Carrega os dados do usuario logado-->          
	</body>
</html>