/*   ----------------------------------  Barras de Rolagem  ----------------------------------   */

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #ffffff !important;
}

#Conteudo_Corpo .Selecoes.PopupCalendario .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #aaa !important;
}

/*/----------------------------------- Menu Superior ------------------------------------/*/

.btnMenu{
	width : 120px;
  	height : 24px;
  	background-color: gray;
  	float: right;
  	padding-left: 0px !important;
  	padding-top: 0.3%;
  	color: white;
  	cursor: pointer;
  	text-align: center;
}

.btnMenu.Active{
  	background-color: #21AEBB;

}

.btClicked{background-color: #13818c !important;}
  	

.btnMenu.Active:hover{
  	background-color: #13818c;

}

#Conteudo_Corpo .Selecoes{display: none;}
#Conteudo_Corpo .Selecao7{display: block;}

#Conteudo_Corpo .leftSide{
	background-image: url("../img/img1note.png");
	background-position: -10px -10px;
    background-repeat: no-repeat;
    background-size: auto 606px;
    float: left;
    height: 100%;
    width: 480px;
}

#Conteudo_Corpo .rightSide{
	background-color: #f2f1ed;
    float: left;
    height: 100%;
    padding-left: 20px;
    width: 800px;
}


#Conteudo_Corpo .rightSide .contentRightSide{
	height:70%;
	width:100%;
	padding-top: 32px;	
}

#Conteudo_Corpo .rightSide .contentRightSide .contentItem{
	width: 131px;
    height: 131px;
    margin: 0 23px 20px 0px;
	float:left;
	cursor: pointer;
	background-repeat: no-repeat, no-repeat;
	background-position: center, center;
	background-size:90% auto, auto 120%;
	transition:background-size 0.5s;
	font-size:16px;
	opacity:0.5;
}

#Conteudo_Corpo .rightSide .contentRightSide .contentItem.ativo{
	opacity: 1;
}


#Conteudo_Corpo .rightSide .contentRightSide .contentItem:nth-child(3){
	background-image: url("../img/btn1_texto.png"), 
						url("../img/btn1.png");

}

#Conteudo_Corpo .rightSide .contentRightSide .contentItem:nth-child(2){
	background-image: url("../img/btn2_texto.png"), 
						url("../img/btn2.png");

}

#Conteudo_Corpo .rightSide .contentRightSide .contentItem:nth-child(1){
	background-image: url("../img/btn3_texto.png"), 
						url("../img/btn3.png");

}

#Conteudo_Corpo .rightSide .contentRightSide .contentItem:nth-child(4){
	background-image: url("../img/btn4_texto.png"), 
						url("../img/btn4.png");

}

#Conteudo_Corpo .rightSide .contentRightSide .contentItem:nth-child(5){
	background-image: url("../img/btn5_texto.png"), 
						url("../img/btn5.png");

}

#Conteudo_Corpo .rightSide .contentRightSide .contentItem:nth-child(6){
	background-image: url("../img/btn6_texto.png"), 
						url("../img/btn6.png");

}

#Conteudo_Corpo .rightSide .contentRightSide .contentItem:nth-child(7){
	background-image: url("../img/btn7_texto.png"), 
						url("../img/btn7.png");

}

#Conteudo_Corpo .rightSide .contentRightSide .contentItem:nth-child(10){

	background-image: url("../img/btn2_texto.png"), 
	url("../img/btn2.png");
}
#Conteudo_Corpo .rightSide .contentRightSide .contentItem:nth-child(9){
	background-image: url("../img/btn6_texto.png"), 
	url("../img/btn6.png");
}
#Conteudo_Corpo .rightSide .contentRightSide .contentItem:nth-child(8){
	background-image: url("../img/btn8_texto.png"), 
	url("../img/btn8.png");
}


#Conteudo_Corpo .rightSide .contentRightSide .contentItem:nth-child(5),
	#Conteudo_Corpo .rightSide .contentRightSide .contentItem:nth-child(10){
	    margin-right: 0px;
	}


#Conteudo_Corpo .rightSide .contentRightSide .contentItem.MouseHover{
	
	background-size:90% auto, auto 100%;
}



#Conteudo_Corpo .rightSide .contentLeftSide{
	width:100%;
	background-color:#EBEBE4;
    height: 232px;
    padding: 20px 0 0 10px;
}

#Conteudo_Corpo .rightSide .contentLeftSide .titulo{
	color: #cc2727;
    float: left;
    font-size: 26px;
    height: 100%;
    padding: 0px 10px;
    width: 38%;
    font-weight: 400;
}

#Conteudo_Corpo .rightSide .contentLeftSide .titulo span {

}

#Conteudo_Corpo .rightSide .contentLeftSide .texto{
	height:100%;
	width: 58%;
	float:left;
    padding: 0px 10px;
    
}

#Conteudo_Corpo .rightSide .contentLeftSide .texto span{
  
}

#Conteudo_Corpo .Selecoes.PopupProducao{
	width:100%;
	height:590px;
}

#Conteudo_Corpo .Selecoes .contentTexto{
	width:500px;
	height:591px;
	background-color:#f2f1ed;
	float:left;
	font-size: 15px;
	padding:16px 29px 20px 36px;
}

#Conteudo_Corpo .Selecoes .contentTexto h2{
	margin:0;
}

#Conteudo_Corpo .Selecoes .contentTexto p:nth-child(2){
	font-size:16px;
}

#Conteudo_Corpo .Selecoes .contentTexto p:nth-child(4){
	background-color: rgba(0, 0, 0, 0.5);
    bottom: 72px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    position: relative;
    width: 100%;

}

#Conteudo_Corpo .Selecoes.PopupProducao .contentSlide{
	width:780px;
	height:591px;
	background-color:#ebebe4;
	float:left;
	padding:10px 36px 36px 31px;
	position:relative;
}

#Conteudo_Corpo .Selecoes.PopupProducao .contentSlide .btn_close,
#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .btn_close {
	width:17px;
	height:17px;
	background-image: url("../../img/fecharSairVoltar.png");
	cursor:pointer;
	position: absolute;
	right: 35px;
	top: 10px;
}

#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .btn_close {
	top:20px;
}

#Conteudo_Corpo .Selecoes.PopupProducao .contentSlide .MainSlide{
	width:100%;
	height:400px;
	float:right;
	position:relative;
	padding:0 0;
	text-align: center;
}

#Conteudo_Corpo .Selecoes.PopupProducao .contentSlide .MainSlide .Arrow{
	width:10%;
	height:100%;
	background-color:#ebebe4;
	/* top:10px; */
	position:absolute;
	background-image: url("../../img/Arrow_pq_mod.png");
	background-repeat: no-repeat;
	background-position: center;
	display:none;
	cursor:pointer;
}


#Conteudo_Corpo .Selecoes.PopupProducao .contentSlide .MainSlide .Arrow:nth-child(1){
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
}

#Conteudo_Corpo .Selecoes.PopupProducao .contentSlide .MainSlide .Arrow:nth-child(2){
	right:0px;
}

#Conteudo_Corpo .Selecoes.PopupProducao .contentSlide .MainSlide .ConteudoMain{
	width:100%;
	height:400px;
	float:right;
	text-align: center;
	overflow: hidden;
	display:relative;
}
#Conteudo_Corpo .Selecoes.PopupProducao .contentSlide .MainSlide .ConteudoMain .legenda{
	background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    color: white;
    font-size: 12px;
    left: 10%;
    padding: 5px 11%;
    position: absolute;
    width: 80%;
}

#Conteudo_Corpo .Selecoes.PopupProducao .contentSlide .MainSlide .ConteudoMain iframe{
	position:relative;
	top:0;
	width:96%;
	height:380px;
	float:left;
}


#Conteudo_Corpo .Selecoes.PopupProducao .contentSlide .SelectionSlides{
	width:100%;
	height:400px;
	float:right;
	padding:25px 0;
}

#Conteudo_Corpo .Selecoes.PopupProducao .contentSlide .SelectionSlides .IconSlide{
	width:110px;
	height:110px;
	float:left;
	margin-right:10px;
	background-image: url("../img/btn_slide2.png");
	background-size: cover;
	cursor:pointer;
	border-bottom-width: 0px;
	border-bottom: solid #21aebb 0px;
	transition:	border-bottom-width 0.2s;
}

#Conteudo_Corpo .Selecoes.PopupProducao .contentSlide .SelectionSlides .IconSlide.borderBottom{
	border-bottom-width: 5px;
}


#Conteudo_Corpo .Selecoes.PopupProducao .contentSlide .SelectionSlides .IconSlide:last-child{
	margin-right:0px;
}

#Conteudo_Corpo .Selecao5.leftSide{
	background-image: url("../img/gutolacazGRANDE_nome.png");
	background-position: -80px 30px;
    background-repeat: repeat;
    background-size: auto 606px;
    float: left;
    height: 100%;
    width: 480px;
}
#Conteudo_Corpo .Selecao5.rightSide{
	background-color: #f2f1ed;
    float: left;
    height: 100%;
    padding-left: 20px;
    width: 800px;
}

#Conteudo_Corpo .Selecao5.rightSide .Conteudo{
	background-color: #f2f1ed;
    float: left;
    height: 100%;
    padding-left: 0px;
    width: 510px;
}

#Conteudo_Corpo .Selecao5.rightSide .Conteudo .AmorimFestas{
	width:490px;
	height:448px;
}

#Conteudo_Corpo .Selecao5.rightSide .Conteudo .AmorimFestas .imagemSuperior {
	width:490px;
	height:258px;
	background-image: url("../img/amorimFestaGDE.png");
}

#Conteudo_Corpo .Selecao5.rightSide .Conteudo .AmorimFestas .textoMeio {

	width:490px;
	height:190px;
	padding:10px;

}

#Conteudo_Corpo .Selecao5.rightSide .Conteudo .Icones {
	width:490px;
	height:110px;
}


#Conteudo_Corpo .Selecao5.rightSide .Conteudo .Icones .Icone{
    float: left;
    height: 110px;
    margin-left: 4px;
    margin-right: 10px;
    width: 110px;
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: auto, 120%;
    cursor:pointer;
    opacity: 0.5;
    transition:background-size 0.5s;

}

#Conteudo_Corpo .Selecao5.rightSide .Conteudo .Icones .Icone.Ativo{
	opacity:1;
}


#Conteudo_Corpo .Selecao5.rightSide .Conteudo .Icones .Icone:hover{
    background-size: auto, 100%;
}

#Conteudo_Corpo .Selecao5.rightSide .Conteudo .Icones .Icone:nth-child(1){
	
	background-image: url("../img/cal_txt1.png"),
							url("../img/cal_1.png");
}


#Conteudo_Corpo .Selecao5.rightSide .Conteudo .Icones .Icone:nth-child(2){
	background-image: url("../img/cal_txt2.png"),
							url("../img/cal_2.png");
}


#Conteudo_Corpo .Selecao5.rightSide .Conteudo .Icones .Icone:nth-child(3){
	background-image: url("../img/cal_txt3.png"),
							url("../img/cal_3.png");
}


#Conteudo_Corpo .Selecao5.rightSide .Conteudo .Icones .Icone:nth-child(4){
	background-image: url("../img/cal_txt4.png"),
							url("../img/cal_4.png");
	margin-right: 0px;
}


#Conteudo_Corpo .Selecao5.rightSide .Calendario{
	background-color: #95d4d8;
    float: left;
    height: 100%;
    padding-top: 54px;
    width: 270px;
    position:relative;
}

#Conteudo_Corpo .Selecao5.rightSide .Calendario .header{
    height: 40px;
    left: 12px;
    margin: 0 auto;
    position: absolute;
    top: 14px;
    width: 240px;
}


#Conteudo_Corpo .Selecao5.rightSide .Calendario .header .left{
	float:left;
	width:34px;
	height:40px;
	background-color: rgb(2, 129, 141);
	background-image: url("../img/leftArrowG.png");
	background-repeat: no-repeat;
	background-position: center;
}
#Conteudo_Corpo .Selecao5.rightSide .Calendario .header .right{
	float:left;
	width:34px;
	height:40px;
	background-color: rgb(2, 129, 141);
	background-repeat: no-repeat;
	background-image: url("../img/rightArrowG.png");
	background-position: center;
}

#Conteudo_Corpo .Selecao5.rightSide .Calendario .header .center{
	float:left;
	height:40px;
	width:172px;
	background-color: rgb(71, 149, 160);
	font-weight: bold;
	text-align:center;
	color:white;
	padding-top: 12px;
	text-transform: uppercase;
}

#Conteudo_Corpo .Selecao5.rightSide .Calendario .infos{
	height: 534px;
    margin: 0 auto;
    overflow-y: auto;
    width: 260px;

}


#Conteudo_Corpo .Selecao5.rightSide .Calendario .infos .info{
	
	height:auto;
	width:239px;
	background-color:white;
	margin: 10px auto;
	padding:20px;

}

#Conteudo_Corpo .Selecao5.rightSide .Calendario .infos .info .Titulo{
	color:rgb(219, 94, 49);
	font-weight:600;
	font-size:15px;
	text-transform: uppercase;
}


#Conteudo_Corpo .Selecao5.rightSide .Calendario .infos .info .SubTitulo{
	color:rgb(102, 102, 102);
	font-size:15px;
	text-transform: uppercase;
}


#Conteudo_Corpo .Selecao5.rightSide .Calendario .infos .info .Texto{
	color:rgb(102, 102, 102);
	font-size:14px;
}


#Conteudo_Corpo .Selecoes.PopupCalendario .contentTexto{
	width:422px;
	height:768px;
}

#Conteudo_Corpo .Selecoes.PopupCalendario .contentTexto p:nth-child(2) {
	font-size: 18px;
}

#Conteudo_Corpo .Selecoes.PopupCalendario .contentTexto p:nth-child(4) {
	background-color: rgba(0, 0, 0, 0.5);
    bottom: 72px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    position: relative;
    width: 100%;
}

#Conteudo_Corpo .Selecoes.PopupCalendario .anos
{
	width:230px;
	height:591px;
	background-color:#f0efea;
	float:left;
	padding: 10px; 
	overflow-y: auto;
	overflow-x: hidden;
}

#Conteudo_Corpo .Selecoes.PopupCalendario .anos .boxAno
{
	width:190px;
	height:auto;
	background-color:#e2e1d8;
	margin-bottom: 2px;
	padding:10px;
	cursor:pointer;
}

#Conteudo_Corpo .Selecoes.PopupCalendario .anos .boxAno .Titulo
{
	width:100%;
	height:auto;
	margin-bottom: 10px;
}


#Conteudo_Corpo .Selecoes.PopupCalendario .anos .boxAno .Imagem
{
	width:100%;
	height:auto;
	max-height: 100px;
	overflow: hidden;
}

#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide
{
	width:628px;
	height:768px;
	float:left;
	background-color:#f4f3ef;
	padding:20px 0px;
	position:relative;
}

#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .MainSlide
{
	width:100%;
	height:300px;
}

#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .AnoTitulo
{
	width:100%;
	font-size:20px;
	height:30px;
	text-align:center;
}

#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .ConteudoMain
{
	width:100%;
	height:460px;
	text-align: center;	
	position: relative;
	overflow: hidden;
}

#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .ConteudoMain .legenda
{
	width:100%;
	padding: 5px 11%;
	font-size: 12px;
	background-color:rgba(0,0,0,0.6);
	color:white;
	position:absolute;
	bottom:0;
}

#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .MainSlide .Arrow{
	width:10%;
	height:100%;
	background-color:#f4f3ef;
	top:0px; 
	position:absolute;
	background-image: url("../../img/Arrow_pq_mod.png");
	background-repeat: no-repeat;
	background-position: center;
	display:block;
	cursor:pointer;
}


#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .MainSlide .Arrow.Left{
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
}

#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .MainSlide .Arrow.Right{
	right:0px;
}

#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .MainSlide .SelectionSlides{
	height:69px;
	width: 80%;
	margin: 5px auto;
	overflow: hidden;
}

#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .MainSlide .IconSlide{
	width: 69px;
    height: 69px;
    float: left;
    margin-right: 2px;
    margin-left: 1px;
	background-image: url("../img/cal_4.png");
	background-size: cover;
	border-bottom: 0 solid #21aebb;
	transition:border-bottom 0.5s;
	cursor: pointer;
}

#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .MainSlide .IconSlide.borderBottom{
	border-bottom-width: 5px;
}

#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .MainSlide .IconSlide:last-child{
	margin-right: 0;
}

#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .ConteudoMain .legenda {
    width:100%;
	padding: 5px 11%;
	font-size: 12px;
	background-color:rgba(0,0,0,0.6);
	color:white;
	position:absolute;
	bottom:0;
}

/* Gremio */


#Conteudo_Corpo .Selecoes.Selecao3.leftSide
{
	background-image: url("../img/img_comissao_.png");
    background-position: -35px -30px;
    background-size: auto 647px;
    width: 480px;
}

#Conteudo_Corpo .Selecoes.Selecao3.rightSide {
    padding-left: 17px;
    width: 800px;
}

#Conteudo_Corpo .Selecoes.Selecao3.rightSide .contentLeftSide
{
	height:200px;
	padding-top:12px;
}

#Conteudo_Corpo .Selecoes.Selecao3.rightSide .contentLeftSide .titulo span
{
	color:#21AEBB;
}

#Conteudo_Corpo .Selecoes.Selecao3.rightSide .contentLeftSide .texto span
{
	font-size:17px;
}

#Conteudo_Corpo .Selecoes.Selecao3.rightSide .contentRightSide
{
	height: 51%;
	padding-top: 12px;
	width: 100%;
}


#Conteudo_Corpo .Selecoes.Selecao3.rightSide .contentRightSide .listaComissao
{
	height:380px;
	width:38%;
	float:left;
}

#Conteudo_Corpo .Selecoes.Selecao3.rightSide .contentRightSide .listaComissao .opcaoComissao
{
	width:100%;
	height:auto;
	padding:5px;
	font-size: 12px;
	color:#21AEBB;
	cursor:pointer;
}

#Conteudo_Corpo .Selecoes.Selecao3.rightSide .contentRightSide .listaComissao .opcaoComissao:nth-child(odd)
{
	background-color: #ebebe9;
}

#Conteudo_Corpo .Selecoes.Selecao3.rightSide .contentRightSide .listaComissao .opcaoComissao:nth-child(even)
{
	background-color: #f2f1f0;
}

#Conteudo_Corpo .Selecoes.Selecao3.rightSide .contentRightSide .listaComissao .opcaoComissao.Ativo
{
	background-color: #f7f6f5;

}


#Conteudo_Corpo .Selecoes.Selecao3.rightSide .contentRightSide .infoComissao
{
	height:380px;
	width:62%;
	float:left;
	padding:10px;
}



/* fim gremio */


@media (min-height: 640px) and (max-height: 768px){

	#Conteudo_Corpo .leftSide{
		background-position: 30px -45px;
	    background-repeat: repeat-x;
	    background-size: auto 514px;
	    width: 480px;
	}
	
	#Conteudo_Corpo .rightSide {
	    padding-left: 20px;
    	width: 800px;
	}

	#Conteudo_Corpo .rightSide .contentLeftSide {
    	height: 32%;
    	padding: 15px;
	}

	#Conteudo_Corpo .rightSide .contentRightSide {
    	height: 63%;

	padding-top:0px;
	}

	#Conteudo_Corpo .rightSide .contentRightSide .contentItem {
	    width: 135px;
	    height: 135px;
   		margin: 0 18px 11px 0px;
	}

	#Conteudo_Corpo .rightSide .contentRightSide {
	    padding-top: 10px;
	}

	#Conteudo_Corpo .Selecoes .contentTexto,
	#Conteudo_Corpo .Selecoes.PopupProducao .contentSlide {
	    height: 464px;
	}

	#Conteudo_Corpo .Selecoes .contentTexto p:nth-child(2) {
	    font-size: 14px;
	}

	#Conteudo_Corpo .Selecoes .contentTexto p:nth-child(4){

		background-color: rgba(0, 0, 0, 0.5);
	    bottom: 72px;
	    color: white;
	    font-size: 14px;
	    font-weight: 600;
	    padding: 10px;
	    position: relative;
	    width: 100%;

	}

	#Conteudo_Corpo .Selecoes.PopupProducao .contentSlide .MainSlide {
	    height: 312px;
	}

	#Conteudo_Corpo .Selecoes.PopupProducao .contentSlide .MainSlide .ConteudoMain {
	    height: 280px;
	}

	#Conteudo_Corpo .Selecoes.PopupProducao .contentSlide .MainSlide .ConteudoMain {
    	height: 280px;
    	margin: 0 auto;
	}
	#Conteudo_Corpo .Selecoes.PopupProducao .contentSlide .MainSlide .ConteudoMain {
	    float: none;
	    height: 400px;
	    width: 81%;
	}

	#Conteudo_Corpo .Selecoes.PopupProducao .contentSlide .MainSlide .ConteudoMain {
	    height: 320px;
	    margin: 0 auto;
	}

	#Conteudo_Corpo .Selecoes.PopupProducao .contentSlide .MainSlide .ConteudoMain iframe {
	    height: 320px;
	    float:none;
	}

	#Conteudo_Corpo .Selecoes.PopupProducao .contentSlide .btn_close {
	    position: absolute;
	    right: 35px;
	}

	#Conteudo_Corpo .rightSide .contentLeftSide .titulo {
		font-size: 22px;
	}

	#Conteudo_Corpo .Selecao5.leftSide{
		background-position: -80px -60px;
		
	}

	#Conteudo_Corpo .Selecao5.rightSide .Conteudo .AmorimFestas{
		height:337px;
	}

	#Conteudo_Corpo .Selecao5.rightSide .Conteudo .AmorimFestas .imagemSuperior {
	height:190px;
	}

	#Conteudo_Corpo .Selecao5.rightSide .Conteudo .AmorimFestas .textoMeio {

		height:147px;

	}

	#Conteudo_Corpo .Selecao5.rightSide .Calendario .infos{
		height: 409px;

	}


	#Conteudo_Corpo .Selecoes.PopupCalendario .contentTexto{
		width:447px;
		height:463px;
	}

	#Conteudo_Corpo .Selecoes.PopupCalendario .contentTexto p:nth-child(2) {
    	font-size: 15px;
	}

	#Conteudo_Corpo .Selecoes.PopupCalendario .contentTexto p:nth-child(4){
	    font-size: 12px;
	    background-color: rgba(0,0,0,0.6);
	    bottom: 56px;
	    color: white;
	    padding: 5px;
	}

	#Conteudo_Corpo .Selecoes.PopupCalendario .anos
	{
		width:205px;
		height:463px;
		background-color:#f0efea;
		float:left;
		padding: 10px; 
	}

	#Conteudo_Corpo .Selecoes.PopupCalendario .anos .boxAno
	{
		width:160px;
		height:auto;
		background-color:#e2e1d8;
		margin-bottom: 2px;
		padding:10px;
	}

	#Conteudo_Corpo .Selecoes.PopupCalendario .anos .boxAno .Titulo
	{
		width:100%;
		height:auto;
		margin-bottom: 10px;
	}


	#Conteudo_Corpo .Selecoes.PopupCalendario .anos .boxAno .Imagem
	{
		width:100%;
		height:auto;
		max-height: 60px;
		overflow: hidden;
	}

	#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide
	{
		width:628px;
		height:463px;
		float:left;
		background-color:#f4f3ef;
		padding:20px 0px;
		position:relative;
	}

	#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .MainSlide
	{
		width:100%;
		height:300px;
	}

	#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .AnoTitulo
	{
		width:100%;
		font-size:20px;
		height:30px;
		text-align:center;
	}

	#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .ConteudoMain
	{
		width:100%;
		height:320px;
		text-align: center;	
		position: relative;
	}

	#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .ConteudoMain .legenda
	{
		width:100%;
		padding: 5px 11%;
		font-size: 12px;
		background-color:rgba(0,0,0,0.6);
		color:white;
		position:absolute;
		bottom:0;
	}

	#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .MainSlide .Arrow{
		width:10%;
		height:100%;
		background-color:#f4f3ef;
		top:0px; 
		position:absolute;
		background-image: url("../../img/Arrow_pq_mod.png");
		background-repeat: no-repeat;
		background-position: center;
		display:block;
		cursor:pointer;
	}


	#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .MainSlide .Arrow.Left{
		transform:rotate(180deg);
		-webkit-transform:rotate(180deg);
		-moz-transform:rotate(180deg);
		-o-transform:rotate(180deg);
	}

	#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .MainSlide .Arrow.Right{
		right:0px;
	}

	#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .MainSlide .SelectionSlides{
		width: 80%;
    	margin: 5px auto;
    	overflow: hidden;
	}

	#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .MainSlide .IconSlide{
	    float: left;
	    margin-left: 1px;
		background-image: url("../img/cal_4.png");
	}

	/* Gremio */

	
	#Conteudo_Corpo .Selecoes.Selecao3.leftSide
	{
		background-image: url("../img/img_comissao_.png");
	    background-position: -35px -120px;
	    background-size: auto 647px;
	    width: 480px;
	}

	#Conteudo_Corpo .Selecoes.Selecao3.rightSide {
	    padding-left: 17px;
	    width: 800px;
	}

	#Conteudo_Corpo .Selecoes.Selecao3.rightSide .contentLeftSide
	{
		height:185px;
		padding-top:12px;
	}

	#Conteudo_Corpo .Selecoes.Selecao3.rightSide .contentLeftSide .titulo span
	{
		color:#21AEBB;
	}

	#Conteudo_Corpo .Selecoes.Selecao3.rightSide .contentLeftSide .texto span
	{
		font-size:16px;
	}

	#Conteudo_Corpo .Selecoes.Selecao3.rightSide .contentRightSide
	{
		height: 59%;
    	padding-top: 12px;
    	width: 100%;
	}


	#Conteudo_Corpo .Selecoes.Selecao3.rightSide .contentRightSide .listaComissao
	{
		height:265px;
		width:38%;
		float:left;
	}

	#Conteudo_Corpo .Selecoes.Selecao3.rightSide .contentRightSide .listaComissao .opcaoComissao
	{
		width:100%;
		height:auto;
		padding:5px;
		font-size: 12px;
		color:#21AEBB;
	}


	#Conteudo_Corpo .Selecoes.Selecao3.rightSide .contentRightSide .infoComissao
	{
		height:265px;
		width:62%;
		float:left;
		padding:10px;
	}

	/* fim gremio */



	#Conteudo_Corpo .Selecoes.PopupProducao .contentSlide .MainSlide .ConteudoMain .legenda {
	    padding:5% 2;
	    bottom: -8px;
	}




}

@media (width: 1024px) and (min-height: 509px) and (max-height: 639px){

	#Amorim_logo {
    	height: 63px;
    	width: 261px;
	}

	#Login {
	    width: 707px;
	    padding-left: 14%;
	}

	#Cabecalho {
	    height: 25.6%;
	}

	#Login_Box, #Acesso {
    	height: 94px;
	}

	#Conteudo_Corpo {
	    height: 74.4%;
	}

	.btnMenu {
    	    width: 112px;
	}

	.ultimo {
	    margin-right: 10px;
	}

	#Desenvolvido {
	    margin-left: 6.6%;
	}

	#Texto_Entrada {
	    left: 66px;
	}

	#Imagem_Abertura {
	    top: 84px;
	}
	
	#Conteudo_Corpo .rightSide .contentLeftSide {
	    height: 112px;
	}

	#Conteudo_Corpo .rightSide .contentLeftSide .titulo {
    	font-size: 19px;
	}

	#Conteudo_Corpo .rightSide .contentLeftSide .texto {
	    font-size: 14px;
	}

	#Conteudo_Corpo .rightSide .contentRightSide {
    	padding-top: 5px;
	}
	#Conteudo_Corpo .rightSide .contentRightSide .contentItem {
		margin-bottom:15px; 
	    width: 120px;
	    height: 120px;
	}

	#Conteudo_Corpo .Selecao4.leftSide,
	#Conteudo_Corpo .Selecao5.leftSide{
	    background-position: -110px -50px;
	    background-size: auto 476px;
	    width: 298px;
	}

	#Conteudo_Corpo .Selecao4.leftSide{
    	background-position: -10px -16px;
    	background-size: auto 396px;
	}

	#Conteudo_Corpo .Selecao4.rightSide,  
	#Conteudo_Corpo .Selecao5.rightSide {    
	    width: 726px;
	}

	#Conteudo_Corpo .Selecao5.rightSide .Conteudo {
	    width: 486px;
	}

	#Conteudo_Corpo .Selecao5.rightSide .Conteudo .AmorimFestas {
	    width: 374px;
	    height: 448px;
	    float: left;
	}

	#Conteudo_Corpo .Selecao5.rightSide .Conteudo .AmorimFestas .imagemSuperior {
	    width: 370px;
	    height: 228px;
	    background-position: top center;
	    background-image: url("../img/amorimFEstaNet.png");
	    background-size: 100%;
	}

	#Conteudo_Corpo .Selecao5.rightSide .Conteudo .AmorimFestas .textoMeio {
	    width: 370px;
	    font-size: 15px;
	}


	#Conteudo_Corpo .Selecao5.rightSide .Conteudo .Icones {
	    width: 100px;
	    height: 380px;
	    float: left;
	}

	#Conteudo_Corpo .Selecao5.rightSide .Conteudo .Icones .Icone {
    	float: left;
		height: 83px;
		margin-bottom: 10px;
		width: 100px;
	}

	#Conteudo_Corpo .Selecao5.rightSide .Calendario {
    	width: 220px;
    	padding-top: 49px;
	}

	#Conteudo_Corpo .Selecao5.rightSide .Calendario .header {
    	width: 195px;
    	height:35px;
	}

	#Conteudo_Corpo .Selecao5.rightSide .Calendario .header .left {
    	width: 24px;
    	height:35px;
	}

	#Conteudo_Corpo .Selecao5.rightSide .Calendario .header .right {
    	width: 24px;
    	height:35px;
	}

	#Conteudo_Corpo .Selecao5.rightSide .Calendario .header .center {
	    width: 142px;
    	height:35px;
    	padding-top: 10px;
	}

	#Conteudo_Corpo .Selecao5.rightSide .Calendario .infos {
	    height: 324px;
	    width: 195px;
	}

	#Conteudo_Corpo .Selecao5.rightSide .Calendario .infos .info {
	    width: 187px;
	}





	#Conteudo_Corpo .Selecoes .contentTexto {
	    width: 300px;
	    height: 385px;
	}

	#Conteudo_Corpo .Selecoes .contentTexto p:nth-child(2) {
	    font-size: 12px;
	}

	#Conteudo_Corpo .Selecoes .contentTexto p:nth-child(4){
	    font-size: 12px;
	    background-color: rgba(0,0,0,0.6);
	    bottom: 66px;
	    color: white;
	    padding: 5px;
	}


/* Gremio */


	#Conteudo_Corpo .Selecoes.Selecao3.leftSide
	{
		background-image: url("../img/img_comissao_.png");
		background-position: -35px -30px;
    	background-size: auto 457px;
    	width:300px;
	}

	#Conteudo_Corpo .Selecoes.Selecao3.rightSide {
	    padding-left: 17px;
	    width: 724px;
	}

	#Conteudo_Corpo .Selecoes.Selecao3.rightSide .contentLeftSide
	{
		height:134px;
		padding-top:12px;
	}

	#Conteudo_Corpo .Selecoes.Selecao3.rightSide .contentLeftSide .titulo span
	{
		color:#21AEBB;
	}

	#Conteudo_Corpo .Selecoes.Selecao3.rightSide .contentLeftSide .texto span
	{
		font-size:13px;
	}

	#Conteudo_Corpo .Selecoes.Selecao3.rightSide .contentRightSide .listaComissao
	{
		height:240px;
		width:38%;
		float:left;
	}

	#Conteudo_Corpo .Selecoes.Selecao3.rightSide .contentRightSide .listaComissao .opcaoComissao
	{
		width:100%;
		height:auto;
		padding:5px;
		font-size: 12px;
		color:#21AEBB;
	}


	#Conteudo_Corpo .Selecoes.Selecao3.rightSide .contentRightSide .infoComissao
	{
		height:240px;
		width:62%;
		float:left;
		padding:10px;
	}


/* Fim Gremio */



	#Conteudo_Corpo .Selecoes.PopupCalendario .contentTexto p:nth-child(4){
	    font-size: 12px;
	    background-color: rgba(0,0,0,0.6);
	    bottom: 52px;
	    color: white;
	    padding: 5px;
	}

	#Conteudo_Corpo .Selecoes.PopupProducao .contentSlide {
	    width: 724px;
	    height: 385px;
	}

	#Conteudo_Corpo .Selecoes.PopupProducao .contentSlide .MainSlide {
	    height: 293px;
	}

	#Conteudo_Corpo .Selecoes.PopupProducao .contentSlide .MainSlide .ConteudoMain {
	    height: 290px;
	}

	#Conteudo_Corpo .Selecoes.PopupProducao .contentSlide .MainSlide .ConteudoMain iframe {
	    width: 79%;
	    height: 290px;
        float:none;
        margin:0 auto;
	}

	#Conteudo_Corpo .Selecoes.PopupProducao .contentSlide .SelectionSlides {
	    width: 80%;
	    float:none;
	    margin: 0 auto;
	}



	#Conteudo_Corpo .Selecoes.PopupProducao .contentSlide .SelectionSlides .IconSlide {
	    width: 83px;
	    height: 73px;
	    margin-right: 5px;
	}



	#Conteudo_Corpo .Selecoes.PopupCalendario .contentTexto{
		width:342px;
		height:381px;
	}

	#Conteudo_Corpo .Selecoes.PopupCalendario .contentTexto p:nth-child(2) {
    	font-size: 12px;
	}

	#Conteudo_Corpo .Selecoes.PopupCalendario .contentTexto p:nth-child(4) {
    	font-size: 12px;
	}

	#Conteudo_Corpo .Selecoes.PopupCalendario .anos
	{
		width:164px;
		height:381px;
		background-color:#f0efea;
		float:left;
		padding: 10px; 
	}

	#Conteudo_Corpo .Selecoes.PopupCalendario .anos .boxAno
	{
		width:135px;
		height:auto;
		background-color:#e2e1d8;
		margin-bottom: 2px;
		padding:10px;
	}

	#Conteudo_Corpo .Selecoes.PopupCalendario .anos .boxAno .Titulo
	{
		width:100%;
		height:auto;
		margin-bottom: 10px;
	}


	#Conteudo_Corpo .Selecoes.PopupCalendario .anos .boxAno .Imagem
	{
		width:100%;
		height:auto;
		max-height: 40px;
		overflow: hidden;
	}

	#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide
	{
		width:518px;
		height:381px;
		float:left;
		background-color:#f4f3ef;
		padding:20px 40px;
		position:relative;
	}

	#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .MainSlide
	{
		width:100%;
		height:300px;
	}

	#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .AnoTitulo
	{
		width:100%;
		font-size:20px;
		height:30px;
		text-align:center;
	}

	#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .ConteudoMain
	{
		width:100%;
		height:270px;
		text-align: center;	
		position: relative;
	}

	#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .ConteudoMain .legenda
	{
		width:100%;
		padding: 5px 11%;
		font-size: 12px;
		background-color:rgba(0,0,0,0.6);
		color:white;
		position:absolute;
		bottom:0;
	}

	#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .MainSlide .Arrow{
		width:10%;
		height:100%;
		background-color:#f4f3ef;
		top:0px; 
		position:absolute;
		background-image: url("../../img/Arrow_pq_mod.png");
		background-repeat: no-repeat;
		background-position: center;
		display:block;
		cursor:pointer;
	}


	#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .MainSlide .Arrow.Left{
		transform:rotate(180deg);
		-webkit-transform:rotate(180deg);
		-moz-transform:rotate(180deg);
		-o-transform:rotate(180deg);
	}

	#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .MainSlide .Arrow.Right{
		right:0px;
	}

	#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .MainSlide .SelectionSlides{
		height:46px;
		width: 80%;
    	margin: 5px auto;
    	overflow: hidden;
	}

	#Conteudo_Corpo .Selecoes.PopupCalendario .contentSlide .MainSlide .IconSlide{
		width: 48px;
	    height: 48px;
	    float: left;
	    margin-right: 1px;
	    margin-left: 1px;
		background-image: url("../img/cal_4.png");
	}

	#Conteudo_Corpo .Selecoes.PopupProducao .contentSlide .MainSlide .ConteudoMain .legenda {
	    padding:5% 2;
	    bottom: 3px;
	}

}