#campo1{
    top: 14px;
    left: 80px;
}
#campo2{
    top: 73px;
    left: 336px;
}
#campo3{
    top: 112px;
    left: 58px;
}
#campo4{
    top: 113px;
    left: 62px;
}
#campo5{
    top: 80px;
    left: 333px;
}
#campo6{
    top: 120px;
    left: 63px;
}
#campo7{
    top: 87px;
    left: 357px;
}
#campo8{
    top: 93px;
    left: 358px;
}